<template>
  <q-card>
    <q-card-section class="row header-modal">
      <div class="text-h6">Add A Product By Scanning A Barcode</div>
      <q-space />
      <q-btn flat dense round icon="close" v-close-popup />
    </q-card-section>
    <q-card-section>
      <div class="hello">
        <StreamBarcodeReader
          @decode="(a, b, c) => onDecode(a, b, c)"
          @loaded="() => onLoaded()"
        ></StreamBarcodeReader>
      </div>
    </q-card-section>
    <q-card-actions align="right">
      <q-btn flat label="Back" color="primary" v-close-popup />
    </q-card-actions>
  </q-card>
</template>

<script>
import { StreamBarcodeReader } from "vue-barcode-reader";

export default {
  data() {
    return {
      id: null,
    };
  },
  methods: {
    scanBarcode() {
      console.log("scanning...");
    },
    onDecode(a, b, c) {
      console.log(a, b, c);
      this.$emit("result", a);
    },
    onLoaded() {
      console.log("load");
    },
  },
  components: {
    StreamBarcodeReader,
  },
  props: {
    msg: String,
  },
};
</script>

<style></style>
