<template>
  <q-card>
    <slot name="title">
      <q-card-section class="row header-modal bg-secondary text-white">
        <div class="text-h6">Add A Product By Scanning A Barcode</div>
        <q-space />
        <q-btn
          flat
          dense
          round
          icon="close"
          @click="$emit('close')"
          v-close-popup
        />
      </q-card-section>
    </slot>
    <q-card-section>
      <slot name="barcode">
        <p>Put the barcode scanner inside</p>
      </slot>
    </q-card-section>
    <slot name="action">
      <q-card-actions align="right" class="bg-grey-3 text-white q-pa-md">
        <q-btn
          label="Back"
          color="secondary"
          @click="$emit('close')"
          v-close-popup
        />
      </q-card-actions>
    </slot>
  </q-card>
</template>

<script>
export default {};
</script>

<style></style>
