<template>
  <div id="q-app-login" style="min-height: 100vh">
    <div class="flex flex-center column">
      <div
        class="row bg-white auth-container"
        style="min-height: 100vh; width: 100%"
      >
        <div
          id="parent"
          class="
            full-width
            row
            inline
            wrap
            justify-center
            items-center
            content-center
            justify-center
          "
          style="overflow: hidden"
        >
          <!-- <q-img
            src="https://dev.activate.vi9e.com/media/VTDDECXKFNY8W5AXF5R4JX7AN8.png"
            fit="cover"
            class="brand-logo absolute z-top"
            :class="
              $q.platform.is.versionNumber == '605' ? 'q-mt-xl' : 'q-mt-none'
            "
          /> -->
          <q-img
            src="https://dev.activate.vi9e.com/media/VTDDECXKFNY8W5AXF5R4JX7AN8.png"
            fit="cover"
            class="brand-logo absolute z-top"
          />
          <div
            class="col-lg-8 col-md-8 col-sm-none"
            style="overflow: auto; max-width: 100%"
          >
            <q-card class="no-border-radius">
              <q-card-section>
                <div class="col-12 align-items-center">
                  <q-img
                    src="https://dev.activate.vi9e.com/themes/matthew//assets/img/login-background-cn.png"
                    fit="cover"
                  />
                </div>
              </q-card-section>
            </q-card>
          </div>
          <div
            class="col-lg-4 col-md-4 col-sm-8 col-xs-12 my-card"
            style="overflow: auto"
          >
            <form @submit.prevent="submitForm">
              <q-card bordered class="my-card q-px-sm">
                <q-card-section class="text-center">
                  <div class="text-h5 text-weight-bolder text-primary">
                    Welcome to Activ8te!
                  </div>
                  <div class="q-pt-sm title-desc">
                    Please sign-in to your account and start the adventure
                  </div>
                </q-card-section>

                <q-card-section class="q-pb-xs q-gutter-xs">
                  <q-input
                    outlined
                    v-model="loginData.username"
                    label="Username"
                    :rules="requiredUsername"
                    ref="username"
                    lazy-rules
                    dense
                  />

                  <q-input
                    outlined
                    :type="isPwd ? 'password' : 'text'"
                    v-model="loginData.password"
                    :rules="requiredPassword"
                    ref="password"
                    lazy-rules
                    class="col"
                    label="Password"
                    dense
                  >
                    <template v-slot:append>
                      <q-icon
                        :name="isPwd ? 'visibility_off' : 'visibility'"
                        class="cursor-pointer"
                        @click="isPwd = !isPwd"
                      />
                    </template>
                  </q-input>
                  <p class="text-center text-negative" v-show="showErrorLogin">
                    {{ message }}
                  </p>
                </q-card-section>

                <q-card-section class="row q-py-none">
                  <q-checkbox
                    keep-color
                    v-model="rememberMe"
                    label="Remember Me"
                    color="blue"
                    class="checkbox-grey"
                  />

                  <q-space />

                  <a
                    href="#/login/forgot-password"
                    style="
                      color: #04acff;
                      text-decoration: none;
                      margin-top: 3px;
                    "
                    class="q-pr-sm vertical-align-middle"
                    >Forgot Password?</a
                  >
                </q-card-section>

                <q-card-section>
                  <q-btn
                    unelevated
                    rounded
                    label="Sign In"
                    class="text-weight-bold"
                    style="width: 100%; background-color: #04acff; color: #fff"
                    type="submit"
                  />

                  <p class="text-center q-pt-sm">
                    New on our platform?
                    <a
                      href="#/login/create-account"
                      style="color: #04acff; text-decoration: none"
                      >Create an account</a
                    >
                  </p>
                </q-card-section>

                <q-separator inset />

                <q-card-section>
                  <div
                    class="text-grey-8 q-gutter-lg q-pt-md text-center"
                    style="font-size: 2em"
                  >
                    <a
                      href="https://www.facebook.com/"
                      class="text-grey-8 socmed-link"
                      ><q-icon name="facebook"
                    /></a>
                    <a
                      href="https://www.google.com/"
                      class="text-grey-8 socmed-link"
                      ><q-icon name="mail"
                    /></a>
                    <a
                      href="https://twitter.com/"
                      class="text-grey-8 socmed-link"
                      ><q-icon name="fab fa-twitter"
                    /></a>
                    <a
                      href="https://github.com/"
                      class="text-grey-8 socmed-link"
                      ><q-icon name="fab fa-github"
                    /></a>
                  </div>
                </q-card-section>
              </q-card>
            </form>
          </div>
        </div>
        <!-- {{ loggedIn }} - {{ message }}
        <br />
        {{ showErrorLogin }} -->
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions } from "vuex";
import { mapState } from "vuex";

export default {
  // name: "Login",
  data() {
    return {
      isPwd: true,
      rememberMe: false,
      loginData: {
        username: "",
        password: "",
      },
      showErrorLogin: false,
    };
  },
  methods: {
    submitForm() {
      this.$refs.username.validate();
      this.$refs.password.validate();

      let username = this.$refs.username.value;
      let password = this.$refs.password.value;

      if (!this.$refs.username.hasError && !this.$refs.password.hasError) {
        // if everything is valid
        // this.$router.push({ path: "/" });
        console.log(this.loginData);
        this.loginProcess(this.loginData);
      } else {
        console.log(this.$refs.username.hasError);
      }
    },
    ...mapActions("auth", ["loginProcess"]),
  },
  computed: {
    requiredUsername() {
      return [(val) => (val && val.length > 0) || "Please type something"];
    },
    requiredPassword() {
      return [
        (val) => val.length >= 8 || "Please enter at least 8 characters.",
      ];
    },
    ...mapState("auth", ["loggedIn", "message"]),
  },
  watch: {
    loggedIn() {
      if (this.loggedIn) {
        this.$router.push({ path: "/" });
      }
    },
    message() {
      if (this.message !== "") {
        this.showErrorLogin = true;
      }
    },
  },
};
</script>

<style scoped lang="scss">
.q-app-login {
  background-color: #fafafa;
}

.align-items-center {
  align-items: center;
}

#q-app-login {
  .title-desc {
    color: #6c6a6c;
  }
}

.my-card {
  background: #fff;
  padding: 0px 2px;
  box-shadow: 0px 1px 3px 2px rgb(204 242 244 / 50%);
  border-radius: 25px;
  z-index: 1;
}

.remember_password {
  padding-top: 0px;
  padding-bottom: 0px;
}

.socmed-link {
  text-decoration: none;
}

.error {
  color: "red";
  border: 1px solid red;
  background-color: pink;
}

.auth-container {
  padding: 0 6%;
}

.brand-logo {
  // position: absolute;
  top: 1.5rem;
  left: 1.5rem;
  // z-index: 10;
  width: 130px;
}

@media (min-width: 1024px) {
  .brand-logo {
    display: none;
  }
}
</style>
