<template>
  <div id="q-app-login" style="min-height: 100vh">
    <div class="flex flex-center column">
      <div
        class="row bg-white"
        style="min-height: 100vh; width: 100%; padding: 24px"
      >
        <div
          id="parent"
          class="
            full-width
            row
            inline
            wrap
            justify-center
            items-center
            content-center
            justify-center
          "
          style="overflow: hidden"
        >
          <div class="col-lg-8 col-md-8 col-sm-none" style="overflow: auto">
            <q-card class="no-border-radius">
              <q-card-section>
                <div class="col-12 align-items-center">
                  <q-img
                    src="https://pixinvent.com/demo/vuexy-vuejs-admin-dashboard-template/demo-1/img/forgot-password-v2.9faba3c1.svg"
                    fit="none"
                    style="width: 80%"
                  />
                </div>
              </q-card-section>
            </q-card>
          </div>
          <div
            class="col-lg-4 col-md-4 col-sm-8 col-xs-12"
            style="overflow: auto"
          >
            <q-img
              src="https://dev.activate.vi9e.com/media/VTDDECXKFNY8W5AXF5R4JX7AN8.png"
              fit="cover"
              class="brand-logo"
              :class="
                $q.platform.is.versionNumber == '605' ? 'q-mt-xl' : 'q-mt-none'
              "
            />

            <form @submit.prevent="submitForm">
              <q-card class="my-card">
                <q-card-section class="text-center">
                  <div class="text-h5 text-weight-bolder text-primary">
                    Forgot Password? 🔐
                  </div>
                  <div class="q-pt-sm title-desc">
                    Enter your email and we'll send you instructions to reset
                    your password
                  </div>
                </q-card-section>

                <q-card-section class="q-gutter-md">
                  <div class="row q-mb-md">
                    <q-input
                      outlined
                      v-model="formData.email"
                      :rules="requiredEmail"
                      ref="email"
                      lazy-rules
                      class="col"
                      label="Email Address"
                      dense
                    />
                  </div>
                  <p
                    class="text-center text-negative"
                    v-show="errorForgotPassword !== ''"
                  >
                    {{ errorForgotPassword }}
                  </p>
                </q-card-section>

                <q-card-section>
                  <q-btn
                    unelevated
                    rounded
                    label="Send reset link"
                    class="text-weight-bold"
                    style="width: 100%; background-color: #04acff; color: #fff"
                    type="submit"
                  />

                  <p class="text-center q-pt-sm">
                    <a
                      href="#/login"
                      style="color: #04acff; text-decoration: none"
                    >
                      Back to login
                    </a>
                  </p>
                </q-card-section>
              </q-card>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions } from "vuex";
import { mapState } from "vuex";

export default {
  // name: "Forgot Password",
  data() {
    return {
      formData: {
        email: "",
      },
      showSuccesfullDialog: false,
    };
  },
  methods: {
    isValidEmailAddress(email) {
      var re =
        /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      return re.test(String(email).toLowerCase());
    },
    submitForm() {
      this.$refs.email.validate();

      let email = this.$refs.email.value;

      if (!this.$refs.email.hasError) {
        // if everything is valid
        // this.$router.push({ path: "/login" });
        try {
          this.sendResetLink(this.formData);
        } catch (err) {
          console.log(err);
        }
      } else {
        console.log(this.$refs.username.hasError);
      }
    },
    ...mapActions("auth", ["sendResetLink", "setAllBlank"]),
  },
  computed: {
    requiredEmail() {
      return [
        (val) =>
          this.isValidEmailAddress(val) ||
          "Please enter a valid email address.",
      ];
    },
    ...mapState("auth", [
      "statusSendLink",
      "errorForgotPassword",
      "messageSendLink",
    ]),
  },
  watch: {
    statusSendLink() {
      if (this.messageSendLink !== "") {
        this.$q.notify({
          message: this.messageSendLink,
          color: "positive",
          position: "center",
          icon: "thumb_up",
          multiLine: true,
          // timeout: Math.random() * 5000 + 3000,
          actions: [
            {
              label: "Dismiss",
              color: "white",
              handler: () => {
                /* ... */
              },
            },
          ],
        });

        this.$router.push({ path: "/login" });
      }
    },
  },
  mounted() {
    this.setAllBlank();
  },
};
</script>

<style scoped lang="scss">
.align-items-center {
  align-items: center;
}

#q-app-login {
  .title-desc {
    color: #6c6a6c;
  }
}

.brand-logo {
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
  z-index: 10;
  width: 130px;
}

.my-card {
  box-shadow: 0 1px 5px rgb(0 0 0 / 00%), 0 2px 2px rgb(0 0 0 / 0%),
    0 3px 1px -2px rgb(0 0 0 / 0%);
}
</style>
