<template>
  <q-input
    dense
    outlined
    :model-value="date"
    @update:modelValue="(event) => $emit('update:date', event)"
  >
    <template v-slot:append>
      <q-icon name="event" class="cursor-pointer">
        <q-popup-proxy
          ref="qDateProxy"
          transition-show="scale"
          transition-hide="scale"
        >
          <q-date
            :model-value="date"
            @update:modelValue="(event) => $emit('update:date', event)"
            mask="D MMMM YYYY"
          >
            <div class="row items-center justify-end">
              <q-btn v-close-popup label="Close" color="primary" flat />
            </div>
          </q-date>
        </q-popup-proxy>
      </q-icon>
    </template>
  </q-input>
</template>

<script>
export default {
  props: ["date"],
  emits: ["update:date"],
};
</script>

<style></style>
