<template>
  <q-input
    outlined
    dense
    :model-value="text"
    @update:modelValue="(event) => $emit('update:text', event)"
    class="search-field col"
  >
    <template v-slot:prepend>
      <q-icon name="search" />
    </template>
    <template v-slot:append>
      <q-icon
        v-if="text !== ''"
        name="close"
        @click="$emit('clear')"
        class="cursor-pointer"
        clickable
      />
    </template>
  </q-input>
</template>

<script>
export default {
  props: ["text"],
  emits: ["update:text", "clear"],
};
</script>

<style></style>
