<template>
  <div>
    <q-list bordered>
      <q-expansion-item
        v-if="accordion !== false"
        dark
        expand-separator
        :label="label"
        :header-style="headerStyle"
      >
        <q-card>
          <q-item class="items-center q-pa-md">
            <q-item-section>
              <slot name="fields2"></slot>
            </q-item-section>
          </q-item>
        </q-card>
      </q-expansion-item>
      <div v-else>
        <div v-if="headTag !== false">
          <q-banner :class="headStyle">
            {{ headName }}
          </q-banner>
        </div>
        <q-item v-if="accordion == false">
          <q-item-section>
            <slot name="fields"></slot>
          </q-item-section>
        </q-item>
      </div>
    </q-list>
  </div>
</template>

<script>
export default {
  props: {
    headTag: {
      default: false,
    },
    accordion: {
      default: false,
    },
    headName: {
      default: "",
    },
    width: {
      default: "",
    },
    headStyle: {
      default: "",
    },
    label: {
      default: "",
    },
    headerStyle: {
      default: "",
    },
  },
};
</script>

<style>
.q-banner {
  min-height: 48px;
}
</style>
