<template>
  <q-card>
    <q-card-section class="row header-modal bg-secondary">
      <div class="text-h6">Add Product Details</div>
      <q-space />
      <q-btn flat dense round icon="close" v-close-popup />
    </q-card-section>

    <q-card-section>
      <q-select
        outlined
        v-model="customerModel"
        use-input
        input-debounce="0"
        @filter="filterCustomer"
        behavior="menu"
        :options="customerOptions"
        label="Customer"
      />
    </q-card-section>

    <q-card-section>
      <q-select
        outlined
        v-model="outletModel"
        use-input
        input-debounce="0"
        @filter="filterOutlet"
        behavior="menu"
        :options="outletOptions"
        label="Outlet"
      />
    </q-card-section>

    <q-card-section class="row">
      <q-btn
        color="primary"
        text-color="white"
        unelevated
        icon="search"
        label="Search"
        @click="searchItems()"
        class="btn-custom-hover"
      />
      <q-btn
        v-if="
          ($q.platform.is.desktop ||
            $q.platform.is.chrome ||
            $q.platform.is.opera ||
            $q.platform.is.safari ||
            $q.platform.is.edge ||
            $q.platform.is.ie) &&
          !$q.platform.is.cordova
        "
        color="secondary"
        text-color="white"
        unelevated
        icon="qr_code_scanner"
        label="Barcode Scanner"
        class="barcode btn-custom-hover"
        @click="showBarcode = !showBarcode"
      />
      <q-btn
        v-else-if="$q.platform.is.mobile"
        color="secondary"
        text-color="white"
        unelevated
        icon="qr_code_scanner"
        label="Mobile Barcode Scanner"
        class="barcode btn-custom-hover"
        @click="scanImage"
      />
      <q-space />
      <q-btn
        text-color="gray"
        unelevated
        outline
        label="Add Selected Item(s)"
        icon="add"
        @click="selectItems()"
        class="btn-custom-hover"
      />
    </q-card-section>

    <q-dialog v-model="showBarcode">
      <web-scanner-design @close="showBarcode = false">
        <template #barcode>
          <div class="hello">
            <StreamBarcodeReader
              @decode="(a, b, c) => onDecode(a, b, c)"
              @loaded="() => onLoaded()"
            ></StreamBarcodeReader>
          </div>
        </template>
      </web-scanner-design>
    </q-dialog>

    <q-card-section>
      <p class="decode-result">
        Last result: <b>{{ text || "Nothing" }}</b>
      </p>
    </q-card-section>

    <q-card-section>
      <q-table
        :rows="dataItem"
        :columns="columns"
        row-key="name"
        separator="cell"
        selection="multiple"
        v-model:selected="selected"
        :selected-rows-label="getSelectedString"
        class="text-align-center grid-table"
      >
        <template v-slot:body-cell-from_storage="props">
          <q-td :props="props">
            <div>
              <q-select
                outlined
                dense
                transition-show="flip-up"
                transition-hide="flip-down"
                v-model="props.row.from_shelf_id"
                use-input
                emit-value
                map-options
                input-debounce="0"
                @filter="filterStorage"
                behavior="menu"
                :options="optionsDefaultStorage"
                style="width: 100%"
                label="Select"
              />
            </div>
          </q-td>
        </template>
        <template v-slot:body-cell-to_storage="props">
          <q-td :props="props">
            <div>
              <q-select
                outlined
                dense
                transition-show="flip-up"
                transition-hide="flip-down"
                v-model="props.row.to_shelf_id"
                use-input
                emit-value
                map-options
                input-debounce="0"
                @filter="filterStorage"
                behavior="menu"
                :options="optionsDefaultStorage"
                style="width: 100%"
                label="Select"
              />
            </div>
          </q-td>
        </template>
        <template v-slot:body-cell-qty="props">
          <q-td :props="props">
            <div>
              <q-input
                outlined
                dense
                v-model="props.row.qty"
                type="number"
                style="width: 100px"
              />
            </div>
          </q-td>
        </template>
      </q-table>
    </q-card-section>
  </q-card>
</template>

<script>
import { mapActions } from "vuex";
import { StreamBarcodeReader } from "vue-barcode-reader";
import { ref } from "vue";

const stringCustomerOptions = ["Rob", "Super", "Apple", "Oracle"];
const stringOutletOptions = [
  //   "All",
  "Main Warehouse",
  "7Eleven-001",
  "7Eleven-002",
  "7Eleven-003",
  "7Eleven-004",
];

const stringOptionsDefaultStorage = [
  {
    label: "A1-1",
    value: "1",
  },
  {
    label: "B2-1",
    value: "4",
  },
];

const dataItem = [
  {
    name: "MPEN",
    pcode: "MPEN",
    brand: "505",
    pname: "Belly Pork",
    attribute: "",
    ptype: "simple",
    category: "Tourist - Merlion Pen",
    status: "Enabled",
    imonitor: "Yes",
    istatus: "Out of Stock",
    uprice: "$12.06",
    soh: "0 PVC can",
    from_shelf_id: null,
    to_shelf_id: null,
    qty: 1,
    qtysource: 0,
    qtydestination: 0,
    customer: "Rob",
    outlet: "Main Warehouse",
    products: {
      columns: [
        {
          name: "name",
          label: "Name",
          align: "center",
          field: "name",
          sortable: true,
          headerClasses: "bg-orange text-white",
        },
        {
          name: "pcode",
          label: "Product Code",
          field: "pcode",
          sortable: true,
          headerClasses: "bg-orange text-white",
        },
        {
          name: "type",
          align: "center",
          label: "Inventory Type",
          field: "type",
          headerClasses: "bg-orange text-white",
        },
        {
          name: "available",
          align: "center",
          label: "Qty Available",
          field: "available",
          headerClasses: "bg-orange text-white",
        },
        {
          name: "required",
          label: "Required",
          field: "required",
          sortable: true,
          sort: (a, b) => parseInt(a, 10) - parseInt(b, 10),
          headerClasses: "bg-orange text-white",
        },
      ],
      data: [
        {
          name: "Pork Collar Dalia",
          pcode: "SF-OPP-B",
          type: "Finished Good",
          available: "0 pcs",
          required: "1 pcs",
        },
        {
          name: "Pork Belly Animex",
          pcode: "SF-OPP-A",
          type: "Finished Good",
          available: "0 pcs",
          required: "1 pcs",
        },
      ],
    },
  },
  {
    name: "ENV-MC-W",
    pcode: "ENV-MC-W",
    brand: "189",
    pname: "Belly Pork",
    attribute: "",
    ptype: "simple",
    category: "Tourist - Merlion Pen",
    status: "Enabled",
    imonitor: "Yes",
    istatus: "Out of Stock",
    uprice: "$12.06",
    soh: "0 PVC can",
    from_shelf_id: null,
    to_shelf_id: null,
    qty: 1,
    qtysource: 0,
    qtydestination: 0,
    customer: "Rob",
    outlet: "7Eleven-001",
    products: [],
  },
  {
    name: "P307",
    pcode: "P307",
    brand: "SULINA",
    pname: "Belly Pork",
    attribute: "",
    ptype: "simple",
    category: "Tourist - Merlion Pen",
    status: "Enabled",
    imonitor: "Yes",
    istatus: "Out of Stock",
    uprice: "$12.06",
    soh: "0 PVC can",
    from_shelf_id: null,
    to_shelf_id: null,
    qty: 1,
    qtysource: 0,
    qtydestination: 0,
    customer: "Super",
    outlet: "Main Warehouse",
    products: {
      columns: [
        {
          name: "name",
          label: "Name",
          align: "center",
          field: "name",
          sortable: true,
          headerClasses: "bg-orange text-white",
        },
        {
          name: "pcode",
          label: "Product Code",
          field: "pcode",
          sortable: true,
          headerClasses: "bg-orange text-white",
        },
        {
          name: "type",
          align: "center",
          label: "Inventory Type",
          field: "type",
          headerClasses: "bg-orange text-white",
        },
        {
          name: "available",
          align: "center",
          label: "Qty Available",
          field: "available",
          headerClasses: "bg-orange text-white",
        },
        {
          name: "required",
          label: "Required",
          field: "required",
          sortable: true,
          sort: (a, b) => parseInt(a, 10) - parseInt(b, 10),
          headerClasses: "bg-orange text-white",
        },
      ],
      data: [
        {
          name: "Pork Collar Dalia",
          pcode: "SF-OPP-B",
          type: "Finished Good",
          available: "0 pcs",
          required: "1 pcs",
        },
        {
          name: "Pork Belly Animex",
          pcode: "SF-OPP-A",
          type: "Finished Good",
          available: "0 pcs",
          required: "1 pcs",
        },
      ],
    },
  },
];

const columns = [
  {
    name: "sku",
    label: "SKU",
    align: "center",
    field: (row) => row.name,
    sortable: true,
    headerClasses: "bg-accent text-primary",
  },
  {
    name: "brand",
    align: "left",
    label: "Brand",
    field: "brand",
    sortable: true,
    headerClasses: "bg-accent text-primary",
  },
  {
    name: "product_name",
    label: "Product Name",
    field: "pname",
    sortable: true,
    headerClasses: "bg-accent text-primary",
  },
  {
    name: "attribute",
    label: "Attribute(s)",
    field: "attribute",
    headerClasses: "bg-accent text-primary",
  },
  {
    name: "product_type",
    label: "Product Type",
    field: "ptype",
    headerClasses: "bg-accent text-primary",
  },
  {
    name: "category",
    label: "Category",
    field: "category",
    headerClasses: "bg-accent text-primary",
  },
  {
    name: "status",
    label: "Status",
    field: "status",
    sortable: true,
    sort: (a, b) => parseInt(a, 10) - parseInt(b, 10),
    headerClasses: "bg-accent text-primary",
  },
  {
    name: "inventory_monitor",
    label: "Inventory Monitor",
    field: "imonitor",
    sortable: true,
    sort: (a, b) => parseInt(a, 10) - parseInt(b, 10),
    headerClasses: "bg-accent text-primary",
  },
  {
    name: "inventory_status",
    label: "Inventory Status",
    field: "istatus",
    sortable: true,
    sort: (a, b) => parseInt(a, 10) - parseInt(b, 10),
    headerClasses: "bg-accent text-primary",
  },
  {
    name: "unit_price",
    label: "Unit Price (excl. GST",
    field: "uprice",
    sortable: true,
    sort: (a, b) => parseInt(a, 10) - parseInt(b, 10),
    headerClasses: "bg-accent text-primary",
  },
  {
    name: "soh",
    label: "SOH",
    field: "soh",
    sortable: true,
    sort: (a, b) => parseInt(a, 10) - parseInt(b, 10),
    headerClasses: "bg-accent text-primary",
  },
  {
    name: "from_storage",
    label: "From Storage",
    align: "center",
    field: "from_storage",
    headerClasses: "bg-accent text-primary",
  },
  {
    name: "to_storage",
    label: "To Storage",
    align: "center",
    field: "to_storage",
    headerClasses: "bg-accent text-primary",
  },
  {
    name: "qty",
    label: "Qty",
    field: "qty",
    sortable: true,
    sort: (a, b) => parseInt(a, 10) - parseInt(b, 10),
    headerClasses: "bg-accent text-primary",
  },
];

export default {
  name: "HelloWorld",
  // setup() {
  //   const selected = ref([]);

  //   return {
  //     selected,
  //     columns,
  //     dataItem,

  //     getSelectedString() {
  //       return selected.value.length === 0
  //         ? ""
  //         : `${selected.value.length} record${
  //             selected.value.length > 1 ? "s" : ""
  //           } selected of ${dataItem.length}`;
  //     },
  //   };
  // },
  data() {
    return {
      customerModel: null,
      customerOptions: stringCustomerOptions,
      outletModel: null,
      outletOptions: stringOutletOptions,
      optionsDefaultStorage: stringOptionsDefaultStorage,
      selected: ref([]),
      text: "",
      id: null,
      showBarcode: false,
      url: "https://www.freeiconspng.com/thumbs/no-image-icon/no-image-icon-15.png",
      columns: columns,
      dataItem: dataItem,
    };
  },
  methods: {
    // GetSelected(Selected) {
    //   this.selected = Selected;
    // },
    getSelectedString() {
      return this.selected.length === 0
        ? ""
        : `${this.selected.length} record${
            this.selected.length > 1 ? "s" : ""
          } selected of ${this.dataItem.length}`;
      // return this.selected.length === 0
      //   ? ""
      //   : `${this.selected.length} record${
      //       this.selected.length > 1 ? "s" : ""
      //     } selected of ${rows.length}`;
    },
    selectItems() {
      console.log(this.selected);
      // this.addData(this.selected);
      this.$emit("selected", this.selected);
      this.$q.notify({
        message: "Data is succesfully added.",
        icon: "check_circle",
        color: "primary",
      });
    },
    filterStorage(val, update) {
      if (val === "") {
        update(() => {
          this.optionsDefaultStorage = stringOptionsDefaultStorage;
        });
        return;
      }
      update(() => {
        const needle = val.toLowerCase();
        this.optionsDefaultStorage = stringOptionsDefaultStorage.filter(
          (v) => v.label.toLowerCase().indexOf(needle) > -1
        );
      });
    },
    searchItems() {
      console.log("here is the data of the customer: " + this.customerModel);
      console.log("here is the data of the outlet: " + this.outletModel);

      if (
        (this.customerModel === null && this.outletModel === null) ||
        (this.customerModel === "All" && this.outletModel === "All")
      ) {
        console.log("A");
        this.data = listData;
      }
      //   else if (
      //     this.customerModel !== "All" &&
      //     (this.outletModel === "All" || this.outletModel === null) &&
      //     this.customerModel !== null
      //   ) {
      //     console.log("B");
      //     this.findReusableItems(this.customerModel, null, "customer");
      //   } else if (
      //     (this.customerModel === "All" || this.customerModel === null) &&
      //     this.outletModel !== "All" &&
      //     this.outletModel !== null
      //   ) {
      //     console.log("C");
      //     this.findReusableItems(this.outletModel, null, "outlet");
      //   }
      else if (this.customerModel !== null && this.outletModel !== null) {
        console.log("D");
        this.findReusableItems(this.customerModel, this.outletModel, "double");
      } else if (this.customerModel !== null) {
        console.log("E");
        this.findReusableItems(this.customerModel, null, "customer");
      } else if (this.outletModel !== null) {
        console.log("F");
        this.findReusableItems(this.outletModel, null, "outlet");
      } else {
        console.log("G");
        this.data = [];
      }
    },
    findReusableItems(model1, model2 = null, key) {
      const find1 = model1;
      const find2 = model2;

      //   if (find1 === "All" && find2 === "All") {
      //     this.data = listData;
      //     console.log("hey");
      //   }

      console.log(find2);
      const tempArr = [];
      listData.find(function (list, index) {
        if (key === "customer" && list.customer === find1) {
          tempArr.push(list);
          console.log("hey2");
        } else if (key === "outlet" && list.outlet === find1) {
          tempArr.push(list);
          console.log("hey3");
        }
        // else if (
        //   key === "double" &&
        //   list.customer === find1 &&
        //   list.outlet === "All"
        // ) {
        //   tempArr.push(list);
        //   console.log("hey4");
        // }
        // else if (
        //   key === "double" &&
        //   list.customer === "All" &&
        //   list.outlet === find2
        // ) {
        //   tempArr.push(list);
        //   console.log("hey5");
        // }
        else if (
          key === "double" &&
          list.customer === find1 &&
          list.outlet === find2
        ) {
          tempArr.push(list);
          console.log("hey6");
        }
      });
      this.data = tempArr;
    },
    filterCustomer(val, update) {
      if (val === "") {
        update(() => {
          this.customerOptions = stringCustomerOptions;
        });
        return;
      }

      update(() => {
        const needle = val.toLowerCase();
        this.customerOptions = stringCustomerOptions.filter(
          (v) => v.toLowerCase().indexOf(needle) > -1
        );
        this.customerModel = val;
      });
    },
    filterOutlet(val, update) {
      if (val === "") {
        update(() => {
          this.outletOptions = stringOutletOptions;
        });
        return;
      }

      update(() => {
        const needle = val.toLowerCase();
        this.outletOptions = stringOutletOptions.filter(
          (v) => v.toLowerCase().indexOf(needle) > -1
        );
        this.outletModel = val;
      });
    },
    scanBarcode() {
      console.log("scanning...");
    },
    onDecode(a, b, c) {
      console.log(a, b, c);
      this.text = a;
      if (this.id) clearTimeout(this.id);
      this.id = setTimeout(() => {
        if (this.text === a) {
          this.text = "";
        }
      }, 5000);
      if (a != "") {
        this.showBarcode = false;
      }
    },
    onLoaded() {
      console.log("load");
    },
    scanImage() {
      cordova.plugins.barcodeScanner.scan(
        (result) => {
          // alert(
          //   "We got a barcode\n" +
          //     "Result: " +
          //     result.text +
          //     "\n" +
          //     "Format: " +
          //     result.format +
          //     "\n" +
          //     "Cancelled: " +
          //     result.cancelled
          // );

          this.text = result.text;
        },
        (error) => {
          alert("Scanning failed: " + error);
        },
        {
          preferFrontCamera: true, // iOS and Android
          showFlipCameraButton: true, // iOS and Android
          showTorchButton: true, // iOS and Android
          torchOn: true, // Android, launch with the torch switched on (if available)
          saveHistory: true, // Android, save scan history (default false)
          prompt: "Place a barcode inside the scan area", // Android
          resultDisplayDuration: 500, // Android, display scanned text for X ms. 0 suppresses it entirely, default 1500
          //formats : "QR_CODE,PDF_417", // default: all but PDF_417 and RSS_EXPANDED
          orientation: "landscape", // Android only (portrait|landscape), default unset so it rotates with the device
          disableAnimations: true, // iOS
          disableSuccessBeep: true, // iOS and Android
        }
      );
    },
    ...mapActions("items", ["addData"]),
  },
  components: {
    StreamBarcodeReader,
  },
  props: {
    msg: String,
  },
};
</script>

<style lang="scss" scoped>
.header-modal {
  background-color: #161e6f;
  color: white;
}

.custom-width {
  width: 300px !important;
  max-width: 200px !important;
}

.text-align-center {
  text-align: center;
}

.error {
  font-weight: bold;
  color: red;
}

@media (min-width: 420px) {
  .barcode {
    margin-left: 10px;
  }
}
</style>
