<template>
  <q-card>
    <slot name="title">
      <q-card-section class="row header-modal bg-secondary text-white">
        <div class="text-h6">{{ showTitle }}</div>
        <q-space />
        <q-btn flat dense round icon="close" v-close-popup />
      </q-card-section>
    </slot>

    <slot name="content">
      <q-card-section class="items-center text-center">
        <q-avatar
          :icon="showIcon"
          text-color="orange"
          font-size="70px"
          size="70px"
        />

        <br />
        <span class="q-ml-sm">{{ showText }}</span>
      </q-card-section>
    </slot>

    <slot name="action">
      <q-card-actions class="bg-grey-3 text-white q-pa-md">
        <q-btn
          label="Yes"
          color="secondary"
          @click="$emit('click-agree')"
          v-close-popup
        />
        <q-space />
        <q-btn
          label="Cancel"
          color="white"
          text-color="grey"
          @click="$emit('click-cancel')"
        />
      </q-card-actions>
    </slot>
  </q-card>
</template>

<script>
export default {
  props: ["title", "icon", "text"],
  computed: {
    showTitle() {
      return this.title ? this.title : "Back to List";
    },
    showIcon() {
      return this.icon ? this.icon : "error_outline";
    },
    showText() {
      return this.text
        ? this.text
        : "Are you sure you want to leave this page? You can lose the data you've inputted.";
    },
  },
};
</script>

<style></style>
