<template>
  <q-card>
    <q-card-section class="row header-modal bg-secondary text-white">
      <div :class="{ 'text-h6': !$q.screen.lt.sm }">{{ statusTitle }}</div>
      <q-space />
      <q-btn flat dense round icon="close" v-close-popup />
    </q-card-section>

    <q-card-section
      class="items-center scroll details text-center"
      v-for="(d, index) in data"
      :key="index"
      style="max-height: 60vh"
    >
      <q-img
        :src="d.image_url"
        spinner-color="white"
        style="width: 100px; height: 100px"
      />
      <p>{{ d.sku }}</p>
      <p class="no-margin no-padding">{{ d.product_name }}</p>
      <p class="no-margin no-padding">
        {{ d.product_kind }}
      </p>
      <p class="no-margin no-padding">
        {{ d.inventory_type }}
      </p>

      <q-list>
        <q-item>
          <q-item-section class="flex-grow-0"
            ><b>Request Qty</b></q-item-section
          >

          <q-item-section class="flex-grow-1">
            <div class="row">
              <q-btn
                dense
                padding="sm"
                color="secondary"
                icon="remove"
                :disable="action === 'update'"
                @click="remove(1, 'request_qty')"
              />
              <q-input
                dense
                class="col input"
                standout
                disable
                readonly
                :label="temp.request_qty"
              />
              <q-btn
                dense
                padding="sm"
                color="secondary"
                icon="add"
                :disable="action === 'update'"
                @click="add(1, 'request_qty')"
              />
            </div>
            <!-- <q-input v-model.number="d.received" type="number" outlined dense /> -->
          </q-item-section>
        </q-item>

        <q-item v-show="type == 'no-data'">
          <q-item-section class="flex-grow-0"><b>From Qty</b></q-item-section>

          <q-item-section class="flex-grow-1">
            <div class="row">
              <q-btn
                dense
                padding="sm"
                color="secondary"
                icon="remove"
                @click="remove(1, 'qty_from')"
              />
              <q-input
                dense
                class="col input"
                standout
                disable
                readonly
                :label="temp.qty_from"
              />
              <q-btn
                dense
                padding="sm"
                color="secondary"
                icon="add"
                @click="add(1, 'qty_from')"
              />
            </div>
            <!-- <q-input v-model.number="d.spoiled" type="number" outlined dense /> -->
          </q-item-section>
        </q-item>

        <q-item v-show="type == 'data'">
          <q-item-section class="flex-grow-0"
            ><b>Transferred Qty</b></q-item-section
          >

          <q-item-section class="flex-grow-1">
            <div class="row">
              <q-btn
                dense
                padding="sm"
                color="secondary"
                icon="remove"
                @click="remove(1, 'transferred_qty')"
              />
              <q-input
                dense
                class="col input"
                standout
                disable
                readonly
                :label="temp.transferred_qty"
              />
              <q-btn
                dense
                padding="sm"
                color="secondary"
                icon="add"
                @click="add(1, 'transferred_qty')"
              />
            </div>
            <!-- <q-input v-model.number="d.spoiled" type="number" outlined dense /> -->
          </q-item-section>
        </q-item>

        <q-item>
          <q-item-section class="flex-grow-0"
            ><b
              >From Storage<span style="color: red">*</span></b
            ></q-item-section
          >

          <q-item-section :class="action === 'create' ? 'flex-grow-2' : ''">
            <q-select
              outlined
              dense
              transition-show="flip-up"
              transition-hide="flip-down"
              v-model="temp.from_shelf_id"
              use-input
              emit-value
              map-options
              :display-value="temp.displayValueFrom"
              input-debounce="0"
              @filter="filterStorage"
              behavior="menu"
              :options="optionsDefaultStorage"
              style="width: 100%"
              :disable="action === 'update'"
            />
          </q-item-section>
          <q-item-section v-if="action === 'create'">
            <q-btn
              flat
              round
              color="primary"
              icon="photo_camera"
              v-if="
                ($q.platform.is.desktop ||
                  $q.platform.is.chrome ||
                  $q.platform.is.opera ||
                  $q.platform.is.safari ||
                  $q.platform.is.edge ||
                  $q.platform.is.ie) &&
                !$q.platform.is.cordova
              "
              @click="$emit('web-barcode')"
            />

            <q-btn
              flat
              round
              color="primary"
              size="24px"
              icon="photo_camera"
              v-else-if="$q.platform.is.mobile"
              @click="$emit('mobile-barcode')"
            />
          </q-item-section>
        </q-item>

        <q-item>
          <q-item-section class="flex-grow-0"
            ><b>To Storage<span style="color: red">*</span></b></q-item-section
          >
          <q-item-section :class="action === 'create' ? 'flex-grow-2' : ''">
            <q-select
              outlined
              dense
              transition-show="flip-up"
              transition-hide="flip-down"
              v-model="temp.to_shelf_id"
              use-input
              emit-value
              map-options
              :display-value="temp.displayValueTo"
              input-debounce="0"
              @filter="filterStorage"
              behavior="menu"
              :options="optionsDefaultStorage"
              style="width: 100%"
              :disable="action === 'update'"
            />
          </q-item-section>
          <q-item-section v-if="action === 'create'">
            <q-btn
              flat
              round
              color="primary"
              icon="photo_camera"
              v-if="
                ($q.platform.is.desktop ||
                  $q.platform.is.chrome ||
                  $q.platform.is.opera ||
                  $q.platform.is.safari ||
                  $q.platform.is.edge ||
                  $q.platform.is.ie) &&
                !$q.platform.is.cordova
              "
              @click="$emit('web-barcode')"
            />

            <q-btn
              flat
              round
              color="primary"
              size="24px"
              icon="photo_camera"
              v-else-if="$q.platform.is.mobile"
              @click="$emit('mobile-barcode')"
            />
          </q-item-section>
        </q-item>

        <q-item>
          <q-item-section class="flex-grow-0"><b>Exp Date</b></q-item-section>

          <q-item-section class="flex-grow-1">
            <q-input dense outlined v-model="temp.expired_date">
              <template v-slot:append>
                <q-icon name="event" class="cursor-pointer">
                  <q-popup-proxy
                    ref="qDateProxy"
                    transition-show="scale"
                    transition-hide="scale"
                  >
                    <q-date v-model="temp.expired_date" mask="D MMMM YYYY">
                      <div class="row items-center justify-end">
                        <q-btn
                          v-close-popup
                          label="Close"
                          color="primary"
                          flat
                        />
                      </div>
                    </q-date>
                  </q-popup-proxy>
                </q-icon>
              </template>
            </q-input>
          </q-item-section>
        </q-item>

        <q-item>
          <q-item-section class="flex-grow-0"><b>Remarks</b></q-item-section>

          <q-item-section class="flex-grow-1">
            <q-input v-model="temp.remarks" outlined autogrow clearable />
          </q-item-section>
        </q-item>
      </q-list>
    </q-card-section>

    <q-card-actions
      class="text-white justify-center"
      :class="$q.screen.lt.sm ? 'q-pa-sm' : 'q-pa-md'"
    >
      <q-btn
        color="secondary"
        label="Submit"
        @click="submitFormData"
        :disable="temp.from_shelf_id === null && temp.to_shelf_id"
        v-close-popup
      />
    </q-card-actions>
  </q-card>
</template>

<script>
import { ref } from "vue";

// const stringOptionsDefaultStorage = [
//   "Storage A1-1",
//   "Storage A2-1",
//   "Storage A3-1",
//   "Storage A1-2",
//   "Storage A2-2",
// ];

// const stringOptionsDefaultStorage = [
//   {
//     label: "Storage A1-1",
//     value: "1",
//   },
//   {
//     label: "Storage A2-1",
//     value: "2",
//   },
//   {
//     label: "Storage A3-1",
//     value: "3",
//   },
//   {
//     label: "Storage A1-2",
//     value: "4",
//   },
//   {
//     label: "Storage A2-2",
//     value: "5",
//   },
// ];

export default {
  props: ["data", "storages", "action", "type"],
  data() {
    return {
      url: "https://www.freeiconspng.com/thumbs/no-image-icon/no-image-icon-15.png",
      optionsDefaultStorage: [],
      // optionsDefaultStorage: stringOptionsDefaultStorage,
      //   optionsDefaultStorage: this.storages,
      text: "",
      showBarcode: false,
      temp: ref({
        id: "0",
        qty_from: "0",
        qty_to: 0,
        from_shelf_id: null,
        request_qty: "0",
        transferred_qty: "0",
        // from_storage: null,
        displayValueFrom: "",
        to_shelf_id: null,
        // to_storage: null,
        displayValueTo: "",
        expired_date: "",
        remarks: "",
        action: "",
      }),
    };
  },
  computed: {
    statusTitle() {
      let title = ref("");
      Object.entries(this.data).forEach((e) => {
        console.log("HERE: ", e[1]);
        title = e[1].product_name + " - " + e[1].product_id;
      });
      return title;
    },
    // stringOptionsDefaultStorage() {
    //   let defaultStorage = [];
    //   Object.entries(this.data).forEach((e) => {
    //     defaultStorage = e[1].storage;
    //   });
    //   return defaultStorage;
    // },
    fromShelfId() {
      return this.temp.from_shelf_id;
    },
    toShelfId() {
      return this.temp.to_shelf_id;
    },
  },
  methods: {
    filterStorage(val, update) {
      if (val === "") {
        update(() => {
          this.optionsDefaultStorage = this.storages;
        });
        return;
      }
      update(() => {
        const needle = val.toLowerCase();
        this.optionsDefaultStorage = this.storages.filter(
          (v) => v.label.toLowerCase().indexOf(needle) > -1
        );
      });
    },
    add(num, key) {
      // Object.entries(this.data).forEach((e) => {
      //   e[1][key] = parseInt(e[1][key]) + num;
      // });
      let temp = parseInt(this.temp[key]) + num;
      this.temp[key] = temp.toString();
    },
    remove(num, key) {
      // Object.entries(this.data).forEach((e) => {
      //   e[1][key] = parseInt(e[1][key]) - num;
      // });
      let temp = parseInt(this.temp[key]) - num;
      this.temp[key] = temp.toString();
    },
    setDisplayValue(column, displayValue) {
      let varTemp = {
        ...this.storages.find((o) => o.value === this.temp[column]),
      };

      this.temp[displayValue] = varTemp.label;
    },
    submitFormData() {
      this.$emit("post", this.temp);
    },
  },
  watch: {
    fromShelfId() {
      this.setDisplayValue("from_shelf_id", "displayValueFrom");
    },
    toShelfId() {
      this.setDisplayValue("to_shelf_id", "displayValueTo");
    },
  },
  created() {
    console.log("DATA: ", this.data);

    Object.entries(this.data).forEach((e) => {
      this.temp.id = e[1].internal_transfer_item_id;
      this.temp.qty_from = e[1].qty_from ? e[1].qty_from.toString() : "0";
      this.temp.request_qty = e[1].transfer_qty
        ? e[1].transfer_qty.toString()
        : "0";
      this.temp.qty_to = e[1].qty_to;
      // this.temp.qty_from = e[1].qty_from.toString();
      this.temp.transferred_qty = e[1].transferred_qty
        ? e[1].transferred_qty.toString()
        : "0";
      this.temp.from_shelf_id = e[1].from_shelf_id;
      //   this.temp.from_storage = e[1].from_storage;
      // this.temp.displayValueFrom = this.storages.find(
      //   (o) => o.value == e[1].from_shelf_id
      // ).label;
      // this.setDisplayValue("from_shelf_id", "displayValueFrom");
      this.temp.to_shelf_id = e[1].to_shelf_id;
      //   this.temp.to_storage = e[1].to_storage;
      // this.temp.displayValueTo = this.storages.find(
      //   (o) => o.value == e[1].to_shelf_id
      // ).label;
      // this.setDisplayValue("to_shelf_id", "displayValueTo");
      this.temp.expired_date = e[1].expired_date;
      this.temp.remarks = e[1].remarks;

      let varTempFrom = {
        ...this.storages.find((o) => o.value == e[1].from_shelf_id),
      };

      console.log("FROMMM: ", varTempFrom);

      this.temp.displayValueFrom = varTempFrom.label;

      let varTempTo = {
        ...this.storages.find((o) => o.value == e[1].to_shelf_id),
      };

      this.temp.displayValueTo = varTempTo.label;
    });

    console.log("TEMP: ", this.temp);
  },
};
</script>

<style>
.flex-grow-0 {
  flex: 0 0 35%;
}
.flex-grow-1 {
  flex: 0 0 65%;
}

.flex-grow-2 {
  flex: 0 0 45%;
}

.details.q-card__section--vert {
  padding: 4px;
}

.details .q-field {
  font-size: 12px;
}

.details .q-field--dense .q-field__label {
  text-align: center;
}
</style>
