<template>
  <q-card>
    <q-card-section class="row header-modal bg-secondary text-white">
      <div :class="{ 'text-h6': !$q.screen.lt.sm }">{{ statusTitle }}</div>
      <q-space />
      <q-btn flat dense round icon="close" v-close-popup />
    </q-card-section>

    <q-card-section
      class="items-center scroll details text-center"
      v-for="(d, index) in data"
      :key="index"
      style="max-height: 60vh"
    >
      <q-img
        :src="d.image_url"
        spinner-color="white"
        style="width: 100px; height: 100px"
      />
      <p>{{ d.sku }}</p>
      <p class="no-margin no-padding">{{ d.name }}</p>
      <p class="no-margin no-padding">
        {{ d.product_kind }}
      </p>
      <p class="no-margin no-padding">
        {{ d.inventory_type }}
      </p>

      <q-list>
        <q-item>
          <q-item-section class="flex-grow-0"
            ><b>Qty Received</b></q-item-section
          >

          <q-item-section class="flex-grow-1">
            <div class="row">
              <q-btn
                dense
                padding="sm"
                color="secondary"
                icon="remove"
                @click="remove(1, 'qtyreceived')"
              />
              <q-input
                dense
                class="col input"
                standout
                disable
                readonly
                :label="temp.qtyreceived"
              />
              <q-btn
                dense
                padding="sm"
                color="secondary"
                icon="add"
                @click="add(1, 'qtyreceived')"
              />
            </div>
            <!-- <q-input v-model.number="d.received" type="number" outlined dense /> -->
          </q-item-section>
        </q-item>

        <q-item>
          <q-item-section class="flex-grow-0"
            ><b>Qty Spoilage</b></q-item-section
          >

          <q-item-section class="flex-grow-1">
            <div class="row">
              <q-btn
                dense
                padding="sm"
                color="secondary"
                icon="remove"
                @click="remove(1, 'qtyspoiled')"
              />
              <q-input
                dense
                class="col input"
                standout
                disable
                readonly
                :label="temp.qtyspoiled"
              />
              <q-btn
                dense
                padding="sm"
                color="secondary"
                icon="add"
                @click="add(1, 'qtyspoiled')"
              />
            </div>
            <!-- <q-input v-model.number="d.spoiled" type="number" outlined dense /> -->
          </q-item-section>
        </q-item>

        <q-item>
          <q-item-section class="flex-grow-0"
            ><b>Storage<span style="color: red">*</span></b></q-item-section
          >

          <q-item-section class="flex-grow-2">
            <q-select
              outlined
              dense
              transition-show="flip-up"
              transition-hide="flip-down"
              v-model="temp.defaultStorage"
              use-input
              emit-value
              map-options
              input-debounce="0"
              @filter="filterStorage"
              behavior="menu"
              :options="optionsDefaultStorage"
              style="width: 100%"
            />
          </q-item-section>
          <q-item-section>
            <q-btn
              flat
              round
              color="primary"
              icon="photo_camera"
              v-if="
                ($q.platform.is.desktop ||
                  $q.platform.is.chrome ||
                  $q.platform.is.opera ||
                  $q.platform.is.safari ||
                  $q.platform.is.edge ||
                  $q.platform.is.ie) &&
                !$q.platform.is.cordova
              "
              @click="$emit('web-barcode')"
            />

            <q-btn
              flat
              round
              color="primary"
              size="24px"
              icon="photo_camera"
              v-else-if="$q.platform.is.mobile"
              @click="$emit('mobile-barcode')"
            />
          </q-item-section>
        </q-item>

        <q-item>
          <q-item-section class="flex-grow-0"><b>Exp Date</b></q-item-section>

          <q-item-section class="flex-grow-1">
            <q-input dense outlined v-model="temp.expdate">
              <template v-slot:append>
                <q-icon name="event" class="cursor-pointer">
                  <q-popup-proxy
                    ref="qDateProxy"
                    transition-show="scale"
                    transition-hide="scale"
                  >
                    <q-date v-model="temp.expdate" mask="D MMMM YYYY">
                      <div class="row items-center justify-end">
                        <q-btn
                          v-close-popup
                          label="Close"
                          color="primary"
                          flat
                        />
                      </div>
                    </q-date>
                  </q-popup-proxy>
                </q-icon>
              </template>
            </q-input>
          </q-item-section>
        </q-item>

        <q-item>
          <q-item-section class="flex-grow-0"><b>Remarks</b></q-item-section>

          <q-item-section class="flex-grow-1">
            <q-input v-model="temp.remarks" outlined autogrow clearable />
          </q-item-section>
        </q-item>
      </q-list>
    </q-card-section>

    <q-card-actions
      class="text-white justify-center"
      :class="$q.screen.lt.sm ? 'q-pa-sm' : 'q-pa-md'"
    >
      <q-btn
        color="secondary"
        label="Submit"
        @click="submitFormData"
        :disable="temp.defaultStorage === null"
        v-close-popup
      />
    </q-card-actions>
  </q-card>
</template>

<script>
// const stringOptionsDefaultStorage = [
//   "Storage A1-1",
//   "Storage A2-1",
//   "Storage A3-1",
//   "Storage A1-2",
//   "Storage A2-2",
// ];

// const stringOptionsDefaultStorage = [
//   {
//     label: "Storage A1-1",
//     value: "1",
//   },
//   {
//     label: "Storage A2-1",
//     value: "2",
//   },
//   {
//     label: "Storage A3-1",
//     value: "3",
//   },
//   {
//     label: "Storage A1-2",
//     value: "4",
//   },
//   {
//     label: "Storage A2-2",
//     value: "5",
//   },
// ];

export default {
  props: ["data", "storages", "action"],
  data() {
    return {
      url: "https://www.freeiconspng.com/thumbs/no-image-icon/no-image-icon-15.png",
      // optionsDefaultStorage: [],
      // optionsDefaultStorage: stringOptionsDefaultStorage,
      optionsDefaultStorage: this.storages,
      text: "",
      showBarcode: false,
      temp: {
        id: "0",
        qtyreceived: "0",
        qtyspoiled: "0",
        expdate: "",
        defaultStorage: null,
        remarks: "",
        storage_key: "",
        action: "",
      },
    };
  },
  computed: {
    statusTitle() {
      let title = "";
      Object.entries(this.data).forEach((e) => {
        title = e[1].name + " - " + e[1].product_id;
      });
      return title;
    },
    // stringOptionsDefaultStorage() {
    //   let defaultStorage = [];
    //   Object.entries(this.data).forEach((e) => {
    //     defaultStorage = e[1].storage;
    //   });
    //   return defaultStorage;
    // },
  },
  methods: {
    filterStorage(val, update) {
      if (val === "") {
        update(() => {
          this.optionsDefaultStorage = this.storages;
        });
        return;
      }

      update(() => {
        const needle = val.toLowerCase();
        this.optionsDefaultStorage = this.storages.filter(
          (v) => v.label.toLowerCase().indexOf(needle) > -1
        );
      });
    },
    add(num, key) {
      // Object.entries(this.data).forEach((e) => {
      //   e[1][key] = parseInt(e[1][key]) + num;
      // });
      let temp = parseInt(this.temp[key]) + num;
      this.temp[key] = temp.toString();
    },
    remove(num, key) {
      // Object.entries(this.data).forEach((e) => {
      //   e[1][key] = parseInt(e[1][key]) - num;
      // });
      let temp = parseInt(this.temp[key]) - num;
      this.temp[key] = temp.toString();
    },
    submitFormData() {
      this.$emit("post", this.temp);
    },
  },
  created() {
    // let defaultStorage = [];
    // Object.entries(this.data).forEach((e) => {
    //   defaultStorage = e[1].storage;
    // });
    // this.optionsDefaultStorage = defaultStorage;
    console.log("DATA: ", this.data);

    if (this.action === "update") {
      Object.entries(this.data).forEach((e) => {
        this.temp.id = e[1].product_id;
        this.temp.qtyreceived = e[1].update.qtyreceived.toString();
        this.temp.qtyspoiled = e[1].update.qtyspoiled.toString();
        this.temp.defaultStorage = e[1].update.id_storage;
        this.temp.expdate = e[1].update.expdate;
        this.temp.remarks = e[1].update.remarks;
        this.temp.storage_key = e[1].update.storage_key;
        this.temp.action = this.action;
      });
    } else {
      Object.entries(this.data).forEach((e) => {
        this.temp.id = e[1].product_id;
        // this.temp.qtyreceived = e[1].qty_received;
        // this.temp.qtyspoiled = e[1].qty_spoiled;
        this.temp.defaultStorage = e[1].storage;
        // this.temp.expdate = e[1].expdate;
        // this.temp.remarks = e[1].remarks;
      });
    }
  },
};
</script>

<style>
.flex-grow-0 {
  flex: 0 0 35%;
}
.flex-grow-1 {
  flex: 0 0 65%;
}

.flex-grow-2 {
  flex: 0 0 45%;
}

.details.q-card__section--vert {
  padding: 4px;
}

.details .q-field {
  font-size: 12px;
}

.details .q-field--dense .q-field__label {
  text-align: center;
}
</style>
