<template>
  <div class="q-pa-md">
    <form @submit.prevent="submitData" class="q-gutter-sm">
      <div class="row items-center justify-center" v-show="!$q.screen.lt.sm">
        <p
          class="text-h6 text-weight-bolder no-margin vertical-align-middle"
          v-show="!$q.screen.lt.sm"
        >
          {{ $route.name }} - {{ $route.params.printed_id }}
        </p>
        <q-space v-if="!$q.screen.lt.sm" />
        <div class="q-gutter-sm">
          <submit-button />
          <back-button :confirm="true" />
        </div>
      </div>

      <q-separator v-show="!$q.screen.lt.sm" />

      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 order">
          <formPanel
            accordion
            label="PO Detail"
            :headerStyle="{
              background: '#161e6f',
              fontSize: '14px',
              color: '#fff',
            }"
          >
            <template v-slot:fields2>
              <q-input
                outlined
                readonly
                label="PO ID"
                lazy-rules
                v-model="header.printed_id"
                class="q-mb-md"
              />
              <q-input
                outlined
                readonly
                label="PO Date"
                lazy-rules
                v-model="header.created_on"
                class="q-mb-md"
              />
              <q-input
                outlined
                readonly
                label="Vendor"
                lazy-rules
                v-model="header.vendor_id"
                class="q-mb-md"
              />
            </template>
          </formPanel>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-12 order">
          <formPanel
            accordion
            label="Goods Receive Detail"
            :headerStyle="{
              background: '#161e6f',
              fontSize: '14px',
              color: '#fff',
            }"
          >
            <template v-slot:fields2>
              <q-input
                outlined
                readonly
                label="Store Name"
                lazy-rules
                v-model="header.store_name"
                class="q-mb-md"
              />

              <q-select
                outlined
                class="q-mb-md select-custom"
                transition-show="flip-up"
                transition-hide="flip-down"
                v-model="receivedBy"
                use-input
                emit-value
                map-options
                :display-value="displayValue"
                input-debounce="0"
                @filter="filterReceived"
                behavior="menu"
                :options="optionsReceivedBy"
                style="width: 100%"
                label="Received By"
              />

              <q-select
                outlined
                class="q-mb-md select-custom"
                transition-show="flip-up"
                transition-hide="flip-down"
                v-model="defaultStorage"
                use-input
                emit-value
                map-options
                input-debounce="0"
                @filter="filterStorage"
                behavior="menu"
                :options="optionsDefaultStorage"
                style="width: 100%"
                label="Default Storage"
              />
            </template>
          </formPanel>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-12 order products-detail">
          <formPanel
            accordion
            label="Goods Receive"
            :headerStyle="{
              background: '#161e6f',
              fontSize: '14px',
              color: '#fff',
            }"
          >
            <template v-slot:fields2>
              <item-list
                :items="items"
                :columns="columns"
                :productColumns="productColumns"
                @create="openDetail"
                @update="openDetailPerStorage"
              />
            </template>
          </formPanel>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-12 order">
          <!-- <input
            @change="handleImage"
            class="custom-input"
            type="file"
            accept="image/*"
          />
          <img :src="remoteUrl" alt="" /> -->
          <!-- <q-uploader
            url="http://localhost:4444/upload"
            label="Documents"
            multiple
            class="full-width full-height"
            @failed="failedUpload"
          /> -->
          <!-- In case base64 encoder, use the method 'handleImageBase64' and 'server' folder in vi8e folder -->
          <!-- This one uses serverq -->
          <!-- <q-uploader :factory="factoryFn" multiple style="max-width: 300px" /> FOR SIMPLICITY AND IF USES THE SAME APPROACH WITH THE DOCS -->
          <q-uploader
            auto-upload
            :factory="handleImage"
            label="Documents"
            multiple
            class="full-width"
            @failed="failedUpload"
            square
            flat
            bordered
          >
            <template v-slot:header="scope">
              <div class="row no-wrap items-center q-pa-sm q-gutter-xs">
                <q-btn
                  v-if="scope.queuedFiles.length > 0"
                  icon="clear_all"
                  @click="scope.removeQueuedFiles"
                  round
                  dense
                  flat
                >
                  <q-tooltip>Clear All</q-tooltip>
                </q-btn>
                <q-btn
                  v-if="scope.uploadedFiles.length > 0"
                  icon="done_all"
                  @click="scope.removeUploadedFiles"
                  round
                  dense
                  flat
                >
                  <q-tooltip>Remove Uploaded Files</q-tooltip>
                </q-btn>
                <q-spinner
                  v-if="scope.isUploading"
                  class="q-uploader__spinner"
                />
                <div class="col">
                  <div class="q-uploader__title">Upload your files</div>
                  <!-- <div class="q-uploader__subtitle">
                    {{ scope.uploadSizeLabel }} /
                    {{ scope.uploadProgressLabel }}
                  </div> -->
                </div>
                <q-btn
                  v-if="scope.canAddFiles"
                  type="a"
                  icon="add_box"
                  round
                  dense
                  flat
                >
                  <q-uploader-add-trigger />
                  <q-tooltip>Pick Files</q-tooltip>
                </q-btn>
                <q-btn
                  v-if="scope.canUpload"
                  icon="cloud_upload"
                  @click="scope.upload"
                  round
                  dense
                  flat
                >
                  <q-tooltip>Upload Files</q-tooltip>
                </q-btn>

                <q-btn
                  v-if="scope.isUploading"
                  icon="clear"
                  @click="scope.abort"
                  round
                  dense
                  flat
                >
                  <q-tooltip>Abort Upload</q-tooltip>
                </q-btn>
              </div>
            </template>
            <template v-slot:list="scope">
              <q-list separator>
                <q-item v-for="file in scope.files" :key="file.name">
                  <q-item-section>
                    <q-item-label class="full-width ellipsis">
                      {{ file.name }}
                    </q-item-label>

                    <!-- <q-item-label caption>
                      Status: {{ file.__status }}
                    </q-item-label>

                    <q-item-label caption>
                      {{ file.__sizeLabel }} / {{ file.__progressLabel }}
                    </q-item-label> -->
                  </q-item-section>

                  <q-item-section v-if="file.__img" thumbnail class="gt-xs">
                    <img :src="file.__img.src" />
                  </q-item-section>

                  <q-item-section top side>
                    <q-btn
                      class="gt-xs"
                      size="12px"
                      flat
                      dense
                      round
                      icon="delete"
                      @click="scope.removeFile(file)"
                    />
                  </q-item-section>
                </q-item>
              </q-list>
            </template>
          </q-uploader>
        </div>
      </div>

      <!-- PLUGIN -->
      <q-dialog v-model="showDetail">
        >
        <receive-item-popup
          :data="detailItem"
          :storages="storages"
          :action="action"
          @web-barcode="showBarcode = true"
          @mobile-barcode="scanImage"
          @post="updateItem($event)"
        />
      </q-dialog>

      <q-dialog v-model="showBarcode">
        <web-scanner-design @close="showBarcode = false">
          <template #barcode>
            <div class="hello">
              <StreamBarcodeReader
                @decode="(a, b, c) => onDecode(a, b, c)"
                @loaded="() => onLoaded()"
              ></StreamBarcodeReader>
            </div>
          </template>
        </web-scanner-design>
      </q-dialog>
      <!----- END OF PLUGINS ----->
      <camera-button
        @click-web="showBarcode = true"
        @click-mobile="scanImage"
      />
    </form>
  </div>
</template>

<script>
import ReceiveItemPopup from "components/Modals/ReceiveItemPopup.vue";
import ItemList from "components/Cards/List.vue";
import axios from "axios";

import { api } from "boot/api";
import { uid } from "quasar";
import { ref } from "vue";
import { LocalStorage } from "quasar";
import { StreamBarcodeReader } from "vue-barcode-reader";

const stringOptionsDefaultStorage = [
  {
    label: "Storage A1-1",
    value: "1",
  },
  {
    label: "Storage A2-1",
    value: "2",
  },
  {
    label: "Storage A3-1",
    value: "3",
  },
  {
    label: "Storage A1-2",
    value: "4",
  },
  {
    label: "Storage A2-2",
    value: "5",
  },
];

let receiverOptions = [];
let storageOptions = [];

export default {
  data() {
    return {
      // name: "Goods Receive",
      url: "https://www.freeiconspng.com/thumbs/no-image-icon/no-image-icon-15.png",
      optionsReceivedBy: receiverOptions,
      optionsDefaultStorage: storageOptions,
      storages: ref([]),
      expdate: "11 Jun 2023",
      showBarcode: ref(false),
      showDetail: ref(false),
      detailItem: ref([]),
      text: "",
      receivedBy: null,
      defaultStorage: ref(null),
      header: {},
      items: ref([]),
      displayValue: "",
      action: "create",
      image: "",
      imageName: "",
      remoteUrl: "",
      columns: {
        image: "image_url",
        sku: "sku",
        pname: "name",
        displayColumns: [
          {
            label: "Ordered",
          },
          {
            label: "Received",
          },
          {
            label: "Spoiled",
          },
        ],
        displayContent: [
          {
            label: "qty_ordered",
          },
          {
            label: "qty_received",
          },
          {
            label: "qty_spoiled",
          },
        ],
        info: true,
        storage: "defaultStorage",
      },
      productColumns: ref([
        {
          name: "name",
          label: "Name",
          align: "center",
          field: "name",
        },
        {
          name: "qtyreceived",
          label: "Qty Received",
          align: "center",
          field: "qtyreceived",
        },
        {
          name: "qtyspoiled",
          label: "Qty Spoiled",
          align: "center",
          field: "qtyspoiled",
        },
        {
          name: "expdate",
          label: "Expired Date",
          align: "center",
          field: "expdate",
        },
        {
          name: "remarks",
          label: "Remarks",
          align: "center",
          field: "remarks",
        },
      ]),
      productStorage: [
        {
          name: "A1-1",
          qty: "2",
          label: "Storage A1-1",
          value: "1",
        },
        {
          name: "A1-2",
          qty: "3.5",
          label: "Storage A1-2",
          value: "4",
        },
        {
          name: "A3-1",
          qty: "2",
          label: "Storage A3-1",
          value: "3",
        },
      ],
      detail: {
        poid: "PO21060099",
        podate: "17 Jun 2021",
        vendor: "World of Plastic",
        storeName: "Main Warehouse",
        receivedBy: "1",
        defaultStorage: "4",
        products: [
          {
            pcode: "OAG696",
            pid: "454",
            code: "696",
            pname: "Sesame Seeds Grade A",
            ordered: "7500",
            received: "0",
            spoiled: "0",
            type: "simple",
            category: "raw material",
            // defaultStorage: "Storage A1-2",
            defaultStorage: "4",
            expdate: "1 December 2022",
            remarks: "",
            columns: [
              {
                name: "name",
                label: "Name",
                align: "center",
                field: "name",
              },

              {
                name: "qty",
                label: "Qty",
                align: "center",
                field: "qty",
              },
            ],
            options: stringOptionsDefaultStorage,
            storage: [
              {
                name: "A1-1",
                qty: "2",
                label: "Storage A1-1",
                value: "1",
              },
              {
                name: "A1-2",
                qty: "3.5",
                label: "Storage A1-2",
                value: "4",
              },
              {
                name: "A3-1",
                qty: "2",
                label: "Storage A3-1",
                value: "3",
              },
            ],
          },
          {
            pcode: "OAG698",
            pid: "455",
            code: "698",
            pname: "Sesame Seeds Grade B",
            ordered: "7500",
            received: "0",
            spoiled: "0",
            type: "simple",
            category: "raw material",
            // defaultStorage: "Storage A1-1",
            defaultStorage: "1",
            expdate: "5 January 2023",
            remarks: "",
            storage: [
              {
                name: "A1-1",
                qty: "2",
                label: "Storage A1-1",
                value: "1",
              },
              {
                name: "A1-2",
                qty: "3.5",
                label: "Storage A1-2",
                value: "4",
              },
              {
                name: "A3-1",
                qty: "2",
                label: "Storage A3-1",
                value: "3",
              },
            ],
          },
        ],
      },
      pagination: {
        page: 1,
        rowsPerPage: 0, // 0 means all rows
      },
    };
  },
  methods: {
    factoryFn(files) {
      return {
        url: "http://127.0.0.1:4444/upload",
        method: "POST",
      };
    },
    failedUpload() {
      this.$q.notify({
        color: "negative",
        message: "Sorry, cannot upload!",
      });
    },
    handleImage(e) {
      console.log("Test: ", e[0]);
      const selectedImage = e[0];
      this.createPlainImage(selectedImage);

      // open to see the progress bar works
      // return new Promise((resolve) => {
      //   // simulating a delay of 2 seconds
      //   setTimeout(() => {
      //     resolve({
      //       url: "http://127.0.0.1:4444/upload",
      //     });
      //   }, 2000);
      // });
    },
    createPlainImage(fileObject) {
      let formData = new FormData();

      formData.append("name", fileObject.name);
      formData.append("file", fileObject);

      this.image = formData;
      this.imageName = fileObject.name;
      console.log("IMAGE: ", this.image);
      this.uploadImage();
    },
    uploadImage() {
      const { image } = this;
      console.log("RESULT 2: ", image);
      this.items[0].GoodsReceiveDocument.push(image);
      console.log(
        "Update GoodsReceiveDoc: ",
        this.items[0].GoodsReceiveDocument
      );

      // open the comments to try in local when uploading the file once at a time
      // axios({
      //   method: "post",
      //   url: "http://127.0.0.1:4444/upload",
      //   data: this.image,
      //   headers: {
      //     "Content-Type": "multipart/form-data",
      //   },
      // })
      //   .then((response) => {
      //     this.remoteUrl = response.data.url;
      //     console.log(this.remoteUrl);
      //     console.log(response);
      //     console.log("Upload succeded!");
      //     this.items[0].GoodsReceiveDocument.push(this.imageName);
      //     // this.items[0].GoodsReceiveDocument.push(image); //open if you want the formData instead
      //     console.log(this.items[0]);
      //   })
      //   .catch((err) => {
      //     return new Error(err.message);
      //   });
    },
    // for base64
    handleImageBase64(e) {
      console.log("Test: ", e[0]);
      const selectedImage = e[0];
      this.createBase64Image(selectedImage);
    },
    createBase64Image(fileObject) {
      const reader = new FileReader();
      console.log("RESULT 1:", this.image);
      reader.onload = (e) => {
        this.image = e.target.result;
        this.uploadImageBase64();
      };
      // console.log("RESULT 3:", this.image);
      reader.readAsDataURL(fileObject);
    },
    uploadImageBase64() {
      const { image } = this;
      console.log("RESULT 2: ", image);
      axios
        .post("http://127.0.0.1:8081/upload", { image })
        .then((response) => {
          this.remoteUrl = response.data.url;
          console.log("Upload succeded!");
          this.items[0].GoodsReceiveDocument.push(image);
        })
        .catch((err) => {
          return new Error(err.message);
        });
    },
    dateNow() {
      const monthNames = [
        "January",
        "February",
        "March",
        "April",
        "May",
        "June",
        "July",
        "August",
        "September",
        "October",
        "November",
        "December",
      ];
      const dateObj = new Date();
      const month = monthNames[dateObj.getMonth()];
      const day = String(dateObj.getDate()).padStart(2, "0");
      const year = dateObj.getFullYear();
      const output = day + " " + month + " " + year;

      return output;
    },
    calculateQtyStorage(index) {
      let qtyreceived = 0;
      let qtyspoiled = 0;
      Object.entries(this.items[index].defaultStorage).forEach((e) => {
        qtyreceived += e[1].qtyreceived;
        qtyspoiled += e[1].qtyspoiled;
      });
      this.items[index].qty_received = qtyreceived;
      this.items[index].qty_spoiled = qtyspoiled;
    },
    updateItem(payload) {
      console.log(payload);
      console.log("Items: ", this.items);

      let index = parseInt(
        this.items.findIndex((o) => o.product_id === payload.id)
      );

      console.log("Index:", index);

      //change the item data
      // this.items[index].qty_received += payload.qtyreceived;
      // this.items[index].qty_spoiled += payload.qtyspoiled;
      this.items[index].storage = payload.defaultStorage;
      // this.items[index].expdate = payload.expdate;
      // this.items[index].remarks = payload.remarks;

      let key = parseInt(
        this.storages.findIndex((o) => o.value === payload.defaultStorage)
      );

      if (payload.action === "update") {
        let id_unit = this.items[index].defaultStorage.findIndex(
          (o) => o.storage_key === payload.storage_key
        );

        this.items[index].defaultStorage[id_unit].qtyreceived =
          payload.qtyreceived;
        this.items[index].defaultStorage[id_unit].qtyspoiled =
          payload.qtyspoiled;
        this.items[index].defaultStorage[id_unit].name =
          this.storages[key].label;
        this.items[index].defaultStorage[id_unit].id_storage =
          this.storages[key].value;
        this.items[index].defaultStorage[id_unit].expdate = payload.expdate;
        this.items[index].defaultStorage[id_unit].remarks = payload.remarks;
      } else {
        let temp = {
          name: this.storages[key].label,
          qtyreceived: payload.qtyreceived,
          qtyspoiled: payload.qtyspoiled,
          expdate: payload.expdate,
          remarks: payload.remarks,
          id_storage: this.storages[key].value,
          product_id: payload.id,
          storage_key: uid(),
        };

        this.items[index].defaultStorage.push(temp);
      }

      this.calculateQtyStorage(index);

      console.log("Updated Items: ", this.items[index].defaultStorage);
    },
    submitData() {
      console.log("submit form!");

      const qty_received = {};
      const qty_spoiled = {};
      const itemDetail = [];

      Object.entries(this.items).forEach((e) => {
        console.log("Item: ", e[1]);
        Object.assign(qty_received, {
          [e[1].product_id]: e[1].qty_received,
        });
        Object.assign(qty_spoiled, {
          [e[1].product_id]: e[1].qty_spoiled,
        });

        console.log(e[1].remarks);
        const items = {
          item_type: e[1].item_type,
          purchase_order_item_id: e[1].purchase_order_item_id,
          remarks: e[1].remarks,
          product_id: e[1].product_id,
          storage: e[1].storage,
          expired_date: e[1].expdate,
          qty_received: e[1].qty_received,
          qty_spoiled: e[1].qty_spoiled,
        };
        itemDetail.push(items);
      });

      itemDetail.push({
        GoodsReceiveDocument: this.items[0].GoodsReceiveDocument,
      });

      let payload = {
        purchase_order_id: this.$route.params.poid,
        GoodsReceive: {
          received_by: this.receivedBy,
        },
        qty_received: qty_received,
        qty_spoiled: qty_spoiled,
        "item-detail": itemDetail,
      };
      console.log("PAYLOAD:", payload);
      api({
        method: "post",
        url: "/api/purchase/receivegoods/index?action=submit",
        data: payload,
        headers: {
          "Content-Type": "application/json",
          Authorization:
            "Bearer " + localStorage.getItem("token").replace("__q_strn|", ""),
        },
      })
        .then((response) => {
          console.log("response: ", response.data);

          // NOTIF
          if (response.data.valid) {
            const message =
              "You've succesfully submitted the data. Goods Receive ID: " +
              response.data.GoodsReceive.goods_receive_id_printed;
            this.$q.notify({
              message: message,
              color: "positive",
              position: "center",
              icon: "thumb_up",
              multiLine: true,
              // timeout: Math.random() * 5000 + 3000,
              actions: [
                {
                  label: "Dismiss",
                  color: "white",
                  handler: () => {
                    /* ... */
                  },
                },
              ],
            });

            // this.$router.push({ path: "../../" });
            this.$router.back();
          } else {
            let message = "";
            if (response.data.error_message) {
              message = response.data.error_message;
            } else {
              message = "Goods Received ID Has been taken";
            }
            this.$q.notify({
              message: message,
              color: "negative",
              position: "center",
              icon: "report_problem",
              actions: [
                {
                  label: "Dismiss",
                  color: "white",
                  handler: () => {
                    /* ... */
                  },
                },
              ],
            });
          }
        })
        .catch((error) => {
          //handle error
          console.log("error message: ", error.message);
        });
    },
    fetchData() {
      const poid = {
        purchase_order_id: this.$route.params.poid,
      };
      api({
        method: "post",
        url: "/api/purchase/receivegoods/index?action=detail",
        // params: JSON.stringify(poid),
        data: poid,
        headers: {
          "Content-Type": "application/json",
          Authorization:
            "Bearer " + localStorage.getItem("token").replace("__q_strn|", ""),
        },
      })
        .then((response) => {
          console.log(("response", response.data));
          // this.details = response.data;
          // Object.assign(this.header, response.data.header);
          this.header = { ...response.data.header };
          this.items = response.data.items;

          this.items.forEach((v) => {
            v.storage = ref(null);
            // v.expdate = this.dateNow();
            v.expdate = ref("");
            v.defaultStorage = ref([]);
            v.update = ref({});
            v.GoodsReceiveDocument = ref([]);
          });
          receiverOptions = [];
          Object.entries(response.data.receiverOptions).forEach((e) => {
            let data = {
              label: e[1].label,
              value: e[1].id,
            };
            receiverOptions.push(data);
          });

          // console.log(
          //   "NAME: ",
          //   localStorage.getItem("name").replace("__q_strn|", "")
          // );
          this.receivedBy = receiverOptions.find(
            (o) =>
              o.label === localStorage.getItem("name").replace("__q_strn|", "")
          ).value;
          this.displayValue = receiverOptions.find(
            (o) =>
              o.label === localStorage.getItem("name").replace("__q_strn|", "")
          ).label;

          storageOptions = [];
          Object.entries(response.data.storageOptions).forEach((e) => {
            let data = {
              label: e[1].label,
              value: e[1].id,
            };
            storageOptions.push(data);
            this.storages.push(data);
          });
          console.log("Details: ", this.items);
        })
        .catch((error) => {
          //handle error
          console.log("error message: ", error);
        });
    },
    filterReceived(val, update) {
      if (val === "") {
        update(() => {
          this.optionsReceivedBy = receiverOptions;
        });
        return;
      }

      update(() => {
        const needle = val.toLowerCase();
        this.optionsReceivedBy = receiverOptions.filter(
          (v) => v.label.toLowerCase().indexOf(needle) > -1
        );
      });
    },
    filterStorage(val, update) {
      if (val === "") {
        update(() => {
          this.optionsDefaultStorage = storageOptions;
        });
        return;
      }

      update(() => {
        const needle = val.toLowerCase();
        this.optionsDefaultStorage = storageOptions.filter(
          (v) => v.label.toLowerCase().indexOf(needle) > -1
        );
      });
    },
    openDetailPerStorage(item) {
      console.log(item);
      // this.items.forEach((v) => {
      //       v.storage = null;
      //       // v.expdate = this.dateNow();
      //       v.expdate = "";
      //       v.defaultStorage = [];
      //       v.update = [];
      //     });
      let index = parseInt(
        this.items.findIndex((o) => o.product_id === item.product_id)
      );

      console.log("ITEMS:", this.items);
      this.items[index].update = { ...item };
      console.log(this.items[index]);
      this.openDetail(this.items[index], "update");
    },
    openDetail(product, action) {
      console.log("Product: ", product);
      this.action = action;
      this.detailItem = [];
      this.detailItem.push(product);
      console.log("Detail: ", this.detailItem);
      console.log("Action: ", this.action);
      console.log("Storages: ", this.storages);
      console.log("SHOW DETAIL BEFORE: ", this.showDetail);
      this.showDetail = true;
      console.log("SHOW DETAIL AFTER: ", this.showDetail);
    },
    scanBarcode() {
      console.log("scanning...");
    },
    onDecode(a, b, c) {
      // console.log(a, b, c);

      // open related product
      console.log("Text: ", a);
      // this.showBarcode = false;
      const data = this.items.find((o) => o.product_id == a);

      if (data) {
        this.openDetail(data);
      } else {
        this.$q.notify({
          color: "negative",
          message: "Sorry, data is not found",
        });
      }
    },
    onLoaded() {
      console.log("load");
    },
    scanImage() {
      cordova.plugins.barcodeScanner.scan(
        (result) => {
          // alert(
          //   "We got a barcode\n" +
          //     "Result: " +
          //     result.text +
          //     "\n" +
          //     "Format: " +
          //     result.format +
          //     "\n" +
          //     "Cancelled: " +
          //     result.cancelled
          // );

          const data = this.items.find((o) => o.product_id == result);

          if (data) {
            this.openDetail(data);
          } else {
            this.$q.notify({
              color: "negative",
              message: "Sorry, data is not found",
            });
          }
        },
        (error) => {
          alert("Scanning failed: " + error);
        },
        {
          preferFrontCamera: false, // iOS and Android
          showFlipCameraButton: true, // iOS and Android
          showTorchButton: true, // iOS and Android
          torchOn: true, // Android, launch with the torch switched on (if available)
          saveHistory: true, // Android, save scan history (default false)
          prompt: "Place a barcode inside the scan area", // Android
          resultDisplayDuration: 500, // Android, display scanned text for X ms. 0 suppresses it entirely, default 1500
          //formats : "QR_CODE,PDF_417", // default: all but PDF_417 and RSS_EXPANDED
          // orientation: "landscape", // Android only (portrait|landscape), default unset so it rotates with the device
          disableAnimations: true, // iOS
          disableSuccessBeep: true, // iOS and Android
        }
      );
    },
  },
  watch: {
    defaultStorage() {
      console.log("EVENT: ", this.defaultStorage);

      // this.items[index].storage = payload.defaultStorage;
      // this.items.storage = event;
      Object.entries(this.items).forEach((item) => {
        item[1].storage = this.defaultStorage;
      });
      console.log(this.items);
    },
    receivedBy() {
      let temp = {
        ...receiverOptions.find((o) => o.value === this.receivedBy),
      };

      this.displayValue = temp.label;
    },
  },
  components: {
    ReceiveItemPopup,
    ItemList,
    StreamBarcodeReader,
    formPanel: require("components/Form/FormPanel.vue").default,
  },
  mounted() {
    this.fetchData();
    this.eventBus.on("submit", (args) => {
      this.submitData();
    });
  },
  props: {
    msg: String,
  },
};
</script>

<style scoped lang="scss">
.table-detail {
  margin-top: 20px;
}

.order {
  padding: 5px;
}

@media (max-width: 700px) {
  .order {
    width: 100%;
  }
}

.order {
  padding: 5px;
}

@media (min-width: 768px) {
  .flex-grow-1 {
    flex: 0 0 80%;
  }
}

.item-list {
  max-height: 200px;
  overflow: scroll;
}

.bottom-line {
  border-bottom: 1px solid currentColor;
  margin-left: 12px;
  margin-right: 12px;
}

tr.border-table td {
  border: 1px solid black;
}

.tooltip-table {
  min-width: 150px;
  max-width: 400px;
}

@media (max-width: 400px) {
  .tooltip-table {
    max-width: 200px;
  }
}

.bordered {
  border: 1px solid black;
}

.full-wrap {
  width: 100%;
  padding: 0px;
}

.select-custom.q-field {
  font-size: 12px !important;
}

.products-detail .q-item {
  padding: 8px 0px !important;
}
</style>
