<template>
  <q-btn-dropdown
    :color="color ? color : 'secondary'"
    :text-color="textColor ? textColor : 'white'"
    unelevated
    :label="label ? labelTitle(label) : 'Action'"
    :size="size ? size : 'sm'"
    no-caps
    class="btn-custom-hover btn-custom"
  >
    <q-list v-for="(action, index) in actions" :key="index">
      <q-item clickable v-close-popup @click="emit(action.method)">
        <q-item-section>
          <q-item-label>{{ action.name }}</q-item-label>
        </q-item-section>
      </q-item>
    </q-list>
  </q-btn-dropdown>
</template>

<script>
import mixinsButtons from "src/mixins/mixins-buttons";
export default {
  props: ["label", "size", "color", "textColor", "actions"],
  mixins: [mixinsButtons],
  methods: {
    emit(method) {
      this.$emit(method);
    },
  },
};
</script>

<style></style>
