<template>
  <q-btn
    :color="color ? color : 'secondary'"
    :text-color="textColor ? textColor : 'white'"
    unelevated
    :label="label ? labelTitle(label) : 'Add Product'"
    :size="size ? size : 'sm'"
    @click="$emit('click')"
    class="btn-square btn-custom-hover btn-custom"
    no-caps
  />
</template>

<script>
import mixinsButtons from "src/mixins/mixins-buttons";
export default {
  props: ["color", "textColor", "label", "size"],
  mixins: [mixinsButtons],
};
</script>

<style></style>
