<template>
  <q-btn
    :color="color ? color : 'white'"
    :text-color="textColor ? textColor : '#676A6C'"
    unelevated
    outline
    :label="label ? labelTitle(label) : 'Back'"
    :icon="icon ? icon : 'reply'"
    @click="actionGoBack"
    :size="size ? size : 'sm'"
    no-caps
    class="btn-custom-hover btn-press-down btn-custom"
  />

  <q-dialog
    v-model="showConfirmationDialog"
    persistent
    transition-show="flip-down"
    transition-hide="flip-up"
  >
    <confirmation-popup
      @click-agree="goBackNow"
      @click-cancel="showConfirmationDialog = false"
    />
  </q-dialog>
</template>

<script>
import mixinsButtons from "src/mixins/mixins-buttons";
import { ref } from "vue";

export default {
  props: ["color", "textColor", "label", "icon", "size", "confirm", "router"],
  data() {
    return {
      showConfirmationDialog: ref(false),
    };
  },
  mixins: [mixinsButtons],
  methods: {
    actionGoBack() {
      if (this.confirm) {
        this.showConfirmationDialog = !this.showConfirmationDialog;
      } else {
        this.goBackNow();
      }
    },
    goBackNow() {
      this.showConfirmationDialog = false;

      if (this.router) {
        this.$router.push(this.router);
      } else {
        this.$router.back();
      }
    },
  },
};
</script>

<style></style>
