<template>
  <!-- <q-btn
    round
    class="fixed-bottom flexing-center"
    color="primary"
    size="24px"
    icon="photo_camera"
    v-if="
      ($q.platform.is.desktop ||
        $q.platform.is.chrome ||
        $q.platform.is.opera ||
        $q.platform.is.safari ||
        $q.platform.is.edge ||
        $q.platform.is.ie) &&
      !$q.platform.is.cordova
    "
    @click="$emit('click-web')"
  /> -->

  <div class="fixed-bottom text-center q-mb-lg flexing-center">
    <q-btn
      round
      color="primary"
      size="24px"
      icon="photo_camera"
      v-if="
        ($q.platform.is.desktop ||
          $q.platform.is.chrome ||
          $q.platform.is.opera ||
          $q.platform.is.safari ||
          $q.platform.is.edge ||
          $q.platform.is.ie) &&
        !$q.platform.is.cordova
      "
      @click="$emit('click-web')"
    />

    <q-btn
      round
      color="primary"
      size="24px"
      icon="photo_camera"
      v-else-if="$q.platform.is.mobile"
      @click="$emit('click-mobile')"
    />
  </div>
</template>

<script>
export default {};
</script>

<style lang="scss">
// .q-btn.flexing-center {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   margin: 16px auto !important;
// }

.flexing-center {
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 16px auto !important;
}
</style>
