<template>
  <q-btn
    :color="color ? color : 'negative'"
    :text-color="textColor ? textColor : 'white'"
    unelevated
    :icon="icon ? icon : 'close'"
    :label="label ? labelTitle(label) : ''"
    :disabled="selected.length === 0"
    @click="$emit('click')"
    :size="size ? size : 'sm'"
    no-caps
    class="btn-custom-hover btn-custom"
  />
</template>

<script>
import mixinsButtons from "src/mixins/mixins-buttons";
export default {
  props: ["selected", "color", "textColor", "icon", "label", "size"],
  mixins: [mixinsButtons],
};
</script>

<style></style>
