<template>
  <q-btn
    :color="color ? color : 'secondary'"
    :text-color="textColor ? textColor : 'white'"
    unelevated
    :label="label ? labelTitle(label) : 'Submit'"
    :icon="icon ? icon : 'save'"
    type="submit"
    :size="size ? size : 'sm'"
    no-caps
    class="btn-custom-hover btn-custom"
    @click="$emit('click')"
  />
</template>

<script>
import mixinsButtons from "src/mixins/mixins-buttons";
export default {
  props: ["color", "textColor", "label", "icon", "size"],
  mixins: [mixinsButtons],
};
</script>

<style></style>
