<template>
  <div class="q-pa-md">
    <form class="q-gutter-sm">
      <div class="row items-center justify-center" v-show="!$q.screen.lt.sm">
        <p
          class="text-h6 text-weight-bolder no-margin vertical-align-middle"
          v-show="!$q.screen.lt.sm"
        >
          {{ $route.name }} - {{ $route.params.printed_id }}
        </p>
        <q-space v-if="!$q.screen.lt.sm" />
        <div class="q-gutter-sm">
          <back-button router="./../../" />
        </div>
      </div>

      <q-separator v-show="!$q.screen.lt.sm" />

      <!-- {{ header }} -->
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 order">
          <formPanel
            accordion
            label="Goods Received Detail"
            :headerStyle="{
              background: '#161e6f',
              fontSize: '14px',
              color: '#fff',
            }"
          >
            <template v-slot:fields2>
              <q-input
                outlined
                readonly
                label="Goods Receive ID"
                lazy-rules
                v-model="header.goods_receive_id_printed"
                class="q-mb-md"
              />
              <q-input
                outlined
                readonly
                label="Received Date"
                lazy-rules
                v-model="header.received_date"
                class="q-mb-md"
              />
              <q-input
                outlined
                readonly
                label="Vendor"
                lazy-rules
                v-model="header.vendor_name"
                class="q-mb-md"
              />
              <q-input
                outlined
                readonly
                label="Received By"
                lazy-rules
                v-model="header.received_by"
                class="q-mb-md"
              />
            </template>
          </formPanel>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-12 order">
          <q-uploader
            url="/upload"
            label="Documents"
            multiple
            class="full-width"
            :class="uploaderAccordionState ? 'expend' : 'not-expend'"
            readonly
            square
            flat
            bordered
          >
            <template v-slot:header>
              <q-expansion-item
                expand-separator
                label="Documents"
                @click="uploaderAccordion"
              />

              <!-- <div class="row items-center q-pa-md q-gutter-sm">
                <div class="col">
                  <div style="font-size: 14px">Documents</div>
                </div>
              </div> -->
            </template>

            <template v-slot:list>
              <q-list separator>
                <q-item v-for="file in files" :key="file.name">
                  <q-item-section side>
                    <q-item-label class="full-width ellipsis">
                      {{ file.name }}
                    </q-item-label>
                  </q-item-section>
                  <q-space />
                  <q-item-section thumbnail>
                    <img :src="file.src" />
                  </q-item-section>
                </q-item>
              </q-list>
            </template>
          </q-uploader>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-12 order products-detail">
          <formPanel
            accordion
            label="Goods Receive"
            :headerStyle="{
              background: '#161e6f',
              fontSize: '14px',
              color: '#fff',
            }"
          >
            <template v-slot:fields2>
              <item-list
                :items="items"
                :columns="columns"
                :productColumns="productColumns"
              />
            </template>
          </formPanel>
        </div>
      </div>
    </form>
  </div>
</template>

<script>
import ItemList from "components/Cards/List.vue";

import Vue from "vue";
import { api } from "boot/api";

// const stringOptionsReceivedBy = [
//   "David Johanson",
//   "Tony Junior",
//   "Ai Kim",
//   "Han Soon",
//   "Supriadi",
// ];

// const stringOptionsReceivedBy = [
//   {
//     label: "David Johanson",
//     value: "1",
//   },
//   {
//     label: "Tony Junior",
//     value: "2",
//   },
//   {
//     label: "Ai Kim",
//     value: "3",
//   },
//   {
//     label: "Han Soon",
//     value: "4",
//   },
//   {
//     label: "Supriadi",
//     value: "5",
//   },
// ];

// const stringOptionsDefaultStorage = [
//   "Storage A1-1",
//   "Storage A2-1",
//   "Storage A3-1",
//   "Storage A1-2",
//   "Storage A2-2",
// ];

const stringOptionsDefaultStorage = [
  {
    label: "Storage A1-1",
    value: "1",
  },
  {
    label: "Storage A2-1",
    value: "2",
  },
  {
    label: "Storage A3-1",
    value: "3",
  },
  {
    label: "Storage A1-2",
    value: "4",
  },
  {
    label: "Storage A2-2",
    value: "5",
  },
];

const receiverOptions = [];
const storageOptions = [];

export default {
  data() {
    return {
      // name: "Individual Goods Receive",
      url: "https://www.freeiconspng.com/thumbs/no-image-icon/no-image-icon-15.png",
      // optionsReceivedBy: stringOptionsReceivedBy,
      optionsReceivedBy: receiverOptions,
      // optionsDefaultStorage: stringOptionsDefaultStorage,
      optionsDefaultStorage: storageOptions,
      expdate: "11 Jun 2013",
      showDetail: false,
      detailItem: [],
      text: "",
      receivedBy: null,
      defaultStorage: null,
      header: {},
      items: [],
      uploaderAccordionState: false,
      files: [
        {
          name: "File A - First Upload",
          src: "https://www.salonlfc.com/wp-content/uploads/2018/01/image-not-found-scaled-1150x647.png",
        },
        {
          name: "File B - Second Upload",
          src: "https://www.salonlfc.com/wp-content/uploads/2018/01/image-not-found-scaled-1150x647.png",
        },
      ],
      columns: {
        image: "image_url",
        sku: "product_sku",
        pname: "product_name",
        displayColumns: [
          {
            label: "Ordered",
          },
          {
            label: "Received",
          },
          {
            label: "Spoiled",
          },
        ],
        displayContent: [
          {
            label: "qty_ordered",
          },
          {
            label: "qty_received",
          },
          {
            label: "qty_spoilage",
          },
        ],
        info: true,
        storage: "item_storage",
      },
      productColumns: [
        {
          name: "storage",
          label: "Storage",
          align: "center",
          field: "storage",
        },
        {
          name: "qty_received",
          label: "Qty",
          align: "center",
          field: "qty_received",
        },
        {
          name: "qty_spoiled",
          label: "Qty Spoiled",
          align: "center",
          field: "qty_spoiled",
        },
        {
          name: "expiry_date",
          label: "Expired Date",
          align: "center",
          field: "expiry_date",
        },
        {
          name: "remark",
          label: "Remark",
          align: "center",
          field: "remark",
        },
      ],
      productStorage: [
        {
          name: "A1-1",
          qty: "2",
          label: "Storage A1-1",
          value: "1",
        },
        {
          name: "A1-2",
          qty: "3.5",
          label: "Storage A1-2",
          value: "4",
        },
        {
          name: "A3-1",
          qty: "2",
          label: "Storage A3-1",
          value: "3",
        },
      ],
      detail: {
        poid: "PO21060099",
        podate: "17 Jun 2021",
        vendor: "World of Plastic",
        storeName: "Main Warehouse",
        receivedBy: "1",
        defaultStorage: "4",
        products: [
          {
            pcode: "OAG696",
            pid: "454",
            code: "696",
            pname: "Sesame Seeds Grade A",
            ordered: "7500",
            received: "0",
            spoiled: "0",
            type: "simple",
            category: "raw material",
            // defaultStorage: "Storage A1-2",
            defaultStorage: "4",
            expdate: "1 December 2022",
            remarks: "",
            columns: [
              {
                name: "storage",
                label: "Storage",
                align: "center",
                field: "storage",
              },
              {
                name: "qty_received",
                label: "Qty",
                align: "center",
                field: "qty_received",
              },
            ],
            options: stringOptionsDefaultStorage,
            storage: [
              {
                name: "A1-1",
                qty: "2",
                label: "Storage A1-1",
                value: "1",
              },
              {
                name: "A1-2",
                qty: "3.5",
                label: "Storage A1-2",
                value: "4",
              },
              {
                name: "A3-1",
                qty: "2",
                label: "Storage A3-1",
                value: "3",
              },
            ],
          },
          {
            pcode: "OAG698",
            pid: "455",
            code: "698",
            pname: "Sesame Seeds Grade B",
            ordered: "7500",
            received: "0",
            spoiled: "0",
            type: "simple",
            category: "raw material",
            // defaultStorage: "Storage A1-1",
            defaultStorage: "1",
            expdate: "5 January 2023",
            remarks: "",
            storage: [
              {
                name: "A1-1",
                qty: "2",
                label: "Storage A1-1",
                value: "1",
              },
              {
                name: "A1-2",
                qty: "3.5",
                label: "Storage A1-2",
                value: "4",
              },
              {
                name: "A3-1",
                qty: "2",
                label: "Storage A3-1",
                value: "3",
              },
            ],
          },
        ],
      },
      pagination: {
        page: 1,
        rowsPerPage: 0, // 0 means all rows
      },
    };
  },
  methods: {
    uploaderAccordion() {
      // .q-uploader__list.scroll
      console.log(this.uploaderAccordionState);
      if (this.uploaderAccordionState === true) {
        this.uploaderAccordionState = false;
      } else {
        this.uploaderAccordionState = true;
      }
    },
    fetchData() {
      const poid = {
        goods_receive_id: this.$route.params.poid,
      };
      api({
        method: "post",
        url: "/api/purchase/receivegoods/index?action=detail-grn",
        data: poid,
        headers: {
          "Content-Type": "application/json",
          Authorization:
            "Bearer " + localStorage.getItem("token").replace("__q_strn|", ""),
        },
      })
        .then((response) => {
          console.log(("response", response));
          // this.details = response.data;
          // Object.assign(this.header, response.data.header);
          this.header = { ...response.data.header };
          this.items = response.data.items;
          Object.entries(response.data.receiverOptions).forEach((e) => {
            let data = {
              label: e[1].label,
              value: e[1].id,
            };
            receiverOptions.push(data);
          });
          Object.entries(response.data.storageOptions).forEach((e) => {
            let data = {
              label: e[1].label,
              value: e[1].id,
            };
            storageOptions.push(data);
          });
          console.log("Details: ", this.optionsReceivedBy);
        })
        .catch((error) => {
          //handle error
          console.log("error message: ", error.message);
        });
    },
    convertDigit(val) {
      if (val === 0 || val === "0") {
        return "0000";
      } else {
        return val;
      }
    },
    filterReceived(val, update) {
      if (val === "") {
        update(() => {
          this.optionsReceivedBy = receiverOptions;
        });
        return;
      }

      update(() => {
        const needle = val.toLowerCase();
        this.optionsReceivedBy = receiverOptions.filter(
          (v) => v.label.toLowerCase().indexOf(needle) > -1
        );
      });
    },
    filterStorage(val, update) {
      if (val === "") {
        update(() => {
          this.optionsDefaultStorage = storageOptions;
        });
        return;
      }

      update(() => {
        const needle = val.toLowerCase();
        this.optionsDefaultStorage = storageOptions.filter(
          (v) => v.label.toLowerCase().indexOf(needle) > -1
        );
      });
    },
  },
  components: {
    ItemList,
    formPanel: require("components/Form/FormPanel.vue").default,
  },
  props: {
    msg: String,
  },
  mounted() {
    this.fetchData();
  },
};
</script>

<style scoped lang="scss">
.table-detail {
  margin-top: 20px;
}

.order {
  padding: 5px;
}

@media (max-width: 700px) {
  .order {
    width: 100%;
  }
}

.order {
  padding: 5px;
}

@media (min-width: 768px) {
  .flex-grow-1 {
    flex: 0 0 80%;
  }
}

.item-list {
  max-height: 200px;
  overflow: scroll;
}

.bottom-line {
  border-bottom: 1px solid currentColor;
  margin-left: 12px;
  margin-right: 12px;
}

tr.border-table td {
  border: 1px solid black;
}

.tooltip-table {
  width: 150px;
}

.bordered {
  border: 1px solid black;
}

.full-wrap {
  width: 100%;
  padding: 0px;
}

.select-custom.q-field {
  font-size: 12px !important;
}

.products-detail .q-item {
  padding: 8px 0px !important;
}

.expend .q-uploader__list.scroll {
  display: block !important;
}

.not-expend .q-uploader__list.scroll {
  display: none !important;
}
</style>
