<template>
  <q-page-container>
    <q-page
      class="q-gutter-sm"
      :class="$q.screen.lt.sm ? 'q-px-sm' : 'q-px-md'"
    >
      <!--- CONTENT -->

      <loading-and-no-data :isLoading="isLoading" :data="data" />

      <list-card :data="data" :columns="columns" :link="viewPageLink" />
      <observer @intersect="Intersected" v-show="observer" />

      <!---- PLUGINS ---->
      <q-dialog v-model="showBarcode">
        <web-scanner-design @close="showBarcode = false">
          <template #barcode>
            <div class="hello">
              <StreamBarcodeReader
                @decode="(a, b, c) => onDecode(a, b, c)"
                @loaded="() => onLoaded()"
              ></StreamBarcodeReader>
            </div>
          </template>
        </web-scanner-design>
      </q-dialog>

      <!----- END OF PLUGINS ----->
      <camera-button
        @click-web="showBarcode = true"
        @click-mobile="scanImage"
      />

      <q-page-sticky expand position="top" style="margin-top: 0px">
        <q-toolbar class="q-py-md" style="background: #f3f3f4">
          <searching
            v-model:searchField="searchField"
            :sort="sort"
            @change-order="setOrderNow"
            @clear="searchField = ''"
          />
        </q-toolbar>
      </q-page-sticky>
    </q-page>
  </q-page-container>
</template>

<script>
import Observer from "components/Observer/observer.vue";
import { StreamBarcodeReader } from "vue-barcode-reader";
import ListCard from "components/Cards/Card.vue";
import Searching from "components/Searching/Searching.vue";
import { api } from "boot/api";

export default {
  data() {
    return {
      data: [],
      observer: true,
      searchField: "",
      viewPageLink: "/incoming/goods/receive/view/",
      isLoading: true,
      errorCode: 0,
      columns: [
        {
          label: "PO ID",
          field: "printed_id",
        },
        {
          label: "PO Date",
          field: "po_date",
        },
        {
          label: "Vendor",
          field: "vendor_name",
        },
        {
          label: "Qty",
          field: "qty",
        },
      ],
      page: 0,
      sort: "desc",
      showBarcode: false,
    };
  },
  components: {
    Observer,
    ListCard,
    Searching,
    StreamBarcodeReader,
  },
  methods: {
    async Intersected() {
      console.log("Input:", this.searchField);
      console.log("Page: ", this.page);
      this.isLoading = true;
      await api({
        method: "post",
        url: "/api/purchase/receivegoods/index?action=list",
        data: {
          search: this.searchField,
          sort: {
            purchase_order_id: this.sort,
          },
          page: this.page,
        },
        headers: {
          "Content-Type": "application/json",
          Authorization:
            "Bearer " + localStorage.getItem("token").replace("__q_strn|", ""),
        },
      })
        .then((response) => {
          console.log(response);
          this.isLoading = false;
          const temp = response.data;

          this.data = [...this.data, ...temp];

          // Add id and printed_id for redirecting to view and create
          this.data = this.data.map((v) => ({ ...v, id_add: "" }));
          this.data = this.data.map((v) => ({ ...v, printed_id_add: "" }));
          Object.entries(this.data).forEach((e) => {
            e[1].id_add = e[1].purchase_order_id;
            e[1].printed_id_add = e[1].printed_id;
          });
          // END

          this.page++;
          this.observer = true;
          this.errorCode = 0;
        })
        .catch((error) => {
          //handle error
          console.log("error message: ", error.message);
          if (error.response) {
            this.isLoading = false;
            this.errorCode = error.response.status;
          }
        });
    },
    setOrderNow() {
      if (this.sort === "desc") {
        this.sort = "asc";
      } else {
        this.sort = "desc";
      }
    },
    scanBarcode() {
      console.log("scanning...");
    },
    onDecode(a, b, c) {
      // console.log(a, b, c);
      this.searchField = a;
      // this.showBarcode = false;

      this.$q.notify({
        color: "primary",
        message: "Key Word For Searching: " + this.searchField,
      });
    },
    onLoaded() {
      console.log("load");
    },
    scanImage() {
      cordova.plugins.barcodeScanner.scan(
        (result) => {
          // alert(
          //   "We got a barcode\n" +
          //     "Result: " +
          //     result.text +
          //     "\n" +
          //     "Format: " +
          //     result.format +
          //     "\n" +
          //     "Cancelled: " +
          //     result.cancelled
          // );

          this.searchField = result.text;
        },
        (error) => {
          alert("Scanning failed: " + error);
        },
        {
          preferFrontCamera: false, // iOS and Android
          showFlipCameraButton: true, // iOS and Android
          showTorchButton: true, // iOS and Android
          torchOn: true, // Android, launch with the torch switched on (if available)
          saveHistory: true, // Android, save scan history (default false)
          prompt: "Place a barcode inside the scan area", // Android
          resultDisplayDuration: 500, // Android, display scanned text for X ms. 0 suppresses it entirely, default 1500
          //formats : "QR_CODE,PDF_417", // default: all but PDF_417 and RSS_EXPANDED
          // orientation: "landscape", // Android only (portrait|landscape), default unset so it rotates with the device
          disableAnimations: true, // iOS
          disableSuccessBeep: true, // iOS and Android
        }
      );
    },
  },
  watch: {
    searchField() {
      this.data = [];
      this.page = 0;
      this.observer = false;
      this.Intersected();
    },
    sort() {
      this.data = [];
      this.page = 0;
      this.observer = false;
      this.Intersected();
    },
  },
  props: {
    msg: String,
  },
};
</script>

<style scoped lang="scss">
// .status {
//   //   background: #85c786;
//   color: white;
//   padding: 2px 8px;
// }

// .q-gutter-x-sm > *,
// .q-gutter-sm > * {
//   margin-left: 0px;
//   padding: 2px 8px;
// }

.btn-sorting {
  flex: 0 0 50px;
  //   flex: 0 0 150px;
}

@media (max-width: 768px) {
  .my-card-wrapper {
    width: 100%;
  }

  //   .btn-sorting {
  //     //   flex: 0 0 50px;
  //     flex: 0 0 80px;
  //   }
}

.hoverable:hover {
  color: currentColor;
  font-weight: 700;
  //   background: #e4e4e6;
}

.active {
  color: $primary;
  background: #d6d6e7;
}

// @media (max-width: 576px) {
//   .items-details .q-card__section--vert {
//     padding: 12px 8px;
//   }

//   .items-details .q-list--dense > .q-item,
//   .q-item--dense {
//     padding: 2px 4px;
//   }
// }

// .items-details .q-gutter-y-sm,
// .q-gutter-sm {
//   margin-right: -4px;
// }
</style>
