<template>
  <div class="row q-gutter-sm items-details" style="margin-top: 50px">
    <div
      class="my-card-wrapper col-lg-4 col-md-4 col-sm-6 col-xs-12"
      v-for="(good, index) in data"
      :key="index"
    >
      <q-card class="my-card">
        <q-card-section horizontal>
          <q-card-section class="col-8">
            <q-list dense>
              <q-item v-for="(column, key) in columns" :key="key">
                <q-item-section>
                  {{ column.label }}
                </q-item-section>

                <q-item-section>{{ good[column.field] }}</q-item-section>
              </q-item>
            </q-list>
          </q-card-section>

          <q-card-section class="col-4 text-center">
            <div class="status text-center" :style="changeColor(good.status)">
              {{ firstUpperCase(good.status) }}
            </div>
            <br />
            <q-btn
              flat
              color="primary"
              @click="$router.push(link + good.poid_raw + '/' + good.poid)"
            >
              <q-icon left size="md" name="move_to_inbox" />
              <div style="font-size: 12px">Receive</div>
            </q-btn>
          </q-card-section>
        </q-card-section>
      </q-card>
    </div>

    <!-- <div
          v-if="Object.keys(data).length"
          v-observe-visibility="handleScrolledToBottom"
        ></div> -->
  </div>
</template>

<script>
export default {
  props: ["data", "columns", "link"],
  methods: {
    firstUpperCase(value) {
      return value.charAt(0).toUpperCase() + value.slice(1);
    },
    changeColor(value) {
      if (value === "partial") {
        return {
          background: "orange",
        };
      } else {
        return {
          background: "#85c786",
        };
      }
    },
  },
};
</script>

<style scoped lang="scss">
.status {
  //   background: #85c786;
  color: white;
  padding: 2px 8px;
}

.q-gutter-x-sm > *,
.q-gutter-sm > * {
  margin-left: 0px;
  padding: 2px 8px;
}

.btn-sorting {
  flex: 0 0 50px;
  //   flex: 0 0 150px;
}

@media (max-width: 768px) {
  .my-card-wrapper {
    width: 100%;
  }

  //   .btn-sorting {
  //     //   flex: 0 0 50px;
  //     flex: 0 0 80px;
  //   }
}

.hoverable:hover {
  color: currentColor;
  font-weight: 700;
  //   background: #e4e4e6;
}

.active {
  color: $primary;
  background: #d6d6e7;
}

@media (max-width: 576px) {
  .items-details .q-card__section--vert {
    padding: 12px 8px;
  }

  .items-details .q-list--dense > .q-item,
  .q-item--dense {
    padding: 2px 4px;
  }
}

.items-details .q-gutter-y-sm,
.q-gutter-sm {
  margin-right: -4px;
}

.my-card.q-card {
  height: 100%;
}
</style>
