<template>
  <q-list separator class="list-scrollable">
    <q-item
      v-for="(item, index) in items"
      :key="index"
      class="bottom-line"
      v-ripple
      clickable
    >
      <q-item-section
        class="text-center"
        @click="$emit('create', item, 'create')"
      >
        <div class="img-container">
          <q-img
            :src="item[columns.image]"
            spinner-color="white"
            style="width: 60px; height: 60px"
            class="float-center"
          />
        </div>

        <p>{{ item[columns.sku] }}</p>
      </q-item-section>
      <q-item-section class="flex-grow-1">
        <div class="column" @click="$emit('create', item, 'create')">
          <p>{{ item[columns.pname] }}</p>
          <!-- <div class="row">
            <div class="col text-center justify-center text-bold">
              Ordered
            </div>
            <div class="col text-center justify-center text-bold">
              Received
            </div>
            <div class="col text-center justify-center text-bold">
              Spoiled
            </div>
          </div>

          <div class="row bordered">
            <div class="col text-center justify-center">
              {{ convertDigit(item[columns.ordered]) }}
            </div>
            <div class="col text-center justify-center">
              {{ convertDigit(item[columns.received]) }}
            </div>
            <div class="col text-center justify-center">
              {{ convertDigit(item[columns.spoiled]) }}
            </div>
          </div>
        </div> -->

          <div class="row">
            <div
              class="col text-center justify-center text-bold"
              v-for="(display, index) in columns.displayColumns"
              :key="index"
            >
              {{ display.label }}
            </div>
          </div>

          <div class="row bordered">
            <div
              class="col text-center justify-center"
              v-for="(content, index) in columns.displayContent"
              :key="index"
            >
              {{ convertDigit(item[content.label]) }}
            </div>
          </div>
        </div>

        <div class="row" v-if="columns.info">
          <q-space />
          <q-btn
            flat
            color="primary"
            icon="info"
            :size="$q.screen.lt.sm ? 'sm' : 'md'"
          >
            <q-menu>
              <div class="row q-px-md q-py-md">
                <q-table
                  :rows="item[columns.storage]"
                  :columns="productColumns"
                  row-key="name"
                  separator="cell"
                  virtual-scroll
                  style="max-height: 400px"
                  no-data-label="No storage added"
                  no-results-label="The filter didn't uncover any results"
                  :rows-per-page-options="[0]"
                  :pagination="pagination"
                  :hide-bottom="item[columns.storage].length > 0"
                  class="tooltip-table"
                >
                  <template v-slot:no-data="{ icon, message, filter }">
                    <div
                      class="
                        full-width
                        row
                        flex-center
                        text-primary
                        q-gutter-sm
                      "
                    >
                      <span> {{ message }} </span>
                      <q-icon
                        size="2em"
                        :name="filter ? 'filter_b_and_w' : icon"
                      />
                    </div>
                  </template>
                  <template v-slot:body="props">
                    <q-tr
                      :props="props"
                      :key="props.row.index"
                      @click="$emit('update', props.row)"
                    >
                      <q-td
                        v-for="col in props.cols"
                        :key="col.name"
                        :props="props"
                      >
                        {{ col.value }}
                      </q-td>
                    </q-tr>
                  </template>
                </q-table>
              </div>
            </q-menu>
          </q-btn>
        </div>
      </q-item-section>
    </q-item>
  </q-list>
</template>

<script>
export default {
  // name: "ItemList",
  // props: ["items", "columns", "productColumns"],
  props: {
    items: {
      type: Array,
      required: false,
    },
    columns: {
      type: Object,
      required: false,
    },
    productColumns: {
      type: Array,
      required: false,
    },
  },
  data() {
    return {
      pagination: {
        page: 1,
        rowsPerPage: 0, // 0 means all rows
      },
    };
  },
  methods: {
    convertDigit(val) {
      if (val === 0 || val === "0") {
        return "0000";
      } else {
        return val;
      }
    },
  },
};
</script>

<style scoped lang="scss">
@media (min-width: 768px) {
  .flex-grow-1 {
    flex: 0 0 80%;
  }
}

.item-list {
  max-height: 200px;
  overflow: scroll;
}

.bottom-line {
  //   border-bottom: 1px solid currentColor;
  margin-left: 12px;
  margin-right: 12px;
}

tr.border-table td {
  border: 1px solid black;
}

.tooltip-table {
  min-width: 150px;
  max-width: 400px;
}

@media (max-width: 400px) {
  .tooltip-table {
    max-width: 200px;
  }
}

.bordered {
  border: 1px solid black;
}

.q-item {
  padding: 8px 0px !important;
}

.list-scrollable {
  max-height: 400px;
  overflow: scroll;
  padding: 8px 0px;
}
</style>
