<template>
  <q-list bordered class="rounded-borders full-width">
    <template v-for="(d, index) in data" :key="index">
      <q-expansion-item expand-separator :label="index.toString()">
        <div class="q-py-xs bg-white">
          <div
            v-for="(content, key) in d"
            :key="key"
            class="row border q-pa-sm q-mx-sm q-mt-sm q-mb-lg"
          >
            <div class="col q-gutter-sm">
              <p class="label_stocktakeid">
                StockID: {{ content.stocktake.printed_id }}
              </p>
              <div class="row">
                <div class="col-md-6 col-sm-12 q-gutter-sm q-pa-sm">
                  <q-input
                    square
                    outlined
                    dense
                    v-model="content.stocktake.outlet_address"
                    label="Outlet Address"
                    disable
                  />
                  <q-input
                    square
                    outlined
                    dense
                    v-model="content.stocktake.outlet_name"
                    label="Outlet Address 2"
                    disable
                  />
                  <div class="row">
                    <q-input
                      square
                      outlined
                      dense
                      v-model="content.outlet.city"
                      label="City"
                      class="col q-mr-sm"
                    />
                    <q-input
                      square
                      outlined
                      dense
                      v-model="text"
                      label="State/"
                      class="col"
                    />
                  </div>
                  <div class="row">
                    <q-input
                      square
                      outlined
                      dense
                      v-model="content.outlet.postal"
                      label="Postal/"
                      class="col q-mr-sm"
                    />
                    <q-input
                      square
                      outlined
                      dense
                      v-model="content.outlet.country"
                      label="Country"
                      class="col"
                    />
                  </div>
                </div>
                <div
                  class="col-12 col-lg-6 col-md-6 col-sm-12 q-gutter-sm q-pa-sm"
                >
                  <div class="row">
                    <p v-if="content.stocktake.outlet_last_visit === ''">
                      Last Visit: -
                    </p>
                    <p v-else>
                      Last Visit: {{ content.stocktake.outlet_last_visit }}
                    </p>
                  </div>

                  <q-input
                    v-model="content.stocktake.stocktake_remark"
                    square
                    :input-style="{ resize: 'none', height: '64px' }"
                    style="width: 100%; padding-top: 6px; overflow: scroll"
                    outlined
                    type="textarea"
                    label="Remarks"
                  />
                  <div class="row">
                    <div class="col">
                      <p>Status: {{ content.stocktake.status }}</p>
                    </div>
                    <div class="col">
                      <q-btn
                        color="primary"
                        :label="content.btn_label"
                        class="float-right"
                        @click="
                          $router.push(
                            '/stocktake/details/' +
                              content.stocktake.stocktake_id
                          )
                        "
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </q-expansion-item>
      <q-separator />
    </template>
  </q-list>
</template>

<script>
export default {
  props: ["data", "text"],
};
</script>

<style scoped lang="scss">
.q-expansion-item--expanded {
  background: $primary;
  transition: 0.5s;
}

.q-expansion-item--collapsed {
  transition: 0.5s;
}

.border {
  border: 1px solid #b9b9ba;
}

p.label_stocktakeid {
  position: relative !important;
  top: -20px;
  font-size: 18px;
  background-color: white;
  width: fit-content;
  padding: 0 8px;
  margin: 8px 0px -24px 8px;
}
</style>
