<template>
  <q-btn
    @click="$emit('click')"
    :color="color ? color : 'primary'"
    :text-color="textColor ? textColor : 'white'"
    unelevated
    :icon="icon ? icon : 'add'"
    :label="label ? labelTitle(label) : ''"
    no-caps
    class="btn-custom-hover btn-custom"
    :size="size ? size : 'md'"
  />
</template>

<script>
import mixinsButtons from "src/mixins/mixins-buttons";
export default {
  props: ["color", "textColor", "icon", "label", "size"],
  mixins: [mixinsButtons],
};
</script>

<style></style>
