<template>
  <q-btn
    dense
    :color="color ? color : 'secondary'"
    :icon="icon ? icon : 'edit'"
    :text-color="textColor ? textColor : 'white'"
    unelevated
    :label="label ? labelTitle(label) : ''"
    @click="$emit('click')"
    :size="size ? size : '7px'"
    no-caps
    class="btn-custom-hover q-px-xs q-py-xs"
    :disable="disable ? true : false"
  ></q-btn>
</template>

<script>
import mixinsButtons from "src/mixins/mixins-buttons";
export default {
  props: ["color", "textColor", "icon", "label", "size", "disable"],
  mixins: [mixinsButtons],
};
</script>

<style></style>
