<template>
  <q-btn
    dense
    unelevated
    :color="color ? color : 'secondary'"
    :text-color="textColor ? textColor : 'white'"
    :icon="icon ? icon : 'edit_note'"
    :size="size ? size : '7px'"
    :label="label ? labelTitle(label) : ''"
    @click="$emit('click')"
    class="btn-custom-hover q-px-xs q-py-xs"
    :disable="disable ? true : false"
    no-caps
  ></q-btn>
</template>

<script>
export default {
  props: ["color", "textColor", "icon", "size", "label", "disable"],
};
</script>

<style></style>
