<template>
  <q-input
    outlined
    dense
    :model-value="searchField"
    @update:modelValue="(event) => $emit('update:searchField', event)"
    class="search-field col"
  >
    <template v-slot:prepend>
      <q-icon name="search" />
    </template>
    <template v-slot:append>
      <q-icon
        v-if="searchField !== ''"
        name="close"
        @click="$emit('clear')"
        class="cursor-pointer"
        clickable
      />
    </template>
  </q-input>

  <div class="col items-center row btn-sorting" @click="$emit('change-order')">
    <q-icon size="sm" :name="setIcon" />
    <q-icon size="sm" name="sort" />
  </div>
  <q-btn
    v-if="viewPageLink"
    round
    color="primary"
    size="sm"
    style="margin-top: 8px; margin-bottom: 8px"
    icon="add"
    class="items-center q-mr-sm"
    @click="$router.push(viewPageLink)"
  />
</template>

<script>
export default {
  emits: ["change-order", "update:searchField", "clear"],
  props: {
    searchField: {
      type: String,
    },
    sort: {
      type: String,
    },
    viewPageLink: {
      type: String,
    },
    icon: {
      type: String,
    },
  },
  //   methods: {
  //     testing(event) {
  //       console.log("testing", event);
  //       //   this.$emit("update:searchField", event);
  //       this.$emit("update-text", event);
  //     },
  //   },
  computed: {
    setIcon() {
      if (this.sort === "desc") {
        return "arrow_downward";
      } else {
        return "arrow_upward";
      }
    },
  },
};
</script>

<style scoped lang="scss">
.btn-sorting {
  flex: 0 0 50px;
  //   flex: 0 0 150px;
}
</style>
