<template>
  <div>
    <p>Welcome</p>
    {{ data }}
    <!-- <q-markup-table flat bordered>
      <thead>
        <tr>
          <th class="text-left">Property</th>
          <th class="text-left">Value</th>
        </tr>
      </thead>

      <tbody>
        <tr v-for="(value, prop) in $q.platform.is" :key="prop">
          <td>{{ prop }}</td>
          <td>{{ value }}</td>
        </tr>
      </tbody>
    </q-markup-table> -->
  </div>
</template>

<script>
import { LocalStorage } from "quasar";
export default {
  name: "Dashboard",
  data() {
    return {
      data: "Token",
    };
  },
  methods: {
    callData() {
      this.data = LocalStorage.getItem("token");
    },
  },
  mounted() {
    this.callData();
  },
};
</script>

<style></style>
