// app global css in SCSS form
body {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  color: #676a6c;
  letter-spacing: -0.5px;
  background: #f3f3f4;
}

.text-h1,
.text-h2,
.text-h3,
.text-h4,
.text-h5,
.text-h6 {
  letter-spacing: -0.5px;
}

.q-toolbar__title {
  font-size: 18px;
  font-weight: 700;
}

label {
  font-weight: 700;
}

.q-table {
  tbody {
    color: #676a6c;
  }
}

.q-table {
  tbody {
    td {
      font-size: 12px;
      font-weight: 500;
    }
  }
}

#invoice {
  color: #000;
}

.ellipsis {
  letter-spacing: -0.6px;
}

.q-btn__wrapper {
  // padding: 6px;
  font-weight: 900;
}

.q-menu {
  border-radius: 0px;
}

.q-table--col-auto-width {
  background-color: $accent !important;
}

.ignore-elements {
  th {
    background-color: $accent !important;
    padding: 7px 5px !important;
  }
}

.grid-table {
  .q-field--filled .q-field__control {
    background: #fff;
  }
}

.ignore-elements {
  .q-field__control {
    min-height: 30px !important;
    height: 30px !important;
  }
}

.q-table th .text-teal {
  color: unset !important;
  border-color: unset !important;
}

.dashboard .q-table .q-field--filled .q-field__control {
  border-radius: 3px;
  padding: 0px;
}

.dashboard
  .q-table
  .q-field__control-container.relative-position.q-anchor--skip {
  padding-left: 8px;
}

.dashboard .q-table .q-field--dense .q-field__control,
.dashboard .q-table .q-field--dense .q-field__marginal {
  height: fit-content;
  text-align: center;
  vertical-align: middle;
  padding-top: 1px;
}

.dashboard .q-table .q-field--filled .q-field__control:before {
  background: white;
  // border: 1px solid #0060df;
  border-bottom: 0px;
}

.dashboard
  .q-table
  .q-field--filled.q-field--highlighted
  .q-field__control:before {
  background: white;
  border: 1px solid #0060df;
}

.q-table .q-field--filled .q-field__control:after {
  height: 0px;
  background: unset;
}

.ignore-elements {
  .q-checkbox__bg {
    top: 30%;
    left: 30%;
    width: 30%;
    height: 30%;
  }
}

.grid-table {
  .q-checkbox__bg {
    top: 25%;
    left: 25%;
    width: 50%;
    height: 50%;
    border: 1px solid currentColor;
  }
}

.btn-square {
  border-radius: 0px;
}

@media (max-width: 600px) {
  .no-padding-mobile,
  .no-padding-mobile .q-card__section--vert {
    padding-left: 0px;
    padding-right: 0px;
  }
}

body.desktop {
  .q-focus-helper:hover {
    background-color: black !important;
    background: black !important;
    opacity: 1;
  }
}

body.desktop .q-focusable:focus .q-focus-helper,
body.desktop .q-hoverable:hover .q-focus-helper {
  background: inherit;
  opacity: 0;
}
body.ios .q-hoverable:active .q-focus-helper {
  background: inherit;
  opacity: 0;
}
.q-focus-helper {
  opacity: 0;
  transition: unset;
}

.btn-custom-hover:hover {
  transition: 0.3s;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2) 0 0) !important;
}

.q-btn--actionable.q-btn--unelevated:active .q-btn__wrapper:before,
.q-btn--actionable.q-btn--unelevated.q-btn--active .q-btn__wrapper:before {
  box-shadow: unset !important;
  background-color: #5bc2c2 !important;
}

.q-tr:hover,
.dashboard tr:hover {
  background-color: #ccf2f4 !important;
}

.q-table th,
.q-table td {
  padding: 3px 6px;
}

.q-checkbox__inner {
  width: 0.6em;
  min-width: 0.6em;
  height: 0.6em;
}

.q-checkbox__inner--truthy,
.q-checkbox__inner--indet {
  color: #0060df !important;
}

.q-table th {
  text-align: center !important;
}

.q-table th p,
.q-table th {
  margin: 0px !important;
  font-weight: 900;
}

.q-table
  th:last-child
  .q-field__control.relative-position.row.no-wrap.text-teal {
  display: none;
}

.q-table {
  color: $grey-11;
}

.q-checkbox__bg {
  border: 1px solid currentColor;
}

.btn-press-down:active {
  box-shadow: inset 1px 3px 6px 3px gray !important;
}

.btn-custom .block {
  padding-bottom: 1px;
}

.btn-custom .on-left {
  margin-right: 2px;
}

.btn-custom-hover.q-btn.disabled {
  opacity: 0.7 !important;
  color: #cacaca !important;
  box-shadow: inset 0px 0px 0px 1px !important;
  background: white !important;
}

.btn-custom-hover.q-btn.disabled:hover {
  color: #a1a1a1 !important;
}

.btn-custom .q-btn__wrapper {
  font-weight: 500;
  padding: 1px 6px 1px 4px;
}

.vertical-align-middle {
  vertical-align: middle;
}

.q-header .q-btn {
  font-size: 12px;
  font-weight: 900 !important;
}

.q-header .q-btn__wrapper {
  padding: 4px 10px;
}

#q-app-login .q-field__control {
  color: #00acff;
}

.checkbox-grey[aria-checked="false"] .q-checkbox__bg {
  border: 0;
  background: #dee2e6;
}

.products-detail .q-pa-md {
  padding: 0px;
}

.expend .q-uploader__list.scroll {
  transition: 300ms cubic-bezier(0.47, 0, 0.745, 0.715) 0s;
  display: block !important;
}

.not-expend .q-uploader__list.scroll {
  display: none !important;
  transition: 300ms cubic-bezier(0.47, 0, 0.745, 0.715) 0s;
}

.q-item__section--side i.q-expansion-item__toggle-icon {
  color: rgba(255, 255, 255, 0.7);
}

.search-bar-non-ios-12 {
  // margin-top: 200px;
  z-index: 1;
  background: #f3f3f4;
  padding-bottom: 12px !important;
  // padding-top: 24px;
  padding-top: calc(50px + env(safe-area-inset-top, 0)) !important;
}

.search-bar-ios-12 {
  // margin-top: 200px;
  z-index: 1;
  background: #f3f3f4;
  padding-bottom: 12px !important;
  // padding-top: 24px;
  padding-top: calc(100px + env(safe-area-inset-top, 0)) !important;
}

.stocktake .q-expansion-item--expanded .q-expansion-item__container .q-item,
.stocktake
  .q-expansion-item--expanded
  .q-item__section.column.q-item__section--side.justify-center {
  color: white !important;
}

.stocktake .q-item__section--side.cursor-pointer {
  display: none !important;
}

.my-accordion
  .q-item__section.column.q-item__section--side.justify-center.q-focusable.relative-position.cursor-pointer {
  display: none !important;
}

.details .q-field--dense .q-field__label {
  text-align: center !important;
}

.subcategory.q-expansion-item--collapsed .q-expansion-item__container .q-item {
  color: #676a6c !important;
}
