<template>
  <div :class="classes">
    <template v-if="pictures.length > 0">
      <q-carousel
        swipeable
        animated
        v-model="slide"
        :autoplay="autoplay"
        ref="carousel"
        infinite
      >
        <q-carousel-slide
          v-for="(picture, index) in pictures"
          :key="index"
          :name="picture[table.name]"
          :img-src="picture[table.url]"
        />
        <template v-slot:control>
          <q-carousel-control
            position="top-right"
            :offset="[18, 18]"
            class="text-white rounded-borders"
          >
            <q-btn
              push
              round
              dense
              color="orange"
              text-color="white"
              icon="delete"
              @click="deletePhoto(slide)"
            />
          </q-carousel-control>
        </template>
      </q-carousel>
    </template>
    <div v-else class="row btn-center">
      <q-img
        src="http://nakertrans.sumbarprov.go.id/images/noimage.jpg"
        class="img-control q-mb-md"
        style="height: 150px; max-width: 150px"
      />
    </div>
    <q-btn
      color="primary"
      label="Prev"
      @click="$refs.carousel.previous()"
      :disable="pictures.length < 2"
      v-if="button === true"
    />
    <q-btn
      color="primary"
      label="Next"
      @click="$refs.carousel.next()"
      :disable="pictures.length < 2"
      v-if="button === true"
    />
  </div>
</template>

<script>
import { ref } from "vue";
import { api } from "boot/api";

export default {
  emits: ["deletePhoto", "update:slide"],
  props: {
    pictures: {
      default: [],
    },
    slide: {
      default: 1,
    },
    autoplay: {
      default: false,
    },
    button: {
      default: true,
    },
    classes: {
      default: "",
    },
    table: {
      default: {},
    },
  },
  data() {
    return {
      latitude: ref(0),
      longitude: ref(0),
    };
  },
  watch: {
    slide() {
      this.$emit("update:slide", this.slide);
    },
  },
  methods: {
    async deletePhoto(media_id) {
      await this.getLocation();
      const data = {
        stocktake_id: parseInt(this.$route.params.stocktakeID),
        media_id: media_id,
        location: {
          latitude: this.latitude,
          longitude: this.longitude,
        },
      };
      console.log(data);
      await api({
        method: "post",
        url: "/api/inventory/stocktake/index/action/deletepicture",
        data: data,
        headers: {
          "Content-Type": "application/json",
          Authorization:
            "Bearer " + localStorage.getItem("token").replace("__q_strn|", ""),
        },
      })
        .then((response) => {
          console.log(response);
          this.$emit("deletePhoto", media_id, true, this.table.name);
        })
        .catch((error) => {
          //handle error
          console.log(error.message);
        });
    },
    getLocation() {
      return new Promise((resolve) => {
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition((pos) => {
            this.showPosition(pos);
            resolve();
          });
        } else {
          alert("Geolocation is not supported by this browser.");
        }
      });
    },
    showPosition(position) {
      this.latitude = position.coords.latitude;
      this.longitude = position.coords.longitude;
    },
  },
};
</script>

<style scoped lang="scss">
.btn-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
</style>
