<template>
  <div class="q-py-sm bg-white">
                    <div v-for="(item, id) in products" :key="id" class="row border q-pa-sm q-mx-sm q-my-lg">
                      <div class="col q-gutter-sm">
                      <p class="label_stocktakeid">{{ item.product.product_name }}</p>
                      <div class="row q-gutter-sm">
                        <div class="col-4">
                          <q-img
                            :src="item.product.image_url"
                            spinner-color="white"
                            style="width: 100%; height: 100%"
                            class="float-center"
                          />
                        </div>
                        <div class="col q-gutter-sm details">
                          <div class="row products">
                            <ul>
                              <li>Item Code: {{ item.product.product_id }}</li>
                              <li>Outlet Qty: {{ item.outlet.qty_in_hand }}</li>
                            </ul>
                            <q-space />
                            <ul>
                              <li>Min Buffer: xx</li>
                              <li>Max Buffer: xx</li>
                            </ul>
                          </div>
                          <div class="row">
                            <q-btn
                              dense
                              padding="sm"
                              color="secondary"
                              icon="remove"
                              @click="remove(1, 'stock_count', id, item.product.product_id, item.replenishment, item.remarks)"
                            />
                            <q-input
                              dense
                              class="col input"
                              standout
                              disable
                              readonly
                              :label="item.stock_count"
                            />
                            <q-btn
                              dense
                              padding="sm"
                              color="secondary"
                              icon="add"
                              @click="add(1, 'stock_count', id, item.product.product_id, item.replenishment, item.remarks)"
                            />
                          </div>
                          <div class="row">
                            <q-btn
                              dense
                              padding="sm"
                              color="secondary"
                              icon="remove"
                              @click="remove(1, 'replenishment', id, item.product.product_id, item.stock_count, item.remarks)"
                            />
                            <q-input
                              dense
                              class="col input"
                              standout
                              disable
                              readonly
                              :label="item.replenishment"
                            />
                            <q-btn
                              dense
                              padding="sm"
                              color="secondary"
                              icon="add"
                              @click="add(1, 'replenishment', id, item.product.product_id, item.stock_count, item.remarks)"
                            />
                          </div>
                        </div>
                      </div>
                      <div class="row q-gutter-sm">
                        <q-input
                          v-model="item.remarks"
                          square
                          autogrow
                          outlined
                          type="textarea"
                          class="q-mb-md"
                          style="width: 100%"
                          @update:modelValue="(event) => $emit('val-remark', event, item.product.product_id, item.stock_count, item.replenishment)"
                        />
                      </div>
                    </div>
                    </div>
                  </div>
</template>

<script>
export default {
  emits: ['val-remark', 'val-stock', 'val-replenishment'],
  props: ['products'],
  data() {
      return {
          data_temp: [],
        };
    },
  methods: {
    add(num, key, id, product_id, num2, remarks) {
      let temp = parseInt(this.products[id][key]) + num;
      this.products[id][key] = temp.toString();
      if (key == 'stock_count') {
        this.$emit('val-stock', this.products[id][key], product_id, num2, remarks);
      }
      else if (key == 'replenishment') {
        this.$emit('val-replenishment', this.products[id][key], product_id, num2, remarks);
      }
    },
    remove(num, key, id, product_id, num2, remarks) {
      let temp = parseInt(this.products[id][key]) - num;
      this.products[id][key] = temp.toString();
      if (key == 'stock_count') {
        this.$emit('val-stock', this.products[id][key], product_id, num2, remarks);
      }
      else if (key == 'replenishment') {
        this.$emit('val-replenishment', this.products[id][key], product_id, num2, remarks);
      }
    },
  },
}
</script>

<style scoped lang="scss">
.border {
  border: 1px solid #b9b9ba;
}

p.label_stocktakeid {
  position: relative !important;
  top: -20px;
  font-size: 18px;
  background-color: white;
  width: fit-content;
  padding: 0 8px;
  margin: 8px 0px -24px 8px;
}

.products {
  ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
  }
}

@media (min-width: 576px) {
  .products {
    font-size: 18px;
  }
}
</style>