<template>
  <div class="q-py-sm bg-white">
    <div class="row border q-pa-sm q-mx-sm q-my-lg">
      <div class="col q-gutter-sm">
        <p class="label_stocktakeid">{{ products.product.product_name }}</p>
        <div class="row q-gutter-sm">
          <div class="col-4">
            <q-img
              :src="products.product.image_url"
              spinner-color="white"
              style="width: 100%; height: 100%"
              class="float-center"
            />
          </div>
          <div class="col q-gutter-sm details">
            <div class="row products">
              <ul>
                <li>Item Code: {{ products.product.product_id }}</li>
                <li>Outlet Qty: {{ products.outlet.qty_in_hand }}</li>
              </ul>
              <q-space />
              <ul>
                <li>Min Buffer: xx</li>
                <li>Max Buffer: xx</li>
              </ul>
            </div>
            <div class="row">
              <q-btn
                dense
                padding="sm"
                color="secondary"
                icon="remove"
                @click="
                  remove(
                    1,
                    'number_actual',
                    products.product.product_id,
                    products.stocktake.replenishment,
                    products.stocktake.remark
                  )
                "
              />
              <q-input
                dense
                class="col input"
                standout
                disable
                readonly
                :label="products.stocktake.number_actual"
              />
              <q-btn
                dense
                padding="sm"
                color="secondary"
                icon="add"
                @click="
                  add(
                    1,
                    'number_actual',
                    products.product.product_id,
                    products.stocktake.number_replacement,
                    products.stocktake.remark
                  )
                "
              />
            </div>
            <div class="row">
              <q-btn
                dense
                padding="sm"
                color="secondary"
                icon="remove"
                @click="
                  remove(
                    1,
                    'number_replacement',
                    products.product.product_id,
                    products.stocktake.number_actual,
                    products.stocktake.remark
                  )
                "
              />
              <q-input
                dense
                class="col input"
                standout
                disable
                readonly
                :label="products.stocktake.number_replacement"
              />
              <q-btn
                dense
                padding="sm"
                color="secondary"
                icon="add"
                @click="
                  add(
                    1,
                    'number_replacement',
                    products.product.product_id,
                    products.stocktake.number_actual,
                    products.stocktake.remark
                  )
                "
              />
            </div>
          </div>
        </div>
        <div class="row q-gutter-sm">
          <q-input
            v-model="products.stocktake.remark"
            square
            autogrow
            outlined
            type="textarea"
            class="q-mb-md"
            style="width: 100%"
            @update:modelValue="
              (event) =>
                $emit(
                  'val-remark',
                  event,
                  products.product.product_id,
                  products.stocktake.number_actual,
                  products.stocktake.number_replacement
                )
            "
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  emits: ["val-remark", "val-stock", "val-replenishment"],
  props: ["products"],
  data() {
    return {
      data_temp: [],
    };
  },
  methods: {
    add(num, key, product_id, num2, remarks) {
      let temp = parseInt(this.products.stocktake[key]) + num;
      this.products.stocktake[key] = temp.toString();
      if (key == "number_actual") {
        this.$emit(
          "val-stock",
          this.products.stocktake[key],
          product_id,
          num2,
          remarks
        );
      } else if (key == "number_replacement") {
        this.$emit(
          "val-replenishment",
          this.products.stocktake[key],
          product_id,
          num2,
          remarks
        );
      }
    },
    remove(num, key, product_id, num2, remarks) {
      let temp = parseInt(this.products.stocktake[key]) - num;
      this.products.stocktake[key] = temp.toString();
      if (key == "number_actual") {
        this.$emit(
          "val-stock",
          this.products.stocktake[key],
          product_id,
          num2,
          remarks
        );
      } else if (key == "number_replacement") {
        this.$emit(
          "val-replenishment",
          this.products.stocktake[key],
          product_id,
          num2,
          remarks
        );
      }
    },
  },
};
</script>

<style scoped lang="scss">
.border {
  border: 1px solid #b9b9ba;
}

p.label_stocktakeid {
  position: relative !important;
  top: -20px;
  font-size: 18px;
  background-color: white;
  width: fit-content;
  padding: 0 8px;
  margin: 8px 0px -24px 8px;
}

.products {
  ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
  }
}

@media (min-width: 576px) {
  .products {
    font-size: 18px;
  }
}
</style>
