<template>
  <q-table
    flat
    bordered
    square
    class="my-sticky-virtscroll-table q-mb-md"
    :class="data.length > 0 ? 'my-sticky-header-table' : ''"
    v-model:pagination="pagination"
    :rows-per-page-options="[0]"
    row-key="index"
    :rows="data"
    :columns="columns"
    no-data-label="I didn't find anything for you"
    separator="cell"
    :hide-bottom="data.length > 0"
  >
    <template v-slot:body-cell-num_actual="props">
      <q-td :props="props">
        {{ props.row.tot_stocktaked_sku }} of {{ props.row.total }}
      </q-td>
    </template>
  </q-table>
</template>

<script>
export default {
  props: ["data", "columns", "pagination"],
};
</script>

<style lang="sass">
.my-sticky-virtscroll-table
  thead tr:first-child th
    background-color: #f3f3f4

.my-sticky-header-table
  /* height or max-height is important */
  height: 310px

  .q-table__top,
  .q-table__bottom,
  thead tr:first-child th
    /* bg color is important for th; just specify one */
    background-color: #f3f3f4

  thead tr th
    position: sticky
    z-index: 1
  thead tr:first-child th
    top: 0

  /* this is when the loading indicator appears */
  &.q-table--loading thead tr:last-child th
    /* height of all previous header rows */
    top: 48px
</style>
