<template>
  <div class="row" style="margin-top: 26px; margin-bottom: 52px">
    <div
      class="col-lg-6 col-md-6 col-sm-12 col-xs-12 q-mb-sm q-px-xs"
      v-for="(d, index) in data"
      :key="index"
    >
      <q-card class="my-card stocktake">
        <div class="q-py-md q-px-sm bg-white full-width">
          <div class="row border q-pa-sm q-ma-sm">
            <div class="col q-gutter-sm">
              <p class="label_stocktakeid">
                {{ d.product.product_name }}
              </p>
              <div class="row q-gutter-sm">
                <div class="col-4">
                  <q-img
                    :src="d.product.image_url"
                    spinner-color="white"
                    style="width: 100%; height: 100%"
                    class="float-center"
                  />
                </div>
                <div class="col q-gutter-sm details">
                  <div class="row products">
                    <ul>
                      <li>Item Code: {{ d.product.product_id }}</li>
                      <li>Outlet Qty: {{ d.outlet.qty_in_hand }}</li>
                    </ul>
                    <q-space />
                    <ul>
                      <li>Min Buffer: xx</li>
                      <li>Max Buffer: xx</li>
                    </ul>
                  </div>
                  <div class="row">
                    <q-btn
                      dense
                      padding="sm"
                      color="secondary"
                      icon="remove"
                      @click="
                        remove(1, 'number_actual', index, d.product.product_id)
                      "
                    />
                    <q-input
                      dense
                      class="col input"
                      standout
                      disable
                      readonly
                      :label="'Stock: ' + d.stocktake.number_actual"
                    />
                    <q-btn
                      dense
                      padding="sm"
                      color="secondary"
                      icon="add"
                      @click="
                        add(
                          1,
                          'number_actual',
                          index,
                          d.product.product_id,
                          d.stocktake.number_replacement,
                          d.stocktake.remark
                        )
                      "
                    />
                  </div>
                  <div class="row">
                    <q-btn
                      dense
                      padding="sm"
                      color="secondary"
                      icon="remove"
                      @click="
                        remove(
                          1,
                          'number_replacement',
                          index,
                          d.product.product_id,
                          d.stocktake.number_actual,
                          d.stocktake.remark
                        )
                      "
                    />
                    <q-input
                      dense
                      class="col input"
                      standout
                      disable
                      readonly
                      :label="'Rep: ' + d.stocktake.number_replacement"
                    />
                    <q-btn
                      dense
                      padding="sm"
                      color="secondary"
                      icon="add"
                      @click="
                        add(
                          1,
                          'number_replacement',
                          index,
                          d.product.product_id,
                          d.stocktake.number_actual,
                          d.stocktake.remark
                        )
                      "
                    />
                  </div>
                </div>
              </div>
              <div class="row q-gutter-sm">
                <q-input
                  v-model="d.stocktake.remark"
                  square
                  autogrow
                  outlined
                  type="textarea"
                  class="q-mb-md"
                  style="width: 100%"
                  @update:modelValue="
                    (event) =>
                      $emit(
                        'val-remark',
                        event,
                        index,
                        d.product.product_id,
                        d.stocktake.number_actual,
                        d.stocktake.number_replacement
                      )
                  "
                />
              </div>
            </div>
          </div>
        </div>
      </q-card>
    </div>
  </div>
</template>

<script>
export default {
  emits: ["val-remark", "val-stock", "val-replenishment"],
  props: ["data"],
  data() {
    return {
      data_temp: [],
    };
  },
  methods: {
    add(num, key, index, product_id, num2, remarks) {
      let temp = parseInt(this.data[index].stocktake[key]) + num;
      this.data[index].stocktake[key] = temp.toString();
      if (key == "number_actual") {
        this.$emit(
          "val-stock",
          this.data[index].stocktake[key],
          index,
          product_id,
          num2,
          remarks
        );
      } else if (key == "number_replacement") {
        this.$emit(
          "val-replenishment",
          this.data[index].stocktake[key],
          index,
          product_id,
          num2,
          remarks
        );
      }
    },
    remove(num, key, index, product_id, num2, remarks) {
      let temp = parseInt(this.data[index].stocktake[key]) - num;
      this.data[index].stocktake[key] = temp.toString();
      if (key == "number_actual") {
        this.$emit(
          "val-stock",
          this.data[index].stocktake[key],
          index,
          product_id,
          num2,
          remarks
        );
      } else if (key == "number_replacement") {
        this.$emit(
          "val-replenishment",
          this.data[index].stocktake[key],
          index,
          product_id,
          num2,
          remarks
        );
      }
    },
  },
};
</script>

<style scoped lang="scss">
.border {
  border: 1px solid #b9b9ba;
}

p.label_stocktakeid {
  position: relative !important;
  top: -20px;
  font-size: 18px;
  background-color: white;
  width: fit-content;
  padding: 0 8px;
  margin: 8px 0px -24px 8px;
}

.products {
  ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
  }
}

@media (min-width: 576px) {
  .products {
    font-size: 18px;
  }
}

@media (min-width: 786px) {
  .stocktake {
    height: 100%;
  }
}
</style>
