<template>
  <div class="q-pa-md">
    <form @submit.prevent="submitData" class="q-gutter-sm">
      <div class="row items-center justify-center" v-show="!$q.screen.lt.sm">
        <p
          class="text-h6 text-weight-bolder no-margin vertical-align-middle"
          v-show="!$q.screen.lt.sm"
        >
          {{ $route.name }} - {{ $route.params.printed_id }}
        </p>
        <q-space v-if="!$q.screen.lt.sm" />
        <div class="q-gutter-sm">
          <back-button />
        </div>
      </div>

      <q-separator v-show="!$q.screen.lt.sm" />

      <div class="row">
        <div class="col-12 order">
          <formPanel
            accordion
            label="Transfer Detail"
            :headerStyle="{
              background: '#161e6f',
              fontSize: '14px',
              color: '#fff',
            }"
          >
            <template v-slot:fields2>
              <q-input
                outlined
                readonly
                label="Internal Transfer ID"
                lazy-rules
                v-model="header.printed_id"
                class="q-mb-md"
              />
              <q-input
                outlined
                readonly
                label="Transfer Request Date"
                lazy-rules
                v-model="header.transfer_date_request"
                class="q-mb-md"
              />
              <q-input
                outlined
                readonly
                label="Outlet"
                lazy-rules
                v-model="header.outlet_id"
                class="q-mb-md"
              />
              <q-input
                outlined
                readonly
                label="Transfer By"
                lazy-rules
                v-model="header.transfer_by"
                class="q-mb-md"
              />
              <q-input
                outlined
                readonly
                label="Request By"
                lazy-rules
                v-model="header.request_by"
                class="q-mb-md"
              />
            </template>
          </formPanel>
        </div>

        <div class="col-12 order products-detail">
          <formPanel
            accordion
            label="Item(s) to Transfer"
            :headerStyle="{
              background: '#161e6f',
              fontSize: '14px',
              color: '#fff',
            }"
          >
            <template v-slot:fields2>
              <item-list :items="items" :columns="columns" />
            </template>
          </formPanel>
        </div>
      </div>
    </form>
  </div>
</template>

<script>
import ItemList from "components/Cards/List.vue";
import { api } from "boot/api";

export default {
  data() {
    return {
      // name: "Internal Transfer View",
      header: {},
      items: [],
      columns: {
        image: "image_url",
        sku: "sku",
        pname: "product_name",
        displayColumns: [
          {
            label: "Request Qty",
          },
          {
            label: "From Storage",
          },
          {
            label: "Transferred Qty",
          },
          {
            label: "To Storage",
          },
        ],
        displayContent: [
          {
            label: "transfer_qty",
          },
          {
            label: "from_storage",
          },
          {
            label: "transfered_qty",
          },
          {
            label: "to_storage",
          },
        ],
        info: false,
      },
    };
  },
  methods: {
    fetchData() {
      console.log(this.$route.params.poid);
      const poid = {
        internal_transfer_id: this.$route.params.poid,
      };
      api({
        method: "post",
        url: "/api/inventory/internaltransfer/index/action/completedetail",
        data: poid,
        headers: {
          "Content-Type": "application/json",
          Authorization:
            "Bearer " + localStorage.getItem("token").replace("__q_strn|", ""),
        },
      })
        .then((response) => {
          console.log(("response: ", response.data));
          this.header = { ...response.data.header };
          this.items = response.data.items;

          console.log("Details: ", this.items);
        })
        .catch((error) => {
          //handle error
          console.log("error message: ", error.message);
        });
    },
  },
  components: {
    ItemList,
    formPanel: require("components/Form/FormPanel.vue").default,
  },
  mounted() {
    this.fetchData();
  },
};
</script>

<style scoped lang="scss">
.table-detail {
  margin-top: 20px;
}

.order {
  padding: 5px;
}

@media (max-width: 700px) {
  .order {
    width: 100%;
  }
}

.order {
  padding: 5px;
}

@media (min-width: 768px) {
  .flex-grow-1 {
    flex: 0 0 80%;
  }
}

.item-list {
  max-height: 200px;
  overflow: scroll;
}

.bottom-line {
  border-bottom: 1px solid currentColor;
  margin-left: 12px;
  margin-right: 12px;
}

tr.border-table td {
  border: 1px solid black;
}

.tooltip-table {
  min-width: 150px;
  max-width: 400px;
}

@media (max-width: 400px) {
  .tooltip-table {
    max-width: 200px;
  }
}

.bordered {
  border: 1px solid black;
}

.full-wrap {
  width: 100%;
  padding: 0px;
}

.select-custom.q-field {
  font-size: 12px !important;
}

.products-detail .q-item {
  padding: 8px 0px !important;
}
</style>
