<template>
  <div class="q-pa-md">
    <form @submit.prevent="submitData" class="q-gutter-sm">
      <div class="row items-center justify-center" v-show="!$q.screen.lt.sm">
        <p
          class="text-h6 text-weight-bolder no-margin vertical-align-middle"
          v-show="!$q.screen.lt.sm"
        >
          {{ $route.name }} - {{ $route.params.printed_id }}
        </p>
        <q-space v-if="!$q.screen.lt.sm" />
        <div class="q-gutter-sm">
          <submit-button />
          <back-button :confirm="true" />
        </div>
      </div>

      <q-separator v-show="!$q.screen.lt.sm" />

      <div class="row">
        <div class="col-12 order">
          <formPanel
            accordion
            label="Transfer Detail"
            :headerStyle="{
              background: '#161e6f',
              fontSize: '14px',
              color: '#fff',
            }"
          >
            <template v-slot:fields2>
              <q-input
                outlined
                readonly
                label="Internal Transfer ID"
                lazy-rules
                v-model="header.printed_id"
                class="q-mb-md"
              />
              <q-input
                outlined
                readonly
                label="Transfer Request Date"
                lazy-rules
                v-model="header.transfer_date_request"
                class="q-mb-md"
              />
              <q-input
                outlined
                readonly
                label="Outlet"
                lazy-rules
                v-model="header.outlet_id"
                class="q-mb-md"
              />
              <q-input
                outlined
                readonly
                label="Transfer By"
                lazy-rules
                v-model="header.transfer_by"
                class="q-mb-md"
              />
              <q-input
                outlined
                readonly
                label="Request By"
                lazy-rules
                v-model="header.request_by"
                class="q-mb-md"
              />
            </template>
          </formPanel>
        </div>

        <div class="col-12 order products-detail">
          <formPanel
            accordion
            label="Item(s) to Transfer"
            :headerStyle="{
              background: '#161e6f',
              fontSize: '14px',
              color: '#fff',
            }"
          >
            <template v-slot:fields2>
              <item-list
                :items="items"
                :columns="columns"
                :productColumns="productColumns"
                @create="openDetail"
              />
            </template>
          </formPanel>
        </div>
      </div>

      <!-- PLUGIN -->
      <q-dialog v-model="showDetail">
        <internal-transfer-popup
          :data="detailItem"
          :storages="storages"
          :action="action"
          type="data"
          @web-barcode="showBarcode = true"
          @mobile-barcode="scanImage"
          @post="updateItem($event)"
        />
      </q-dialog>

      <q-dialog v-model="showBarcode">
        <web-scanner-design @close="showBarcode = false">
          <template #barcode>
            <div class="hello">
              <StreamBarcodeReader
                @decode="(a, b, c) => onDecode(a, b, c)"
                @loaded="() => onLoaded()"
              ></StreamBarcodeReader>
            </div>
          </template>
        </web-scanner-design>
      </q-dialog>

      <!----- END OF PLUGINS ----->
      <camera-button
        @click-web="showBarcode = true"
        @click-mobile="scanImage"
      />
    </form>
  </div>
</template>

<script>
import InternalTransferPopup from "components/Modals/InternalTransferPopup.vue";
import ItemList from "components/Cards/List.vue";

import { api } from "boot/api";
import { ref } from "vue";
import { useQuasar } from "quasar";
import { StreamBarcodeReader } from "vue-barcode-reader";

let receiverOptions = [];
let storageOptions = [];

export default {
  // name: "CreateInternalTransfer",
  setup() {
    const $q = useQuasar();
  },
  data() {
    return {
      // name: "Create Internal Transfer",
      url: "https://www.freeiconspng.com/thumbs/no-image-icon/no-image-icon-15.png",
      optionsReceivedBy: receiverOptions,
      optionsDefaultStorage: storageOptions,
      storages: [],
      expdate: "11 Jun 2023",
      showBarcode: ref(false),
      showDetail: ref(false),
      detailItem: ref([]),
      // text: "",
      defaultStorage: null,
      header: {},
      items: ref([]),
      action: ref("create"),
      image: "",
      imageName: "",
      remoteUrl: "",
      columns: {
        image: "image_url",
        sku: "sku",
        pname: "product_name",
        displayColumns: [
          {
            label: "Request Qty",
          },
          {
            label: "From Storage",
          },
          {
            label: "Transfered Qty",
          },
          {
            label: "To Storage",
          },
        ],
        displayContent: [
          {
            label: "transfer_qty",
          },
          {
            label: "from_storage",
          },
          {
            label: "transferred_qty",
          },
          {
            label: "to_storage",
          },
        ],
        info: false,
        storage: "defaultStorage",
      },
      productColumns: [
        {
          name: "name",
          label: "Name",
          align: "center",
          field: "name",
        },
        {
          name: "qtyreceived",
          label: "Qty Received",
          align: "center",
          field: "qtyreceived",
        },
        {
          name: "qtyspoiled",
          label: "Qty Spoiled",
          align: "center",
          field: "qtyspoiled",
        },
        {
          name: "expdate",
          label: "Expired Date",
          align: "center",
          field: "expdate",
        },
        {
          name: "remarks",
          label: "Remarks",
          align: "center",
          field: "remarks",
        },
      ],
      pagination: {
        page: 1,
        rowsPerPage: 0, // 0 means all rows
      },
    };
  },
  methods: {
    dateNow() {
      const monthNames = [
        "January",
        "February",
        "March",
        "April",
        "May",
        "June",
        "July",
        "August",
        "September",
        "October",
        "November",
        "December",
      ];
      const dateObj = new Date();
      const month = monthNames[dateObj.getMonth()];
      const day = String(dateObj.getDate()).padStart(2, "0");
      const year = dateObj.getFullYear();
      const output = day + " " + month + " " + year;

      return output;
    },
    updateItem(payload) {
      console.log(payload);
      console.log("Items: ", this.items);

      let index = parseInt(
        this.items.findIndex((o) => o.internal_transfer_item_id == payload.id)
      );

      console.log("Index:", index);

      console.log("Payload: ", payload);

      this.items[index].qty_from = payload.qty_from;
      this.items[index].qty_to = payload.qty_to;
      this.items[index].transfer_qty = payload.request_qty;
      this.items[index].transferred_qty = payload.transferred_qty;
      this.items[index].from_shelf_id = payload.from_shelf_id;
      this.items[index].from_storage = payload.displayValueFrom;
      this.items[index].to_shelf_id = payload.to_shelf_id;
      this.items[index].to_storage = payload.displayValueTo;
      this.items[index].expired_date = payload.expired_date;
      this.items[index].remarks = payload.remarks;

      console.log("Updated Items: ", this.items);
    },
    submitData() {
      console.log("submit form!");

      console.log(this.header.internal_transfer_id);

      let itemDetail = [];

      Object.entries(this.items).forEach((e) => {
        console.log("Item: ", e[1]);
        const items = {
          internal_transfer_item_id: e[1].internal_transfer_item_id,
          transfered_qty: e[1].transferred_qty,
        };
        itemDetail.push(items);
      });

      let payload = {
        internal_transfer_id: this.header.internal_transfer_id,
        items: itemDetail,
      };
      console.log("Payload: ", payload);
      api({
        method: "post",
        url: "/api/inventory/internaltransfer/index/action/submitrequest",
        data: payload,
        headers: {
          "Content-Type": "application/json",
          Authorization:
            "Bearer " + localStorage.getItem("token").replace("__q_strn|", ""),
        },
      })
        .then((response) => {
          console.log("response: ", response.data);

          // NOTIF
          if (response.data.valid) {
            const message = "You've succesfully submitted the data";
            this.$q.notify({
              message: message,
              color: "positive",
              position: "center",
              icon: "thumb_up",
              multiLine: true,
              // timeout: Math.random() * 5000 + 3000,
              actions: [
                {
                  label: "Dismiss",
                  color: "white",
                  handler: () => {
                    /* ... */
                  },
                },
              ],
            });

            // this.$router.push({ path: "../../" });
            this.$router.back();
          } else {
            let message = "";
            if (response.data.error_message) {
              message = response.data.error_message;
            } else if (response.data.errors.postItems.length > 0) {
              message = `${response.data.errors.postItems.length} product(s) need to be proceed first: `;

              const errors = response.data.errors.postItems;

              console.log("Errors: ", errors);

              // const tag = document.createElement("li");

              errors.forEach(function (item, index) {
                // let error = "";
                // error = document.createTextNode(item);
                // message += tag.appendChild(error);
                // message += ce("li", { domProps: { innerHTML: item } });
                if (errors.length > 1) {
                  if (index == errors.length - 1) {
                    message += item;
                  } else {
                    message += item.replace(".", ", ");
                  }
                } else {
                  message += item;
                }

                console.log(index);
              });
            } else {
              message = "Goods Received ID Has been taken";
            }
            this.$q.notify({
              message: message,
              color: "negative",
              position: "center",
              multiLine: true,
              icon: "report_problem",
              actions: [
                {
                  label: "Dismiss",
                  color: "white",
                  handler: () => {
                    /* ... */
                  },
                },
              ],
            });
          }
        })
        .catch((error) => {
          //handle error
          console.log("error message: ", error.message);
        });
    },
    fetchData() {
      console.log(this.$route.params.poid);
      const poid = {
        internal_transfer_id: this.$route.params.poid,
      };
      api({
        method: "post",
        url: "/api/inventory/internaltransfer/index/action/transferdetail",
        data: poid,
        headers: {
          "Content-Type": "application/json",
          Authorization:
            "Bearer " + localStorage.getItem("token").replace("__q_strn|", ""),
        },
      })
        .then((response) => {
          console.log(("response: ", response.data));
          this.header = { ...response.data.header };
          this.items = response.data.items;

          this.items.forEach((v) => {
            v.update = ref({});
            v.transferred_qty = ref(0);
          });

          storageOptions = [];
          Object.entries(response.data.storages).forEach((e) => {
            let data = {
              label: e[1].label,
              value: e[1].id,
            };
            storageOptions.push(data);
            this.storages.push(data);
          });
          console.log("Details: ", this.items);
        })
        .catch((error) => {
          //handle error
          console.log("error message: ", error.message);
        });
    },
    openDetail(product, action) {
      console.log("Product: ", product);
      console.log("Action: ", action);
      this.action = "update";
      this.detailItem = [];
      this.detailItem.push(product);
      this.showDetail = true;
    },
    scanBarcode() {
      console.log("scanning...");
    },
    onDecode(a, b, c) {
      // console.log(a, b, c);

      // open related product
      console.log("Text: ", a);
      // this.showBarcode = false;
      const data = this.items.find((o) => o.product_id == a);

      if (data) {
        this.openDetail(data, "update");
      } else {
        this.$q.notify({
          color: "negative",
          message: "Sorry, data is not found",
        });
      }
    },
    onLoaded() {
      console.log("load");
    },
    scanImage() {
      cordova.plugins.barcodeScanner.scan(
        (result) => {
          // alert(
          //   "We got a barcode\n" +
          //     "Result: " +
          //     result.text +
          //     "\n" +
          //     "Format: " +
          //     result.format +
          //     "\n" +
          //     "Cancelled: " +
          //     result.cancelled
          // );

          // this.text = result.text;

          const data = this.items.find((o) => o.product_id == result);

          if (data) {
            this.openDetail(data, "update");
          } else {
            this.$q.notify({
              color: "negative",
              message: "Sorry, data is not found",
            });
          }
        },
        (error) => {
          alert("Scanning failed: " + error);
        },
        {
          preferFrontCamera: false, // iOS and Android
          showFlipCameraButton: true, // iOS and Android
          showTorchButton: true, // iOS and Android
          torchOn: true, // Android, launch with the torch switched on (if available)
          saveHistory: true, // Android, save scan history (default false)
          prompt: "Place a barcode inside the scan area", // Android
          resultDisplayDuration: 500, // Android, display scanned text for X ms. 0 suppresses it entirely, default 1500
          //formats : "QR_CODE,PDF_417", // default: all but PDF_417 and RSS_EXPANDED
          // orientation: "landscape", // Android only (portrait|landscape), default unset so it rotates with the device
          disableAnimations: true, // iOS
          disableSuccessBeep: true, // iOS and Android
        }
      );
    },
  },
  components: {
    InternalTransferPopup,
    ItemList,
    StreamBarcodeReader,
    formPanel: require("components/Form/FormPanel.vue").default,
  },
  mounted() {
    this.fetchData();
    // this.bus.$on('submit', this.submitData)
    this.eventBus.on("submit", (args) => {
      this.submitData();
    });
  },
  props: {
    msg: String,
  },
};
</script>

<style scoped lang="scss">
.table-detail {
  margin-top: 20px;
}

.order {
  padding: 5px;
}

@media (max-width: 700px) {
  .order {
    width: 100%;
  }
}

.order {
  padding: 5px;
}

@media (min-width: 768px) {
  .flex-grow-1 {
    flex: 0 0 80%;
  }
}

.item-list {
  max-height: 200px;
  overflow: scroll;
}

.bottom-line {
  border-bottom: 1px solid currentColor;
  margin-left: 12px;
  margin-right: 12px;
}

tr.border-table td {
  border: 1px solid black;
}

.tooltip-table {
  min-width: 150px;
  max-width: 400px;
}

@media (max-width: 400px) {
  .tooltip-table {
    max-width: 200px;
  }
}

.bordered {
  border: 1px solid black;
}

.full-wrap {
  width: 100%;
  padding: 0px;
}

.select-custom.q-field {
  font-size: 12px !important;
}

.products-detail .q-item {
  padding: 8px 0px !important;
}
</style>
