<template>
  <div class="q-pa-md">
    <form @submit.prevent="submitData" class="q-gutter-sm">
      <div class="row items-center justify-center" v-show="!$q.screen.lt.sm">
        <p
          class="text-h6 text-weight-bolder no-margin vertical-align-middle"
          v-show="!$q.screen.lt.sm"
        >
          {{ $route.name }}
        </p>
        <q-space v-if="!$q.screen.lt.sm" />
        <div class="q-gutter-sm">
          <submit-button />
          <back-button :confirm="true" />
        </div>
      </div>

      <q-separator v-show="!$q.screen.lt.sm" />

      <div class="row">
        <div class="col-12 order">
          <formPanel
            accordion
            label="Transfer Detail"
            :headerStyle="{
              background: '#161e6f',
              fontSize: '14px',
              color: '#fff',
            }"
          >
            <template v-slot:fields2>
              <q-input
                outlined
                v-model="header.transfer_request_date"
                label="Transfer Request Date"
                class="q-mb-md"
              >
                <template v-slot:append>
                  <q-icon name="event" class="cursor-pointer">
                    <q-popup-proxy
                      ref="qDateProxy"
                      transition-show="scale"
                      transition-hide="scale"
                    >
                      <q-date
                        v-model="header.transfer_request_date"
                        mask="D MMMM YYYY"
                      >
                        <div class="row items-center justify-end">
                          <q-btn
                            v-close-popup
                            label="Close"
                            color="primary"
                            flat
                          />
                        </div>
                      </q-date>
                    </q-popup-proxy>
                  </q-icon>
                </template>
              </q-input>

              <q-select
                outlined
                class="q-mb-md"
                transition-show="flip-up"
                transition-hide="flip-down"
                v-model="header.outletByModel"
                use-input
                emit-value
                map-options
                input-debounce="0"
                @filter="filterOutlet"
                behavior="menu"
                :options="optionsOutlet"
                label="Outlet"
                style="width: 100%"
              />

              <q-select
                outlined
                class="q-mb-md"
                transition-show="flip-up"
                transition-hide="flip-down"
                v-model="header.transferByModel"
                use-input
                emit-value
                map-options
                input-debounce="0"
                @filter="filterTransferBy"
                behavior="menu"
                :options="optionsTransferBy"
                label="Transfer By"
                style="width: 100%"
              />

              <q-select
                outlined
                class="q-mb-md"
                transition-show="flip-up"
                transition-hide="flip-down"
                v-model="header.requestByModel"
                use-input
                emit-value
                map-options
                input-debounce="0"
                @filter="filterRequestBy"
                behavior="menu"
                :options="optionsRequestBy"
                label="Request By"
                style="width: 100%"
              />
            </template>
          </formPanel>
        </div>

        <div class="col-12 order products-detail">
          <formPanel
            accordion
            label="Item(s) to Transfer"
            :headerStyle="{
              background: '#161e6f',
              fontSize: '14px',
              color: '#fff',
            }"
          >
            <template v-slot:fields2>
              <item-list
                :items="items"
                :columns="columns"
                :productColumns="productColumns"
                @create="openDetail"
              />
            </template>
          </formPanel>
        </div>
      </div>

      <add-product-button @click="showAddItem = true" label="Add Product" />

      <q-dialog v-model="showAddItem" full-width full-height>
        <add-item @selected="addData" />
      </q-dialog>
    </form>

    <!-- PLUGIN -->
    <q-dialog v-model="showDetail">
      >
      <internal-transfer-popup
        :data="detailItem"
        :storages="storages"
        :action="action"
        type="no-data"
        @web-barcode="showBarcode = true"
        @mobile-barcode="scanImage"
        @post="updateItem($event)"
      />
    </q-dialog>

    <q-dialog v-model="showBarcode">
      <web-scanner-design @close="showBarcode = false">
        <template #barcode>
          <div class="hello">
            <StreamBarcodeReader
              @decode="(a, b, c) => onDecode(a, b, c)"
              @loaded="() => onLoaded()"
            ></StreamBarcodeReader>
          </div>
        </template>
      </web-scanner-design>
    </q-dialog>
    <!----- END OF PLUGINS ----->

    <camera-button @click-web="showBarcode = true" @click-mobile="scanImage" />
  </div>
</template>

<script>
import ItemList from "components/Cards/List.vue";
import InternalTransferPopup from "components/Modals/InternalTransferPopup.vue";
import AddItem from "components/Modals/AddItem.vue";
import AddProductButton from "components/Buttons/GridButtons/AddProductButton.vue";

import { ref } from "vue";
import { StreamBarcodeReader } from "vue-barcode-reader";

const stringOptionsOutlet = [
  {
    label: "A1-1",
    value: "1",
  },
  {
    label: "B2-1",
    value: "4",
  },
];

const stringOptionsTransferBy = [
  {
    label: "David Johanson",
    value: "35",
  },
  {
    label: "David Alexander",
    value: "45",
  },
];

const stringOptionsRequestBy = [
  {
    label: "David Johanson",
    value: "35",
  },
  {
    label: "David Alexander",
    value: "45",
  },
];

export default {
  // name: "New Internal Transfer",
  data() {
    return {
      optionsOutlet: stringOptionsOutlet,
      optionsTransferBy: stringOptionsTransferBy,
      optionsRequestBy: stringOptionsRequestBy,
      showBarcode: false,
      showDetail: false,
      action: "create",
      showAddItem: false,
      storages: [
        {
          value: "1",
          label: "A1-1",
        },
        {
          value: "4",
          label: "B2-1",
        },
      ],
      text: "Test",
      header: {
        transfer_request_date: this.dateNow(),
        outletByModel: null,
        transferByModel: null,
        requestByModel: null,
      },
      detailItem: ref([]),
      items: ref([
        {
          attributes: "",
          brand: " ",
          category: "Sesame Seeds,Sesame Seed Grade 2",
          consignment: "No",
          expired_date: "-",
          from_shelf_id: 1,
          from_storage: "A1-1",
          image_url:
            "https://dev.activate.vi9e.com/assets/easyimage/a/a111759d50faf233604d9d472c0ce30d.jpg",
          internal_transfer_item_id: 6,
          inventory_type: "Raw Material",
          is_deleted: 0,
          no: 1,
          outlet_product_detail_id: 6,
          product_id: 440,
          product_kind: "Simple",
          product_name: "Sesame Seeds Grade B",
          qty_from: 11,
          qty_to: 0,
          remarks: "",
          sku: "OAG002",
          to_shelf_id: 4,
          to_storage: "B2-1",
          transfer_qty: 0,
        },
      ]),
      columns: {
        image: "image_url",
        sku: "sku",
        pname: "product_name",
        displayColumns: [
          {
            label: "Qty From",
          },
          {
            label: "From Storage",
          },
          {
            label: "Transfer Qty",
          },
          {
            label: "To Storage",
          },
        ],
        displayContent: [
          {
            label: "qty_from",
          },
          {
            label: "from_storage",
          },
          {
            label: "transfer_qty",
          },
          {
            label: "to_storage",
          },
        ],
        info: false,
        storage: "defaultStorage",
      },
      productColumns: [
        {
          name: "name",
          label: "Name",
          align: "center",
          field: "name",
        },
        {
          name: "qtyreceived",
          label: "Qty Received",
          align: "center",
          field: "qtyreceived",
        },
        {
          name: "qtyspoiled",
          label: "Qty Spoiled",
          align: "center",
          field: "qtyspoiled",
        },
        {
          name: "expdate",
          label: "Expired Date",
          align: "center",
          field: "expdate",
        },
        {
          name: "remarks",
          label: "Remarks",
          align: "center",
          field: "remarks",
        },
      ],
    };
  },
  methods: {
    submitData() {
      console.log("Submitting Data...");
    },
    setDisplayValue(value) {
      let varTemp = {
        ...this.optionsOutlet.find((o) => o.value === value),
      };

      return varTemp.label;
    },
    addData(payload) {
      console.log("PAYLOAD: ", payload);

      Object.entries(payload).forEach((e) => {
        let index = this.items.findIndex(
          (o) => o.internal_transfer_item_id == e[1].name
        );

        if (index > -1) {
          this.items[index].transfer_qty =
            parseInt(this.items[index].transfer_qty) + parseInt(e[1].qty);
          this.items[index].from_shelf_id = e[1].from_shelf_id;
          this.items[index].from_storage = this.setDisplayValue(
            e[1].from_shelf_id
          );
          this.items[index].to_shelf_id = e[1].to_shelf_id;
          this.items[index].to_storage = this.setDisplayValue(e[1].to_shelf_id);
        } else {
          let temp = {
            attributes: e[1].attribute,
            brand: e[1].brand,
            category: e[1].category,
            expired_date: "-",
            from_shelf_id: e[1].from_shelf_id,
            from_storage: this.setDisplayValue(e[1].from_shelf_id),
            image_url:
              "https://dev.activate.vi9e.com/assets/easyimage/a/a111759d50faf233604d9d472c0ce30d.jpg",
            internal_transfer_item_id: e[1].name, // item id which will be generated by the server
            inventory_type: "Raw Material",
            product_id: e[1].pcode,
            product_kind: e[1].ptype,
            product_name: e[1].pname,
            qty_from: e[1].qtysource,
            qty_to: e[1].qtydestination,
            remarks: "",
            sku: e[1].name,
            to_shelf_id: e[1].to_shelf_id,
            to_storage: this.setDisplayValue(e[1].to_shelf_id),
            transfer_qty: e[1].qty,
          };
          this.items.push(temp);
        }
      });

      // console.log("DATA NOW: ", this.items);
    },
    dateNow() {
      const monthNames = [
        "January",
        "February",
        "March",
        "April",
        "May",
        "June",
        "July",
        "August",
        "September",
        "October",
        "November",
        "December",
      ];
      const dateObj = new Date();
      const month = monthNames[dateObj.getMonth()];
      const day = String(dateObj.getDate()).padStart(2, "0");
      const year = dateObj.getFullYear();
      const output = day + " " + month + " " + year;

      return output;
    },
    openItem(event) {
      this.text = event;
      this.showBarcode = false;
    },
    openDetail(product, action) {
      console.log("Product: ", product);
      console.log("Action: ", action);
      this.action = "action";
      this.detailItem = [];
      this.detailItem.push(product);
      this.showDetail = true;
    },
    updateItem(payload) {
      console.log(payload);
      console.log("Items: ", this.items);

      let index = parseInt(
        this.items.findIndex((o) => o.internal_transfer_item_id == payload.id)
      );

      console.log("Index:", index);

      console.log("Payload: ", payload);

      this.items[index].qty_from = payload.qty_from;
      this.items[index].qty_to = payload.qty_to;
      this.items[index].transfer_qty = payload.request_qty;
      this.items[index].from_shelf_id = payload.from_shelf_id;
      this.items[index].from_storage = payload.displayValueFrom;
      this.items[index].to_shelf_id = payload.to_shelf_id;
      this.items[index].to_storage = payload.displayValueTo;
      this.items[index].expired_date = payload.expired_date;
      this.items[index].remarks = payload.remarks;

      console.log("Updated Items: ", this.items);
    },
    filterOutlet(val, update) {
      if (val === "") {
        update(() => {
          this.optionsOutlet = stringOptionsOutlet;
        });
        return;
      }

      update(() => {
        const needle = val.toLowerCase();
        this.optionsOutlet = stringOptionsOutlet.filter(
          (v) => v.label.toLowerCase().indexOf(needle) > -1
        );
      });
    },
    filterTransferBy(val, update) {
      if (val === "") {
        update(() => {
          this.optionsTransferBy = stringOptionsTransferBy;
        });
        return;
      }

      update(() => {
        const needle = val.toLowerCase();
        this.optionsTransferBy = stringOptionsTransferBy.filter(
          (v) => v.label.toLowerCase().indexOf(needle) > -1
        );
      });
    },
    filterRequestBy(val, update) {
      if (val === "") {
        update(() => {
          this.optionsRequestBy = stringOptionsRequestBy;
        });
        return;
      }

      update(() => {
        const needle = val.toLowerCase();
        this.optionsRequestBy = stringOptionsRequestBy.filter(
          (v) => v.label.toLowerCase().indexOf(needle) > -1
        );
      });
    },
    scanBarcode() {
      console.log("scanning...");
    },
    onDecode(a, b, c) {
      // console.log(a, b, c);

      // open related product
      console.log("Text: ", a);
      // this.showBarcode = false;
      const data = this.items.find((o) => o.product_id == a);

      if (data) {
        this.openDetail(data);
      } else {
        this.$q.notify({
          color: "negative",
          message: "Sorry, data is not found",
        });
      }
    },
    onLoaded() {
      console.log("load");
    },
    scanImage() {
      cordova.plugins.barcodeScanner.scan(
        (result) => {
          // alert(
          //   "We got a barcode\n" +
          //     "Result: " +
          //     result.text +
          //     "\n" +
          //     "Format: " +
          //     result.format +
          //     "\n" +
          //     "Cancelled: " +
          //     result.cancelled
          // );

          const data = this.items.find((o) => o.product_id == a);

          if (data) {
            this.openDetail(data);
          } else {
            this.$q.notify({
              color: "negative",
              message: "Sorry, data is not found",
            });
          }
        },
        (error) => {
          alert("Scanning failed: " + error);
        },
        {
          preferFrontCamera: false, // iOS and Android
          showFlipCameraButton: true, // iOS and Android
          showTorchButton: true, // iOS and Android
          torchOn: true, // Android, launch with the torch switched on (if available)
          saveHistory: true, // Android, save scan history (default false)
          prompt: "Place a barcode inside the scan area", // Android
          resultDisplayDuration: 500, // Android, display scanned text for X ms. 0 suppresses it entirely, default 1500
          //formats : "QR_CODE,PDF_417", // default: all but PDF_417 and RSS_EXPANDED
          // orientation: "landscape", // Android only (portrait|landscape), default unset so it rotates with the device
          disableAnimations: true, // iOS
          disableSuccessBeep: true, // iOS and Android
        }
      );
    },
  },
  components: {
    ItemList,
    InternalTransferPopup,
    AddProductButton,
    AddItem,
    StreamBarcodeReader,
    formPanel: require("components/Form/FormPanel.vue").default,
  },
  mounted() {
    this.eventBus.on("submit", (args) => {
      this.submitData();
    });
  },
  props: {
    msg: String,
  },
};
</script>

<style scoped lang="scss">
.table-detail {
  margin-top: 20px;
}

.order {
  padding: 5px;
}

@media (max-width: 700px) {
  .order {
    width: 100%;
  }
}

.order {
  padding: 5px;
}

@media (min-width: 768px) {
  .flex-grow-1 {
    flex: 0 0 80%;
  }
}

.item-list {
  max-height: 200px;
  overflow: scroll;
}

.bottom-line {
  border-bottom: 1px solid currentColor;
  margin-left: 12px;
  margin-right: 12px;
}

tr.border-table td {
  border: 1px solid black;
}

.tooltip-table {
  min-width: 150px;
  max-width: 400px;
}

@media (max-width: 400px) {
  .tooltip-table {
    max-width: 200px;
  }
}

.bordered {
  border: 1px solid black;
}

.full-wrap {
  width: 100%;
  padding: 0px;
}

.select-custom.q-field {
  font-size: 12px !important;
}

.products-detail .q-item {
  padding: 8px 0px !important;
}
</style>
