<template>
  <div class="q-pa-md q-gutter-xs">
    <div class="row items-center justify-center">
      <p
        class="text-h6 text-weight-bolder no-margin vertical-align-middle"
        v-show="!$q.screen.lt.sm"
      >
        {{ $route.name }}
      </p>
      <q-space v-show="!$q.screen.lt.sm" />
      <div class="q-gutter-sm">
        <submit-button label="save" />
        <back-button icon="close" label="Cancel" router="/" />
      </div>
    </div>

    <q-separator />

    <div class="row">
      <div class="col-lg-2 col-md-2 col-sm-12 side-menu text-weight-medium">
        <q-list dense>
          <q-item active clickable v-ripple>
            <q-item-section @click="$router.push('/account/profile')">
              Update Profile
            </q-item-section>
          </q-item>

          <q-item clickable v-ripple>
            <q-item-section @click="$router.push('/account/password')">
              Change Password
            </q-item-section>
          </q-item>
        </q-list>
      </div>

      <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 bg-white q-pa-md">
        <p class="text-italic">
          Fields with <span style="color: red">*</span> are required
        </p>

        <q-separator />

        <q-list separator class="account-fields">
          <q-item clickable v-ripple>
            <q-item-section class="col-3"
              ><p>Username <span style="color: red">*</span></p></q-item-section
            >
            <q-space />
            <q-item-section class="col-9"
              ><q-input
                dense
                outlined
                :rules="requiredField"
                v-model="account.username"
                label="Username"
            /></q-item-section>
          </q-item>

          <q-item clickable v-ripple>
            <q-item-section class="col-3"
              ><p>Email <span style="color: red">*</span></p></q-item-section
            >
            <q-space />
            <q-item-section class="col-9"
              ><q-input
                dense
                outlined
                :rules="requiredField"
                v-model="account.email"
                label="Username"
            /></q-item-section>
          </q-item>

          <q-item clickable v-ripple>
            <q-item-section class="col-3"
              ><p>
                First Name <span style="color: red">*</span>
              </p></q-item-section
            >
            <q-space />
            <q-item-section class="col-9"
              ><q-input
                dense
                outlined
                :rules="requiredField"
                v-model="account.firstName"
                label="First Name"
            /></q-item-section>
          </q-item>

          <q-item clickable v-ripple>
            <q-item-section class="col-3"><p>Middle Name</p></q-item-section>
            <q-space />
            <q-item-section class="col-9"
              ><q-input
                dense
                outlined
                v-model="account.middleName"
                label="Middle Name"
            /></q-item-section>
          </q-item>

          <q-item clickable v-ripple>
            <q-item-section class="col-3"><p>Last Name</p></q-item-section>
            <q-space />
            <q-item-section class="col-9"
              ><q-input
                dense
                outlined
                v-model="account.lastName"
                label="Last Name"
            /></q-item-section>
          </q-item>
        </q-list>
      </div>
    </div>
  </div>
</template>

<script>
import SubmitButton from "components/Buttons/SubmitButton.vue";
import BackButton from "components/Buttons/BackButton.vue";

export default {
  // name: "My Account: Update Profile",
  data() {
    return {
      account: {
        username: "Khaterine Wang",
        email: "bobby+sm@vi8e.com",
        firstName: "Khaterine",
        middleName: "",
        lastName: "",
      },
    };
  },
  computed: {
    requiredField() {
      return [(val) => (val && val.length > 0) || "Please type something"];
    },
  },
  components: {
    SubmitButton,
    BackButton,
  },
};
</script>

<style scoped lang="scss">
@media (max-width: 599px) {
  .side-menu {
    display: none;
  }
}

.side-menu .q-list .q-item.q-item--active {
  background: rgba(0, 172, 255, 0.1);
  font-weight: 800;
  border-bottom: 1px solid #e7eaec;
}

.side-menu .q-list .q-item:hover {
  color: $primary;
  background: #e7eaec;
  font-weight: 800;
}

.account-fields.q-list .q-item:hover {
  background: #ccf2f4;
}
</style>
