<template>
  <q-page
    class="q-gutter-sm q-mt-sm"
    :class="$q.screen.lt.sm ? 'q-px-sm' : 'q-px-md'"
  >
    <div class="row q-gutter-sm stocktake">
      <q-list bordered class="rounded-borders full-width">
        <q-expansion-item expand-separator label="Last Stocktake">
          <div class="q-py-xs bg-white">
            <div class="q-ma-sm">
              <p class="text-h6">Stocktake Date - Stocktake Person</p>
              <stocktake-table
                :data="lastStocktake.summary"
                :columns="columns"
                :pagination="pagination"
              />
              <q-input
                v-model="lastStocktake.remarks"
                square
                outlined
                type="textarea"
                class="q-mb-md"
              />
              <div class="text-center">
                <picture-slider
                  :pictures="pictures_lastStocktake"
                  v-model:slide="slide_lastStocktake"
                  :autoplay="autoplay"
                  :table="table_lastStocktake"
                  classes="q-gutter-sm"
                  @delete-photo="
                    (...args) =>
                      handleDeletePhoto(
                        ...args,
                        'pictures_lastStocktake',
                        'slide_lastStocktake'
                      )
                  "
                />
              </div>
            </div>
          </div>
        </q-expansion-item>
        <q-separator />
        <q-expansion-item expand-separator label="Outlet Details">
          <div class="q-py-xs bg-white">
            <div class="q-ma-sm">
              <div class="row border q-pa-sm q-ma-sm">
                <div class="col q-gutter-sm">
                  <p class="label_stocktakeid">
                    OutletID: {{ outlet.outlet_id }}
                  </p>
                  <div class="row q-gutter-sm">
                    <div class="col">
                      <q-input
                        square
                        outlined
                        dense
                        v-model="outlet.address"
                        label="Outlet Address"
                        disable
                      />
                    </div>
                    <div class="col">
                      <div class="row q-gutter-xs">
                        <q-input
                          square
                          outlined
                          dense
                          v-model="remark"
                          label="First Name"
                          disable
                          class="col"
                        />
                        <q-input
                          square
                          outlined
                          dense
                          v-model="remark"
                          label="Last Name"
                          disable
                          class="col"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="row q-gutter-sm">
                    <q-input
                      square
                      outlined
                      dense
                      v-model="outlet.name"
                      label="Outlet Address 2"
                      disable
                      class="col"
                    />
                    <q-input
                      square
                      outlined
                      dense
                      v-model="role"
                      label="Role"
                      disable
                      class="col"
                    />
                  </div>
                  <div class="row q-gutter-sm">
                    <div class="col">
                      <div class="row q-gutter-xs">
                        <q-input
                          square
                          outlined
                          dense
                          v-model="outlet.city"
                          label="City"
                          disable
                          class="col"
                        />
                        <q-input
                          square
                          outlined
                          dense
                          v-model="remark"
                          label="State/"
                          disable
                          class="col"
                        />
                      </div>
                    </div>

                    <div class="col">
                      <q-input
                        square
                        outlined
                        dense
                        v-model="email"
                        label="Email"
                        disable
                      />
                    </div>
                  </div>
                  <div class="row q-gutter-sm">
                    <div class="col">
                      <div class="row">
                        <q-input
                          square
                          outlined
                          dense
                          v-model="outlet.postal"
                          label="Postal/"
                          class="col q-mr-sm"
                          disable
                        />
                        <q-input
                          square
                          outlined
                          dense
                          v-model="outlet.country"
                          label="Country"
                          class="col"
                          disable
                        />
                      </div>
                    </div>
                    <div class="col">
                      <div class="row">
                        <q-input
                          square
                          outlined
                          dense
                          v-model="remark"
                          label="Phone"
                          class="col q-mr-sm"
                          disable
                        />
                        <q-input
                          square
                          outlined
                          dense
                          v-model="remark"
                          label="Phone"
                          class="col"
                          disable
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row q-ma-sm">
                <q-input
                  v-model="remark"
                  square
                  outlined
                  type="textarea"
                  class="full-width"
                />
              </div>
            </div>
          </div>
        </q-expansion-item>
        <q-separator />
        <q-expansion-item expand-separator label="Stocktake Summary">
          <div class="q-py-xs bg-white">
            <div class="q-ma-sm q-gutter-sm">
              <p class="text-h6">Select Storage</p>
              <stocktake-table
                :data="stocktake_summary"
                :columns="columns"
                :pagination="pagination"
              />
              <div class="row q-ma-sm">
                <q-input
                  v-model="remark"
                  square
                  outlined
                  type="textarea"
                  class="full-width"
                />
              </div>
            </div>
          </div>
        </q-expansion-item>
        <q-separator />
        <q-expansion-item expand-separator label="Stocktake Pictures">
          <div class="q-py-xs bg-white">
            <div class="q-ma-sm q-gutter-sm text-center">
              <p class="text-h6">Pictures Before Stocktake</p>
              <picture-slider
                :pictures="pictures_before"
                v-model:slide="slide_before"
                :autoplay="autoplay"
                :table="table_before"
                classes="q-gutter-sm"
                @delete-photo="
                  (...args) =>
                    handleDeletePhoto(
                      ...args,
                      'pictures_before',
                      'slide_before'
                    )
                "
              />
              <p class="text-h6 q-mt-md">Pictures After Stocktake</p>
              <picture-slider
                :pictures="pictures_after"
                v-model:slide="slide_after"
                :autoplay="autoplay"
                :table="table_after"
                classes="q-gutter-sm"
                @delete-photo="
                  (...args) =>
                    handleDeletePhoto(...args, 'pictures_after', 'slide_after')
                "
              />
              <file-uploader />
            </div>
          </div>
        </q-expansion-item>
      </q-list>
    </div>
  </q-page>
</template>

<script>
import Stocktake from "components/Cards/Stocktake.vue";
import PictureSlider from "components/Stocktake/PictureSlider.vue";
import StocktakeTable from "components/Stocktake/StocktakeTable.vue";
import FileUploader from "components/Stocktake/FileUploader.vue";
import { api } from "boot/api";
import { reactive } from "vue";
import { ref } from "vue";

export default {
  setup() {
    return {
      lastStocktake: ref({
        date: "",
        images: [],
        remarks: null,
        summary: [],
      }),
    };
  },
  data() {
    return {
      latitude: ref(0),
      longitude: ref(0),
      remark: "",
      outlet: {},
      header: {},
      slide_lastStocktake: ref(1),
      table_lastStocktake: {
        name: "id",
        url: "image",
      },
      slide_before: ref(1),
      table_before: {
        name: "media_id",
        url: "image_url",
      },
      slide_after: ref(1),
      table_after: {
        name: "media_id",
        url: "image_url",
      },
      autoplay: ref(false),
      pictures_lastStocktake: [],
      pictures_before: [],
      pictures_after: [],
      columns: [
        {
          name: "category_name",
          required: true,
          label: "Category",
          align: "center",
          field: "category_name",
          format: (val) => `${val}`,
          sortable: false,
        },
        {
          name: "tot_stocktaked_sku",
          align: "center",
          label: "Total Item",
          field: "tot_stocktaked_sku",
          sortable: false,
        },
        {
          name: "num_actual",
          align: "center",
          label: "Stock Count",
          field: "num_actual",
          sortable: false,
        },
        {
          name: "num_replenishment",
          align: "center",
          label: "Replenishment",
          field: "num_replenishment",
          sortable: false,
        },
      ],
      stocktake_summary: [],
      image: "",
      imageName: "",
      pagination: ref({
        page: 1,
        rowsPerPage: 0,
      }),
    };
  },
  provide() {
    return { handleImage: this.handleImage };
  },
  methods: {
    clickButtons(value) {
      this.$emit("stocktake", value);
    },
    handleDeletePhoto(media_id, response, id_name, variable, slide_variable) {
      console.log(
        "RESPONSE: ",
        media_id,
        response,
        id_name,
        variable,
        slide_variable
      );
      if (response) {
        let index = this[variable].findIndex((o) => o[id_name] == media_id);
        console.log(index);
        this[variable].splice(this[variable].indexOf(index), 1);

        if (this[variable].length > 0) {
          console.log(this[variable][0][id_name]);
          this[slide_variable] = this[variable][0][id_name];
        } else {
          this[slide_variable] = 1;
        }
        console.log(this[slide_variable]);
      } else {
        this.$q.notify({
          color: "warning",
          message: "Sorry! Can't delete photo",
        });
      }
    },
    fetchData() {
      console.log("ID: ", this.$route.params.stocktakeID);
      api({
        method: "post",
        url: "/api/inventory/stocktake/index/action/detail",
        // params: JSON.stringify(poid),
        data: {
          stocktake_id: this.$route.params.stocktakeID,
        },
        headers: {
          "Content-Type": "application/json",
          Authorization:
            "Bearer " + localStorage.getItem("token").replace("__q_strn|", ""),
        },
      })
        .then((response) => {
          console.log(("response", response.data));

          if (response.data.header) {
            this.header = { ...response.data.header };
          }
          if (response.data.lastStocktake) {
            this.lastStocktake = {
              ...this.lastStocktake,
              ...response.data.lastStocktake,
            };
            this.pictures_lastStocktake = [...this.lastStocktake.images];
          }
          this.slide_lastStocktake =
            this.lastStocktake.images.length > 0
              ? this.lastStocktake.images[0].id
              : 1;
          // this.slide_lastStocktake = this.lastStocktake.images[0].id;
          console.log("Last Stocktake: ", this.lastStocktake.images.length);
          console.log("Last Stocktake: ", this.slide_lastStocktake);

          const StringStocktakeSummary = [...response.data.stocktake_summary];
          this.stocktake_summary = StringStocktakeSummary;

          this.remark = response.data.actual_stocktake_remark;
          this.outlet = { ...response.data.outlet };

          //   if (this.outlet.contact) {
          //     let temp = {
          //       name: "",
          //       email: "",
          //       address: "",
          //       phone: "",
          //     };
          //     this.outlet.contact = { ...this.outlet.contact, temp };
          //   }
          console.log("TEST: ", this.outlet);

          this.pictures_before = [...response.data.pictures_before];
          this.slide_before =
            this.pictures_before.length > 0
              ? this.pictures_before[0].media_id
              : 1;
          this.pictures_after = [...response.data.pictures_after];
          this.slide_after =
            this.pictures_after.length > 0
              ? this.pictures_after[0].media_id
              : 1;
          console.log("Pictures Before: ", this.pictures_before);
        })
        .catch((error) => {
          //handle error
          console.log("error message: ", error);
        });
    },
    handleImage(e) {
      const selectedImage = e;
      console.log("Test: ", selectedImage);
      this.createPlainImage(selectedImage);
    },
    createPlainImage(fileObject) {
      let formData = new FormData();

      formData.append("stocktake_id", this.$route.params.stocktakeID);
      // formData.append("picture", fileObject);
      fileObject.forEach((file) => formData.append("picture[]", file));
      console.log(formData);
      this.uploadImage(formData);
    },
    async uploadImage(formData) {
      // for (var pair of formData.entries()) {
      //   console.log(pair[0] + ": " + pair[1]);
      // }

      await api({
        method: "post",
        url: "/api/inventory/stocktake/index/action/submitpictures",
        data: formData,
        headers: {
          "Content-Type": "multipart/form-data",
          Authorization:
            "Bearer " + localStorage.getItem("token").replace("__q_strn|", ""),
        },
      })
        .then((response) => {
          console.log("RESPONSE: ", response);
          if (!response.data.valid) {
            // this.clickButtons("start");
            this.fetchData();
          }
        })
        .catch((err) => {
          console.log("ERROR: ", err);
          //   return new Error(err.message);
        });
    },
    async remarkStocktake() {
      await this.getLocation();
      const data = {
        stocktake_id: parseInt(this.$route.params.stocktakeID),
        stocktake_remark: this.remark,
        location: {
          latitude: this.latitude,
          longitude: this.longitude,
        },
      };
      console.log(data);
      await api({
        method: "post",
        url: "/api/inventory/stocktake/index/action/saveremark",
        data: data,
        headers: {
          "Content-Type": "application/json",
          Authorization:
            "Bearer " + localStorage.getItem("token").replace("__q_strn|", ""),
        },
      })
        .then((response) => {
          console.log(response);
          this.$q.notify({
            color: "positive",
            position: "center",
            message: "Update Remark Success!",
          });
        })
        .catch((error) => {
          //handle error
          console.log(error.message);
        });
    },
    async completeStocktake() {
      await this.getLocation();
      const data = {
        stocktake_id: parseInt(this.$route.params.stocktakeID),
        type: "complete",
      };
      console.log(data);
      await api({
        method: "post",
        url: "/api/inventory/stocktake/index/action/submit",
        data: data,
        headers: {
          "Content-Type": "application/json",
          Authorization:
            "Bearer " + localStorage.getItem("token").replace("__q_strn|", ""),
        },
      })
        .then((response) => {
          console.log(response);
          if (response.data.success) {
            this.$q.notify({
              color: "positive",
              position: "center",
              message: response.data.message,
              actions: [
                {
                  label: "Dismiss",
                  color: "white",
                  handler: () => {
                    /* ... */
                  },
                },
              ],
            });
          } else {
            this.$q.notify({
              color: "negative",
              position: "center",
              message: response.data.message,
              actions: [
                {
                  label: "Dismiss",
                  color: "white",
                  handler: () => {
                    /* ... */
                  },
                },
              ],
            });
          }
        })
        .catch((error) => {
          //handle error
          console.log(error.message);
        });
    },
    async submitStocktake() {
      await this.getLocation();
      const data = {
        stocktake_id: parseInt(this.$route.params.stocktakeID),
        type: "submit",
      };
      console.log(data);
      await api({
        method: "post",
        url: "/api/inventory/stocktake/index/action/submit",
        data: data,
        headers: {
          "Content-Type": "application/json",
          Authorization:
            "Bearer " + localStorage.getItem("token").replace("__q_strn|", ""),
        },
      })
        .then((response) => {
          console.log(response);
          if (response.data.success) {
            this.$q.notify({
              color: "positive",
              position: "center",
              message: "Submission Completed!",
              actions: [
                {
                  label: "Dismiss",
                  color: "white",
                  handler: () => {
                    /* ... */
                  },
                },
              ],
            });
            this.$router.replace({ link: "/stocktake" });
          } else {
            this.$q.notify({
              color: "negative",
              position: "center",
              message: "Sorry, there is something wrong!",
              actions: [
                {
                  label: "Dismiss",
                  color: "white",
                  handler: () => {
                    /* ... */
                  },
                },
              ],
            });
          }
        })
        .catch((error) => {
          //handle error
          console.log(error.message);
        });
    },
    getLocation() {
      return new Promise((resolve) => {
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition((pos) => {
            this.showPosition(pos);
            resolve();
          });
        } else {
          alert("Geolocation is not supported by this browser.");
        }
      });
    },
    showPosition(position) {
      this.latitude = position.coords.latitude;
      this.longitude = position.coords.longitude;
    },
  },
  watch: {
    pictures_before() {
      if (this.pictures_before.length <= 0 && this.pictures_after.length <= 0) {
        this.clickButtons("");
      } else if (
        this.pictures_before.length > 0 &&
        this.pictures_after.length <= 0 &&
        (this.num_actual <= 0 || this.num_replenishment <= 0)
      ) {
        this.clickButtons("start");
      } else if (
        this.pictures_before.length > 0 &&
        this.pictures_after.length <= 0 &&
        (this.num_actual > 0 || this.num_replenishment > 0)
      ) {
        this.clickButtons("continue");
      } else if (
        this.pictures_after.length > 0 &&
        this.header.status.toLowerCase() != "completed"
      ) {
        this.clickButtons("complete-continue");
      } else {
        this.clickButtons("submit");
      }
    },
  },
  computed: {
    email() {
      return this.outlet.contact ? this.outlet.contact.email : "";
    },
    role() {
      return this.outlet.contact ? this.outlet.contact.name : "";
    },
    phone() {
      return this.outlet.contact ? this.outlet.contact.phone : "";
    },
    num_actual() {
      let temp = 0;
      this.stocktake_summary.forEach((summary) => (temp += summary.num_actual));
      return temp;
    },
    num_replenishment() {
      let temp = 0;
      this.stocktake_summary.forEach(
        (summary) => (temp += summary.num_replenishment)
      );
      return temp;
    },
  },
  components: {
    Stocktake,
    PictureSlider,
    FileUploader,
    StocktakeTable,
  },
  mounted() {
    this.fetchData();
    this.eventBus.on("startStocktake", (args) => {
      this.$router.push("/stocktake/process/" + this.$route.params.stocktakeID);
    });
    this.eventBus.on("completeStocktake", (args) => {
      this.completeStocktake();
    });
    this.eventBus.on("remarkStocktake", (args) => {
      this.remarkStocktake();
    });
    this.eventBus.on("submitStocktake", (args) => {
      this.submitStocktake();
    });
  },
};
</script>

<style scoped lang="scss">
.q-expansion-item--expanded {
  background: $primary;
  transition: 0.5s;
}

.q-expansion-item--collapsed {
  transition: 0.5s;
}

.border {
  border: 1px solid #b9b9ba;
}

p.label_stocktakeid {
  position: relative !important;
  top: -20px;
  left: 20px;
  font-size: 18px;
  background-color: white;
  width: fit-content;
  padding: 0 8px;
}

.img-control {
  width: 50%;
}

@media (max-width: 576px) {
  .img-control {
    width: 100%;
  }
}

.btn-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

p.label_stocktakeid {
  position: relative !important;
  top: -20px;
  left: 20px;
  font-size: 18px;
  background-color: white;
  width: fit-content;
  padding: 0 8px;
}
</style>

<style lang="sass">
.my-sticky-virtscroll-table
  thead tr:first-child th
    background-color: #f3f3f4

.my-sticky-header-table
  /* height or max-height is important */
  height: 310px

  .q-table__top,
  .q-table__bottom,
  thead tr:first-child th
    /* bg color is important for th; just specify one */
    background-color: #f3f3f4

  thead tr th
    position: sticky
    z-index: 1
  thead tr:first-child th
    top: 0

  /* this is when the loading indicator appears */
  &.q-table--loading thead tr:last-child th
    /* height of all previous header rows */
    top: 48px
</style>
