<template>
  <q-page
    class="q-gutter-sm q-mt-sm"
    :class="$q.screen.lt.sm ? 'q-px-sm' : 'q-px-md'"
  >
    <div class="row full-width q-gutter-sm">
      <input-date square v-model:date="startDate" class="col" />
      <input-date square v-model:date="endDate" class="col" />
    </div>
    <div class="row full-width q-gutter-sm">
      <input-searching
        rounded
        v-model:text="searchField"
        @clear="searchField = ''"
      />
    </div>
    <div class="row q-gutter-sm stocktake">
      <loading-and-no-data
        :isLoading="isLoading"
        :data="data"
        :errorCode="errorCode"
      />
      <stocktake
        :data="data"
        :text="text"
        v-if="Object.keys(data).length > 0"
      />
      <observer @intersect="Intersected" v-show="observer" />
    </div>
  </q-page>
</template>

<script>
import Stocktake from "components/Cards/Stocktake.vue";
import Observer from "components/Observer/observer.vue";
import { api } from "boot/api";
import { ref } from "vue";

export default {
  data() {
    return {
      // startDate: this.dateNow(14),
      // endDate: this.dateNow(0),
      startDate: "",
      endDate: "",
      searchField: "",
      text: "",
      isLoading: true,
      observer: true,
      page: 0,
      errorCode: 0,
      data: [],
    };
  },
  methods: {
    dateNow(num) {
      const monthNames = [
        "January",
        "February",
        "March",
        "April",
        "May",
        "June",
        "July",
        "August",
        "September",
        "October",
        "November",
        "December",
      ];
      const dateObj = new Date();
      const myCurrDate = new Date(dateObj);
      myCurrDate.setDate(myCurrDate.getDate() - num);
      // const month = monthNames[dateObj.getMonth()];
      // const day = String(dateObj.getDate()).padStart(2, "0");
      // const year = dateObj.getFullYear();
      // const output = day + " " + month + " " + year;
      // return output;
      const month = monthNames[myCurrDate.getMonth()];
      const day = String(myCurrDate.getDate()).padStart(2, "0");
      const year = myCurrDate.getFullYear();
      const output = day + " " + month + " " + year;
      return output;
    },
    dateFormatter(date) {
      date = date.split(" ");
      let month = "00";
      switch (date[1].toLowerCase()) {
        case "january":
          month = "01";
          break;
        case "february":
          month = "02";
          break;
        case "march":
          month = "03";
          break;
        case "april":
          month = "04";
          break;
        case "may":
          month = "05";
          break;
        case "june":
          month = "06";
          break;
        case "july":
          month = "07";
          break;
        case "august":
          month = "08";
          break;
        case "september":
          month = "09";
          break;
        case "october":
          month = "10";
          break;
        case "november":
          month = "11";
          break;
        case "december":
          month = "12";
          break;
      }
      return date[2] + "-" + month + "-" + date[0];
    },
    async Intersected() {
      console.log("page:", this.page);
      let dateFrom = "";
      let dateTo = "";
      if (this.startDate !== '') {
        dateFrom = this.dateFormatter(this.startDate).toString();
      } else {
        dateFrom = this.startDate;
      }

      if (this.endDate !== '') {
        dateTo = this.dateFormatter(this.endDate).toString();
      } else {
        dateTo = this.endDate;
      }
      
      this.isLoading = true;
      await api({
        method: "post",
        url: "/api/inventory/stocktake/index/action/list",
        data: {
          search: this.searchField,
          filter: {
            dateFrom: dateFrom,
            dateTo: dateTo,
          },
          sort: {},
          page: this.page,
        },
        headers: {
          "Content-Type": "application/json",
          Authorization:
            "Bearer " + localStorage.getItem("token").replace("__q_strn|", ""),
        },
      })
        .then((response) => {
          console.log("Response: ", response);
          this.isLoading = false;
          var grouped = _.mapValues(
            _.groupBy(response.data.data, "stocktake.next_visit_schedule"),
            (clist) =>
              clist.map((date) => _.omit(date, "stocktake.next_visit_schedule"))
          );
          console.log("GROUPED: ", grouped);
          this.data = { ...grouped };
          console.log("DATA: ", this.data);
          this.page++;
          this.observer = true;
          //   this.errorCode = 0;
        })
        .catch((error) => {
          //handle error
          console.log("error message: ", error.message);
          if (error.response) {
            this.isLoading = false;
            this.errorCode = error.response.status;
          }
        });
    },
  },
  computed: {
    // startDate: {
    //   get() {
    //     this.fromDate = this.dateNow();
    //     return this.fromDate;
    //   },
    //   set(value) {
    //     this.fromDate = value;
    //     return this.fromDate;
    //   },
    // },
    // endDate() {
    //   return this.dateNow();
    // },
  },
  watch: {
    searchField() {
      this.data = [];
      this.page = 0;
      this.observer = false;
      this.Intersected();
    },
    startDate() {
      this.data = [];
      this.page = 0;
      this.observer = false;
      this.Intersected();
    },
    endDate() {
      this.data = [];
      this.page = 0;
      this.observer = false;
      this.Intersected();
    },
  },
  components: {
    Stocktake,
    Observer,
  },
};
</script>
