<template>
  <q-page-container>
    <q-page>
      <div
        class="q-gutter-sm q-mt-sm"
        :class="$q.screen.lt.sm ? 'q-px-sm' : 'q-px-md'"
      >
        <div class="row stocktake" style="margin-top: 26px">
          <q-list bordered class="rounded-borders full-width my-accordion">
            <template v-for="(category, index) in all_things" :key="index">
              <q-expansion-item
                expand-separator
                class="category"
                @click="change_category(category.id)"
              >
                <template v-slot:header>
                  <q-item-section>
                    {{ category.category_name }}
                  </q-item-section>

                  <q-item-section side>
                    {{ category.stocktaked }} of {{ category.total }}
                  </q-item-section>
                </template>

                <q-expansion-item
                  expand-separator
                  v-for="(child, index) in category.childs"
                  :key="index"
                  :label="child.category_name"
                  class="subcategory"
                  v-show="child.products_child"
                >
                  <stocktake-count
                    :products="child.products_child"
                    @val-remark="changeRemark"
                    @val-stock="changeStock"
                    @val-replenishment="changeReplenishment"
                  />
                </q-expansion-item>

                <stocktake-count
                  v-show="category.products_parent"
                  :products="category.products_parent"
                  @val-remark="changeRemark"
                  @val-stock="changeStock"
                  @val-replenishment="changeReplenishment"
                />
              </q-expansion-item>
              <q-separator />
            </template>
          </q-list>
        </div>
      </div>

      <!---- PLUGINS ---->
      <q-dialog v-model="showBarcode">
        <web-scanner-design @close="showBarcode = false">
          <template #barcode>
            <div class="hello">
              <StreamBarcodeReader
                @decode="(a, b, c) => onDecode(a, b, c)"
                @loaded="() => onLoaded()"
              ></StreamBarcodeReader>
            </div>
          </template>
        </web-scanner-design>
      </q-dialog>
      <!----- END OF PLUGINS ----->

      <q-page-sticky expand position="top" style="margin-top: 0px">
        <q-toolbar class="q-py-md" style="background: #f3f3f4">
          <input-searching
            rounded
            v-model:text="searchField"
            @clear="searchField = ''"
          />
          <q-btn
            color="primary"
            class="q-ml-sm"
            label="Scan"
            @click="showBarcode = true"
            v-if="
              ($q.platform.is.desktop ||
                $q.platform.is.chrome ||
                $q.platform.is.opera ||
                $q.platform.is.safari ||
                $q.platform.is.edge ||
                $q.platform.is.ie) &&
              !$q.platform.is.cordova
            "
          />
          <q-btn
            color="primary"
            class="q-ml-sm"
            label="Scan"
            @click="scanImage"
            v-else-if="$q.platform.is.mobile"
          />
        </q-toolbar>
      </q-page-sticky>
    </q-page>
  </q-page-container>
</template>

<script>
import { ref } from "vue";
import { api } from "boot/api";
import { StreamBarcodeReader } from "vue-barcode-reader";
import StocktakeCount from "components/Stocktake/StocktakeCount.vue";

const stringOptionsDefaultStorage = ["A1", "A2"];
export default {
  data() {
    return {
      submit_data: [],
      curr_category: "",
      optionsDefaultStorage: stringOptionsDefaultStorage,
      storage: "",
      tab: "outstanding",
      latitude: ref(0),
      longitude: ref(0),
      searchField: "",
      showBarcode: ref(false),
      category_summary: [],
      products: [],
      all_things: [],
    };
  },
  methods: {
    change_category(id) {
      if (id != this.curr_category) {
        this.curr_category = id;
      } else {
        this.curr_category = "";
      }
      console.log(this.curr_category);
    },
    changeStock(stock_count, id, replenishment, remark) {
      console.log("Result: ", stock_count, id);
      let index = this.submit_data.findIndex((o) => o.product_id === id);
      if (index > -1) {
        this.submit_data[index].number_actual = stock_count;
      } else {
        const temp = {
          product_id: id,
          number_actual: stock_count,
          number_replacement: replenishment,
          remark: remark,
        };
        this.submit_data.push(temp);
      }
    },
    changeReplenishment(replenishment, id, stock_count, remark) {
      console.log("Result: ", replenishment, id);
      let index = this.submit_data.findIndex((o) => o.product_id === id);
      if (index > -1) {
        this.submit_data[index].number_replacement = replenishment;
      } else {
        const temp = {
          product_id: id,
          number_actual: stock_count,
          number_replacement: replenishment,
          remark: remark,
        };
        this.submit_data.push(temp);
      }
    },
    changeRemark(remark, id, stock_count, replenishment) {
      console.log("EVENT, ID", remark, id);
      let index = this.submit_data.findIndex((o) => o.product_id === id);
      if (index > -1) {
        this.submit_data[index].remark = remark;
      } else {
        const temp = {
          product_id: id,
          number_actual: stock_count,
          number_replacement: replenishment,
          remark: remark,
        };
        this.submit_data.push(temp);
      }
    },
    filterStorage(val, update) {
      if (val === "") {
        update(() => {
          this.optionsDefaultStorage = stringOptionsDefaultStorage;
        });
        return;
      }
      update(() => {
        const needle = val.toLowerCase();
        this.optionsDefaultStorage = stringOptionsDefaultStorage.filter(
          (v) => v.toLowerCase().indexOf(needle) > -1
        );
      });
    },
    async fetchData() {
      await this.getLocation();
      const data = {
        stocktake_id: this.$route.params.stocktakeID,
        mode: "stocktaked",
        location: {
          latitude: this.latitude,
          longitude: this.longitude,
        },
      };
      console.log("DATA: ", data);
      await api({
        method: "post",
        url: "/api/inventory/stocktake/index/action/startstocktake",
        data: data,
        headers: {
          "Content-Type": "application/json",
          Authorization:
            "Bearer " + localStorage.getItem("token").replace("__q_strn|", ""),
        },
      })
        .then((response) => {
          console.log(response);

          if (Array.isArray(response.data.category_summary)) {
            this.category_summary = [...response.data.category_summary];
          } else {
            console.log("converting...");
            this.category_summary = Object.keys(
              response.data.category_summary
            ).map((key) => {
              return response.data.category_summary[key];
            });
          }
          console.log("SUMMARY: ", this.category_summary);
          this.products = [...response.data.products];
          this.data = this.products.map((v) => ({ ...v, category_main: "" }));
          Object.entries(this.products).forEach((e) => {
            e[1].category_main = e[1].product.category;
          });
          console.log(this.category_summary, this.products);

          this.all_things = [...this.category_summary];
          // console.log("All Things: ", this.all_things);

          this.all_things.map((e) => {
            let key = e.category_name;
            let temp = [
              ...this.products.filter((o) => o.category_main.includes(key)),
            ];
            // console.log("TEMP::: ", temp);
            let temp_childs = [];
            let products_id = [];
            // ADD Products which have subcategories (assume products have more than 1 subcategories) so that we can't omit directly when we're looping through the childs key
            e.childs.map((f) => {
              temp_childs = [
                ...temp.filter((o) =>
                  o.category_main.includes(f.category_name)
                ),
              ];
              temp_childs.map((h) => {
                h.stock_count = "0";
                h.replenishment = "0";
                h.remarks = "";
              });
              f.products_child = [...temp_childs];
              // console.log("TEMP CHILDS: ", temp_childs);
              Object.entries(temp_childs).forEach((g) => {
                products_id.push(g[1].product.product_id);
              });
            });
            // Omit the products which are already in subcategory and add them to the category rather than in the subcategory
            // let temp_remains = [...temp.filter(o => o.category_main.includes(key))];
            let temp_remains = [];
            // console.log("PRODUCTS ID: ", products_id);

            temp_remains = [
              ...temp.filter(
                (o) => !products_id.includes(o.product.product_id)
              ),
            ];
            // console.log("TEMP REMAINS: ", temp_remains);

            e.products_parent = [...temp_remains];
            e.products_parent.map((h) => {
              h.stock_count = "0";
              h.replenishment = "0";
              h.remarks = "";
              // h.stocktake.number_actual = "0";
              // h.stocktake.number_replacement = "0";
              // h.stocktake.remark = "";
            });
          });

          console.log("AFTER RESTRUCTURING PROCESS: ", this.all_things);
        })
        .catch((error) => {
          //handle error
          console.log(error.message);
        });
    },
    getLocation() {
      return new Promise((resolve) => {
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition((pos) => {
            this.showPosition(pos);
            resolve();
          });
        } else {
          alert("Geolocation is not supported by this browser.");
        }
      });
    },
    showPosition(position) {
      this.latitude = position.coords.latitude;
      this.longitude = position.coords.longitude;
    },
    add(num, key) {
      let temp = parseInt(this.items[key]) + num;
      this.items[key] = temp.toString();
    },
    remove(num, key) {
      let temp = parseInt(this.items[key]) - num;
      this.items[key] = temp.toString();
    },
    scanBarcode() {
      console.log("scanning...");
    },
    onDecode(a, b, c) {
      this.searchField = a;
      this.showBarcode = false;

      this.$q.notify({
        color: "primary",
        message: "Key Word For Searching: " + this.searchField,
      });
    },
    onLoaded() {
      console.log("load");
    },
    scanImage() {
      cordova.plugins.barcodeScanner.scan(
        (result) => {
          // alert(
          //   "We got a barcode\n" +
          //     "Result: " +
          //     result.text +
          //     "\n" +
          //     "Format: " +
          //     result.format +
          //     "\n" +
          //     "Cancelled: " +
          //     result.cancelled
          // );

          this.searchField = result.text;
        },
        (error) => {
          alert("Scanning failed: " + error);
        },
        {
          preferFrontCamera: false, // iOS and Android
          showFlipCameraButton: true, // iOS and Android
          showTorchButton: true, // iOS and Android
          torchOn: true, // Android, launch with the torch switched on (if available)
          saveHistory: true, // Android, save scan history (default false)
          prompt: "Place a barcode inside the scan area", // Android
          resultDisplayDuration: 500, // Android, display scanned text for X ms. 0 suppresses it entirely, default 1500
          //formats : "QR_CODE,PDF_417", // default: all but PDF_417 and RSS_EXPANDED
          // orientation: "landscape", // Android only (portrait|landscape), default unset so it rotates with the device
          disableAnimations: true, // iOS
          disableSuccessBeep: true, // iOS and Android
        }
      );
    },
    async saveData() {
      console.log(this.submit_data);
      await this.getLocation();
      const data = {
        stocktake_id: parseInt(this.$route.params.stocktakeID),
        location: {
          latitude: this.latitude,
          longitude: this.longitude,
        },
        items: this.submit_data,
      };
      console.log(data);
      await api({
        method: "post",
        url: "/api/inventory/stocktake/index/action/saveitems",
        data: data,
        headers: {
          "Content-Type": "application/json",
          Authorization:
            "Bearer " + localStorage.getItem("token").replace("__q_strn|", ""),
        },
      })
        .then((response) => {
          console.log(response);
          this.$q.notify({
            color: "positive",
            position: "center",
            message: "Save Success!",
          });
        })
        .catch((error) => {
          //handle error
          console.log(error.message);
        });
    },
    async resetData() {
      if (this.curr_category !== "") {
        await this.getLocation();
        const data = {
          stocktake_id: parseInt(this.$route.params.stocktakeID),
          category_id: this.curr_category,
          location: {
            latitude: this.latitude,
            longitude: this.longitude,
          },
        };
        console.log(data);
        await api({
          method: "post",
          url: "/api/inventory/stocktake/index/action/saveitems",
          data: data,
          headers: {
            "Content-Type": "application/json",
            Authorization:
              "Bearer " +
              localStorage.getItem("token").replace("__q_strn|", ""),
          },
        })
          .then((response) => {
            console.log(response);
            this.$q.notify({
              color: "positive",
              position: "center",
              message: "Reset Success!",
            });
          })
          .catch((error) => {
            //handle error
            console.log(error.message);
          });
      } else {
        this.$q.notify({
          color: "negative",
          position: "center",
          message:
            "Reset Data Failed! Please Select A Category First By Clicking On The Tab.",
        });
      }
    },
  },
  components: {
    StreamBarcodeReader,
    StocktakeCount,
  },
  mounted() {
    this.fetchData();
    this.eventBus.on("save", (args) => {
      this.saveData();
    });
    this.eventBus.on("reset", (args) => {
      this.resetData();
    });
  },
};
</script>

<style scoped lang="scss">
.category.q-expansion-item--expanded {
  background: $primary;
  transition: 0.5s;
}

.subcategory.q-expansion-item--expanded {
  background: $secondary !important;
  transition: 0.5s;
}

.subcategory.q-expansion-item--collapsed {
  background: #f3f3f4 !important;
}

.q-expansion-item--collapsed {
  transition: 0.5s;
}

.border {
  border: 1px solid #b9b9ba;
}

p.label_stocktakeid {
  position: relative !important;
  top: -20px;
  font-size: 18px;
  background-color: white;
  width: fit-content;
  padding: 0 8px;
  margin: 8px 0px -24px 8px;
}

.products {
  ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
  }
}

@media (min-width: 576px) {
  .products {
    font-size: 18px;
  }
}
</style>
