<template>
  <q-page-container>
    <q-page>
      <div
        class="q-gutter-sm q-mt-sm"
        :class="$q.screen.lt.sm ? 'q-px-sm' : 'q-px-md'"
      >
        <div class="row stocktake" style="margin-top: 26px">
          <q-list bordered class="rounded-borders full-width my-accordion">
            <template v-for="(d, index) in data" :key="index">
              <q-expansion-item expand-separator class="category">
                <template v-slot:header>
                  <q-item-section>
                    {{ d.product.product_name }}
                  </q-item-section>

                  <!-- <q-item-section side> 0 of 10 </q-item-section> -->
                </template>

                <stocktake-count
                  :products="d"
                  @val-remark="changeRemark"
                  @val-stock="changeStock"
                  @val-replenishment="changeReplenishment"
                />
              </q-expansion-item>
              <q-separator />
            </template>
          </q-list>
        </div>
      </div>

      <!---- PLUGINS ---->
      <q-dialog v-model="showBarcode">
        <web-scanner-design @close="showBarcode = false">
          <template #barcode>
            <div class="hello">
              <StreamBarcodeReader
                @decode="(a, b, c) => onDecode(a, b, c)"
                @loaded="() => onLoaded()"
              ></StreamBarcodeReader>
            </div>
          </template>
        </web-scanner-design>
      </q-dialog>
      <!----- END OF PLUGINS ----->

      <q-page-sticky expand position="top" style="margin-top: 0px">
        <q-toolbar class="q-py-md" style="background: #f3f3f4">
          <input-searching
            rounded
            v-model:text="searchField"
            @clear="searchField = ''"
          />
          <q-btn
            color="primary"
            class="q-ml-sm"
            label="Scan"
            @click="showBarcode = true"
            v-if="
              ($q.platform.is.desktop ||
                $q.platform.is.chrome ||
                $q.platform.is.opera ||
                $q.platform.is.safari ||
                $q.platform.is.edge ||
                $q.platform.is.ie) &&
              !$q.platform.is.cordova
            "
          />
          <q-btn
            color="primary"
            class="q-ml-sm"
            label="Scan"
            @click="scanImage"
            v-else-if="$q.platform.is.mobile"
          />
        </q-toolbar>
      </q-page-sticky>
    </q-page>
  </q-page-container>
</template>

<script>
import StocktakeCount from "components/Stocktake/StocktakeCountV2.vue";
import { ref } from "vue";
import { api } from "boot/api";
import { StreamBarcodeReader } from "vue-barcode-reader";

export default {
  data() {
    return {
      searchField: "",
      showBarcode: ref(false),
      latitude: ref(0),
      longitude: ref(0),
      data: [
        {
          product: {
            product_id: 136,
            product_name: 'DC "Justice League" Pencil Pouch (UP)',
            brand: "DC Justice League",
            sku: "DC-JLA-16SS-BPP01",
            attributes: "",
            uom: null,
            product_kind: "Simple",
            consignment: "No",
            category: "Stat - Pencil Pouch,Stationery",
            inventory_type: "Finished Good",
            image_url:
              "https://dev.activate.vi9e.com/assets/easyimage/2/2cdc86c4744528da4f859aa397a5f08b.png",
            barcodes: [],
          },
          outlet: {
            barcode: "",
            qty_in_hand: 0,
          },
          stocktake: {
            product_id: 136,
            number_actual: "0",
            number_replacement: "0",
            remark: "",
          },
        },
      ],
    };
  },
  methods: {
    changeRemark(remark, id, stock_count, replenishment) {
      console.log("Change Remark...");
    },
    changeStock(stock_count, id, replenishment, remark) {
      console.log("Change Stock...");
    },
    changeReplenishment(replenishment, id, stock_count, remark) {
      console.log("Change Replenishment...");
    },
    async fetchData() {
      await this.getLocation();
      const data = {
        stocktake_id: this.$route.params.stocktakeID,
        mode: "outstanding",
        location: {
          latitude: this.latitude,
          longitude: this.longitude,
        },
      };
      console.log("DATA: ", data);

      await api({
        method: "post",
        url: "/api/inventory/stocktake/index/action/startstocktake",
        data: data,
        headers: {
          "Content-Type": "application/json",
          Authorization:
            "Bearer " + localStorage.getItem("token").replace("__q_strn|", ""),
        },
      })
        .then((response) => {
          console.log(response);

          this.data = [...response.data.products];
          this.data.map((a) => {
            a.stocktake = Object.assign(
              {},
              {
                number_actual: "0",
                number_replacement: "0",
                remark: "",
              }
            );
          });

          console.log(this.data);
        })
        .catch((error) => {
          //handle error
          console.log(error.message);
        });
    },
    scanBarcode() {
      console.log("scanning...");
    },
    onDecode(a, b, c) {
      this.searchField = a;
      this.showBarcode = false;

      this.$q.notify({
        color: "primary",
        message: "Key Word For Searching: " + this.searchField,
      });
    },
    onLoaded() {
      console.log("load");
    },
    scanImage() {
      cordova.plugins.barcodeScanner.scan(
        (result) => {
          // alert(
          //   "We got a barcode\n" +
          //     "Result: " +
          //     result.text +
          //     "\n" +
          //     "Format: " +
          //     result.format +
          //     "\n" +
          //     "Cancelled: " +
          //     result.cancelled
          // );

          this.searchField = result.text;
        },
        (error) => {
          alert("Scanning failed: " + error);
        },
        {
          preferFrontCamera: false, // iOS and Android
          showFlipCameraButton: true, // iOS and Android
          showTorchButton: true, // iOS and Android
          torchOn: true, // Android, launch with the torch switched on (if available)
          saveHistory: true, // Android, save scan history (default false)
          prompt: "Place a barcode inside the scan area", // Android
          resultDisplayDuration: 500, // Android, display scanned text for X ms. 0 suppresses it entirely, default 1500
          //formats : "QR_CODE,PDF_417", // default: all but PDF_417 and RSS_EXPANDED
          // orientation: "landscape", // Android only (portrait|landscape), default unset so it rotates with the device
          disableAnimations: true, // iOS
          disableSuccessBeep: true, // iOS and Android
        }
      );
    },
    getLocation() {
      return new Promise((resolve) => {
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition((pos) => {
            this.showPosition(pos);
            resolve();
          });
        } else {
          alert("Geolocation is not supported by this browser.");
        }
      });
    },
    showPosition(position) {
      this.latitude = position.coords.latitude;
      this.longitude = position.coords.longitude;
    },
  },
  components: {
    StocktakeCount,
    StreamBarcodeReader,
  },
  mounted() {
    this.fetchData();
  },
};
</script>

<style scoped lang="scss">
.category.q-expansion-item--expanded {
  background: $primary;
  transition: 0.5s;
}

.subcategory.q-expansion-item--expanded {
  background: $secondary !important;
  transition: 0.5s;
}

.subcategory.q-expansion-item--collapsed {
  background: #f3f3f4 !important;
}

.q-expansion-item--collapsed {
  transition: 0.5s;
}

.border {
  border: 1px solid #b9b9ba;
}

p.label_stocktakeid {
  position: relative !important;
  top: -20px;
  font-size: 18px;
  background-color: white;
  width: fit-content;
  padding: 0 8px;
  margin: 8px 0px -24px 8px;
}

.products {
  ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
  }
}

@media (min-width: 576px) {
  .products {
    font-size: 18px;
  }
}
</style>
