<template>
  <template v-if="isLoading">
    <q-spinner
      color="primary"
      size="5em"
      class="absolute-center"
      style="z-index: 99"
    />
  </template>

  <template v-else>
    <q-banner
      dense
      class="bg-grey-3 text-center absolute-center"
      v-if="Object.keys(data).length == 0 && errorCode == '403'"
    >
      Sorry. Only Warehouse Managers have an access!
    </q-banner>

    <q-banner
      dense
      class="bg-grey-3 text-center absolute-center"
      v-if="Object.keys(data).length == 0 && errorCode != 403"
    >
      Sorry. There is no data found!
    </q-banner>
  </template>
</template>

<script>
export default {
  props: ["isLoading", "data", "errorCode"],
};
</script>

<style></style>
