.align-items-center[data-v-65a95939]{align-items:center}#q-app-login .title-desc[data-v-65a95939]{color:#6c6a6c}.brand-logo[data-v-65a95939]{left:1.5rem;position:absolute;top:1.5rem;width:130px;z-index:10}.my-card[data-v-65a95939]{box-shadow:0 1px 5px #0000,0 2px 2px #0000,0 3px 1px -2px #0000}