<template>
  <q-layout view="lHh Lpr lFf">
    <q-header elevated>
      <!-- {{ routes }} -->
      <!-- {{ dashboard }} -->
      <q-toolbar>
        <q-btn
          flat
          v-if="$route.meta.navigation === 'main'"
          dense
          round
          icon="menu"
          aria-label="Menu"
          @click="leftDrawerOpen = !leftDrawerOpen"
          v-show="$q.screen.lt.md"
        />

        <q-btn
          v-else
          flat
          dense
          round
          icon="reply"
          aria-label="Menu"
          @click="goBackRoute"
          v-show="$q.screen.lt.md"
        />

        <q-toolbar-title
          class="absolute-center title-with-id"
          v-show="$q.screen.lt.md && $route.params.poid"
        >
          {{ $route.name }} <br />
          {{ $route.params.printed_id }}
        </q-toolbar-title>

        <q-toolbar-title
          class="absolute-center title-without-id"
          v-show="$q.screen.lt.md && !$route.params.poid"
        >
          {{ $route.name }}
        </q-toolbar-title>

        <div
          class="
            absolute-right
            q-mr-sm q-gutter-sm
            row
            justify-center
            items-center
          "
          v-if="$q.screen.lt.sm && ($route.meta.save || $route.meta.reset)"
        >
          <q-btn
            v-show="$q.screen.lt.sm && $route.meta.reset"
            flat
            dense
            round
            type="submit"
            label="Reset"
            aria-label="Reset"
            @click.prevent="reset"
          />
          <q-btn
            v-show="$q.screen.lt.sm && $route.meta.save"
            flat
            dense
            round
            type="submit"
            label="Save"
            aria-label="Save"
            @click="save"
          />
        </div>

        <q-btn-dropdown
          stretch
          flat
          label="Transfer In"
          menu-anchor="bottom left"
          menu-self="top left"
          class="btn-dropdown-custom"
          no-caps
          v-show="!$q.screen.lt.md"
        >
          <q-list dense separator class="hoverable-menu">
            <q-item
              v-for="nav in transferInNavs"
              :to="nav.to"
              :key="nav"
              exact
              clickable
            >
              <q-item-section>
                <q-item-label>{{ nav.label }}</q-item-label>
              </q-item-section>
            </q-item>
          </q-list>
        </q-btn-dropdown>

        <q-btn-dropdown
          stretch
          flat
          label="Goods"
          menu-anchor="bottom left"
          menu-self="top left"
          class="btn-dropdown-custom"
          no-caps
          v-show="!$q.screen.lt.md"
        >
          <q-list dense separator class="hoverable-menu">
            <q-item
              v-for="nav in goodsNavs"
              :to="nav.to"
              :key="nav"
              exact
              clickable
            >
              <q-item-section>
                <q-item-label>{{ nav.label }}</q-item-label>
              </q-item-section>
            </q-item>
          </q-list>
        </q-btn-dropdown>

        <q-btn-dropdown
          stretch
          flat
          label="Assembly"
          menu-anchor="bottom left"
          menu-self="top left"
          class="float-left btn-dropdown-custom"
          no-caps
          v-show="!$q.screen.lt.md"
        >
          <q-list dense separator class="hoverable-menu">
            <q-item
              v-for="nav in assemblyNavs"
              :to="nav.to"
              :key="nav"
              exact
              clickable
            >
              <q-item-section>
                <q-item-label>{{ nav.label }}</q-item-label>
              </q-item-section>
            </q-item>
          </q-list>
        </q-btn-dropdown>

        <q-btn-dropdown
          stretch
          flat
          label="Stocktake"
          menu-anchor="bottom left"
          menu-self="top left"
          class="float-left btn-dropdown-custom"
          no-caps
          v-show="!$q.screen.lt.md"
        >
          <q-list dense separator class="hoverable-menu">
            <q-item
              v-for="nav in stocktakeNavs"
              :to="nav.to"
              :key="nav"
              exact
              clickable
            >
              <q-item-section>
                <q-item-label>{{ nav.label }}</q-item-label>
              </q-item-section>
            </q-item>
          </q-list>
        </q-btn-dropdown>

        <q-btn-dropdown
          flat
          text-color="#fff"
          color="primary"
          :label="currentUser"
          class="absolute-right btn-dropdown-custom q-mr-sm"
          no-caps
          v-show="!$q.screen.lt.sm"
        >
          <q-list
            dense
            separator
            class="hoverable-menu"
            v-show="!$q.screen.lt.sm"
          >
            <q-item
              clickable
              v-close-popup
              @click="$router.push('/account/profile')"
            >
              <q-item-section
                :class="{
                  'q-item--active': $route.name
                    .toLowerCase()
                    .includes('my account'),
                }"
              >
                <q-item-label>My Account</q-item-label>
              </q-item-section>
            </q-item>

            <q-item clickable v-close-popup @click="logoutNow">
              <q-item-section>
                <q-item-label>Logout</q-item-label>
              </q-item-section>
            </q-item>
          </q-list>
        </q-btn-dropdown>

        <q-btn
          v-show="$q.screen.lt.sm && stocktakeButton == 'start'"
          flat
          dense
          round
          type="submit"
          label="Start"
          aria-label="Save"
          class="absolute-right q-mr-sm"
          @click="startStocktake"
        />
        <q-btn
          v-show="$q.screen.lt.sm && stocktakeButton == 'continue'"
          flat
          dense
          round
          type="submit"
          label="Continue"
          aria-label="Save"
          class="absolute-right q-mr-sm"
          @click="startStocktake"
        />
        <div
          class="
            absolute-right
            q-mr-sm q-gutter-sm
            row
            justify-center
            items-center
          "
        >
          <q-btn
            v-show="$q.screen.lt.sm && stocktakeButton == 'complete-continue'"
            flat
            dense
            round
            type="submit"
            icon="chat_bubble_outline"
            aria-label="Save"
            @click="remarkStocktake"
          />
          <q-btn
            v-show="$q.screen.lt.sm && stocktakeButton == 'complete-continue'"
            flat
            dense
            round
            type="submit"
            icon="done"
            aria-label="Save"
            @click="completeStocktake"
          />
          <q-btn
            v-show="$q.screen.lt.sm && stocktakeButton == 'complete-continue'"
            flat
            dense
            round
            type="submit"
            icon="forward"
            aria-label="Save"
            @click="startStocktake"
          />
        </div>
        <q-btn
          v-show="$q.screen.lt.sm && stocktakeButton == 'submit'"
          flat
          dense
          round
          type="submit"
          label="submit"
          aria-label="Save"
          class="absolute-right q-mr-sm"
          @click="submitStocktake"
        />
      </q-toolbar>
    </q-header>

    <q-drawer
      v-model="leftDrawerOpen"
      bordered
      content-class="bg-grey-1"
      v-if="$q.screen.lt.md"
    >
      <q-list>
        <q-item-label header class="text-grey-8"> Navigation </q-item-label>
        <q-item
          v-for="(nav, index) in navs"
          :to="nav.to"
          :key="index"
          exact
          clickable
        >
          <q-item-section avatar>
            <q-icon :name="nav.icon" />
          </q-item-section>

          <q-item-section>
            <q-item-label>{{ nav.label }}</q-item-label>
          </q-item-section>
        </q-item>

        <q-expansion-item
          group="somegroup"
          icon="swap_vert"
          label="Internal Transfer"
        >
          <q-item
            v-for="nav in transferInNavs"
            :to="nav.to"
            :key="nav"
            exact
            clickable
            :inset-level="1"
          >
            <q-item-section avatar>
              <q-icon :name="nav.icon" />
            </q-item-section>

            <q-item-section>
              <q-item-label>{{ nav.label }}</q-item-label>
            </q-item-section>
          </q-item>
        </q-expansion-item>

        <q-expansion-item group="somegroup" icon="category" label="Goods">
          <q-item
            v-for="nav in goodsNavs"
            :to="nav.to"
            :key="nav"
            exact
            clickable
            :inset-level="1"
          >
            <q-item-section avatar>
              <q-icon :name="nav.icon" />
            </q-item-section>

            <q-item-section>
              <q-item-label>{{ nav.label }}</q-item-label>
            </q-item-section>
          </q-item>
        </q-expansion-item>

        <q-expansion-item group="somegroup" icon="inventory_2" label="Assembly">
          <q-item
            v-for="nav in assemblyNavs"
            :to="nav.to"
            :key="nav"
            exact
            clickable
            :inset-level="1"
          >
            <q-item-section avatar>
              <q-icon :name="nav.icon" />
            </q-item-section>

            <q-item-section>
              <q-item-label>{{ nav.label }}</q-item-label>
            </q-item-section>
          </q-item>
        </q-expansion-item>

        <q-expansion-item
          group="somegroup"
          icon="local_shipping"
          label="Stocktake"
        >
          <q-item
            v-for="nav in stocktakeNavs"
            :to="nav.to"
            :key="nav"
            exact
            clickable
            :inset-level="1"
          >
            <q-item-section avatar>
              <q-icon :name="nav.icon" />
            </q-item-section>

            <q-item-section>
              <q-item-label>{{ nav.label }}</q-item-label>
            </q-item-section>
          </q-item>
        </q-expansion-item>
      </q-list>
    </q-drawer>

    <q-page-container>
      <router-view @stocktake="onStocktake" />
    </q-page-container>

    <q-tabs
      v-model="tab"
      inline-label
      class="bg-primary text-white shadow-2 fixed-bottom"
      v-show="$route.meta.tab"
    >
      <q-tab
        name="Stocktake"
        label="Outstanding"
        @click="changeRoute('outstanding')"
      />
      <q-tab
        name="Stocktaked"
        label="Completed"
        @click="changeRoute('completed')"
      />
    </q-tabs>
  </q-layout>
</template>

<script>
import { mapActions } from "vuex";
import { mapState } from "vuex";
import { LocalStorage } from "quasar";
// import { useMeta } from "quasar";
import { createMetaMixin } from "quasar";

export default {
  name: "MainLayout",
  mixins: [
    createMetaMixin(function () {
      // "this" here refers to your component
      return {
        // assuming `this.myTitle` exists in your mixed in component
        title: this.$route.name,
      };
    }),
  ],
  data() {
    return {
      leftDrawerOpen: false,
      // leftDrawerOpen: $q.platform.is.desktop,
      currentUser: localStorage.getItem("name").split("|")[1],
      stocktakeButton: "",
      navs: [
        // {
        //   label: "Internal Transfer",
        //   icon: "delivery_dining",
        //   to: "/internal/transfer/",
        // },
        // {
        //   label: "Result Internal Transfer",
        //   icon: "delivery_dining",
        //   to: "/result/internal/transfer/",
        // },
        {
          label: "Home",
          icon: "home",
          to: "/",
        },
      ],
      transferInNavs: [
        {
          label: "Internal Transfer",
          icon: "delivery_dining",
          to: "/internal/transfer/",
        },
        {
          label: "Result Internal Transfer",
          icon: "delivery_dining",
          to: "/result/internal/transfer/",
        },
      ],
      goodsNavs: [
        {
          label: "All Good Receives Card",
          icon: "assignment_returned",
          to: "/create/good/receive/",
        },
        {
          label: "Incoming Goods Receive",
          icon: "assignment_returned",
          to: "/incoming/goods/receive",
        },
      ],
      assemblyNavs: [
        {
          label: "Assembly Requests Cards",
          icon: "shopping_bag",
          to: "/assembly/requests/cards/",
        },
      ],
      stocktakeNavs: [
        {
          label: "Stocktake List",
          icon: "local_shipping",
          to: "/stocktake/",
        },
      ],
    };
  },
  methods: {
    changeRoute(val) {
      if (val === "outstanding") {
        this.$router.push({
          name: "Stocktake",
          params: { stocktakeID: this.$route.params.stocktakeID },
        });
      } else {
        this.$router.push({
          name: "Stocktaked",
          params: { stocktakeID: this.$route.params.stocktakeID },
        });
      }
    },
    onStocktake(value) {
      // this.stocktakeButton = this.stocktakeButton != value ? value : "";
      this.stocktakeButton = value;
      console.log("Buttons: ", this.stocktakeButton);
    },
    submit() {
      // this.bus.$emit("submit");
      console.log("test");
      // this.$global.emit("submit", "test");
      this.eventBus.emit("submit", "submit");
    },
    reset() {
      this.eventBus.emit("reset", "reset");
    },
    save() {
      this.eventBus.emit("save", "save");
    },
    submitStocktake() {
      this.eventBus.emit("submitStocktake", "submitStocktake");
    },
    remarkStocktake() {
      this.eventBus.emit("remarkStocktake", "remarkStocktake");
    },
    completeStocktake() {
      this.eventBus.emit("completeStocktake", "completeStocktake");
    },
    startStocktake() {
      this.eventBus.emit("startStocktake", "startStocktake");
    },
    logoutNow() {
      try {
        this.logoutProcess();
      } catch (e) {
        console.log("error: ", e);
      }
    },
    goBackRoute() {
      this.$router.back();
    },
    ...mapActions("auth", ["logoutProcess"]),
  },
  computed: {
    currentRouteName() {
      return this.$route.name;
    },
    tab: {
      get() {
        return this.currentRouteName;
      },
      set(value) {
        return value;
      },
    },
    ...mapState("auth", ["name"]),
  },
  watch: {
    currentUser() {
      return localStorage.getItem("name");
    },
    // $route(to, from) {
    //   // react to route changes...
    //   console.log("Testing");

    //   const metaData = {
    //     // sets document title
    //     title:
    //       this.$route.name.charAt(0).toUpperCase() + this.$route.name.slice(1),
    //     // optional; sets final title as "Index Page - My Website", useful for multiple level meta
    //     titleTemplate: (title) => `${title} - My Website`,

    //     // meta tags
    //     meta: {
    //       description: { name: "description", content: "Page 1" },
    //       keywords: { name: "keywords", content: "Quasar website" },
    //       equiv: {
    //         "http-equiv": "Content-Type",
    //         content: "text/html; charset=UTF-8",
    //       },
    //       // note: for Open Graph type metadata you will need to use SSR, to ensure page is rendered by the server
    //       ogTitle: {
    //         property: "og:title",
    //         // optional; similar to titleTemplate, but allows templating with other meta properties
    //         template(ogTitle) {
    //           return `${ogTitle} - My Website`;
    //         },
    //       },
    //     },
    //   };

    //   useMeta(metaData);
    // },
  },
  beforeRouteUpdate() {
    this.stocktakeButton = "";
  },
};
</script>

<style lang="scss">
.platform-ios {
  .q-header {
    padding-top: constant(safe-area-inset-top);
    padding-top: env(safe-area-inset-top);
  }
  .q-footer {
    padding-bottom: constant(safe-area-inset-bottom);
    padding-bottom: env(safe-area-inset-bottom);
  }
  .q-page-container {
    padding-top: calc(100px + constant(safe-area-inset-top, 0)) !important;
    // padding-top: calc(100px + env(safe-area-inset-top, 0)) !important;
  }
}

.hoverable-menu {
  .q-hoverable:hover {
    background-color: #152738;
    color: #fff;
  }
}

.hoverable-menu {
  .q-hoverable {
    .q-item--active:hover {
      color: #fff;
    }
  }
}

.btn-dropdown-custom:hover,
.btn-dropdown-custom:active,
.btn-dropdown-custom[aria-expanded="true"] {
  background-color: #152738 !important;
  color: #fff;
}

.btn-dropdown-custom[aria-expanded="false"] {
  background-color: $primary;
  color: #fff;
}

.title-with-id {
  font-size: 14px;
  text-align: center;
}

.title-without-id {
  font-size: 14px;
}
</style>
